<script setup>
import { playlistDetailApi, commentPlaylistlApi } from '@/api'
import { useRoute, useRouter } from 'vue-router'
import { usePlayerStore } from '../../stores/player'
import { ref } from 'vue'
import moment from 'moment'

const playerStore = usePlayerStore()
const route = useRoute()
const router = useRouter()
const playlistInfo = ref({})
const hotComments = ref([])
const comments = ref([])

playlistDetailApi(route.query.id).then(res => {
  console.log(res.data.playlist)
  playlistInfo.value = res.data.playlist
})

commentPlaylistlApi(route.query.id).then(res => {
  console.log(res.data)
  hotComments.value = res.data.hotComments
  comments.value = res.data.comments
})

const playAll = () => {
  playerStore.setPlayList(playlistInfo.value.tracks)
  router.push('/player')
}
const playSong = (song) => {
  playerStore.addSong(song)
  router.push('/player')
}

</script>

<template>
  <div class="page">
    <header>
      <img :src="playlistInfo.coverImgUrl" alt="">
      <div class="info">
        <h3>{{ playlistInfo.name }}</h3>
        <div class="creater">
          <img :src="playlistInfo.creator?.avatarUrl" alt="">
          <p>{{ playlistInfo.creator?.nickname }}</p>
        </div>
        <p>创建时间：{{ moment(playlistInfo.createTime).format('YYYY-MM-DD') }}</p>
        <p class="description">{{ playlistInfo.description }}</p>
      </div>
      <div class="bg">
        <img :src="playlistInfo.coverImgUrl" alt="">
        <p></p>
      </div>
    </header>
    <div class="list">
      <h3 @click="playAll"><i class="iconfont icon-playcircle"></i>全部播放</h3>
      <div
        class="list-item"
        v-for="(item, index) in playlistInfo.tracks"
        :key="item.id"
        @click="playSong(item)"
      >
        <b>{{ index + 1 }}</b>
        <div class="song">
          <p>{{ item.name }}</p>
          <p>
            {{ item.ar.map(v => v.name).join('/') }} - {{ item.al.name }}
          </p>
        </div>
        <i class="iconfont icon-playcircle"></i>
      </div>
    </div>
    <div class="comments">
      <h3>热门评论</h3>
      <div class="comments-item" v-for="item in hotComments" :key="item.commentId">
        <img :src="item.user.avatarUrl" alt="">
        <div class="comment-content">
          <h4>{{ item.user.nickname }}</h4>
          <p>{{ item.timeStr }}</p>
          <p>{{ item.content }}</p>
        </div>
        <div class="like">点赞</div>
      </div>
      <h3>最新评论</h3>
      <div class="comments-item" v-for="item in comments" :key="item.commentId">
        <img :src="item.user.avatarUrl" alt="">
        <div class="comment-content">
          <h4>{{ item.user.nickname }}</h4>
          <p>{{ item.timeStr }}</p>
          <p>{{ item.content }}</p>
        </div>
        <div class="like">点赞</div>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.page {
  width: 100%;
  height: 100%;
  overflow: auto;
}
header {
  display: flex;
  padding: 20px;
  position: relative;
  overflow: hidden;
  & > img {
    width: 120px;
    height: 120px;
  }
  .info {
    flex: 1;
    color: #ffffff;
    padding-left: 20px;
  }
}
.creater {
  display: flex;
  align-items: center;
  padding: 10px;
  p {
    margin-left: 10px;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.description {
  height: 38px;
  overflow: hidden;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  img {
    filter: blur(20px);
  }
  p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
  }
}
.list {
  h3 {
    line-height: 40px;
    padding-left: 16px;
    background: #eeeff0;
    i {
      margin-right: 10px;
    }
  }
}
.list-item {
  display: flex;
  border-bottom: 1px solid #dddddd;
  height: 50px;
  font-size: 20px;
  color: #999999;
  b {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  .iconfont {
    font-size: 26px;
    width: 50px;
    text-align: center;
    line-height: 50px;
  }
}
.song {
  flex: 1;
  font-size: 16px;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  p:last-of-type {
    font-size: 12px;
    color: #999999;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.comments {
  h3 {
    background: #eeeff0;
    padding-left: 15px;
  }
}
.comments-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .comment-content {
    flex: 1;
    padding-left: 10px;
  }
}
</style>
