<template>
  <div class="box">
    <h2>child1组件</h2>
    <ul>
      <li v-for="v in arr" :key="v">{{ v }}</li>
    </ul>
  </div>
</template>

<script>

export default {
  data () {
    return {
      arr: [1, 2, 3, 4, 5, 6]
    }
  },
  created () {
    console.log('child1', this.$bus)
    // 注册事件
    this.$bus.$on('push', (n) => {
      this.arr.push(n)
    })
    this.$bus.$once('push', () => {
      console.log('有人调用了push')
    })
  }
}
</script>

<style lang="scss">
.box {
  border: 1px solid red;
  height: 300px;
  margin-bottom: 10px;
  overflow: auto;
}
</style>
