<template>
  <div class="box">
    <h2>child2组件</h2>
    <button @click="num++">按钮点击次数：{{ num }}</button>
    <button @click="add">添加child1的数据</button>
  </div>
</template>

<script>

export default {
  data () {
    return {
      num: 0
    }
  },
  methods: {
    add () {
      console.log('child2', this.$bus)
      // 触发事件
      this.$bus.$emit('push', Math.random())
    }
  }
}

</script>

<style lang="scss">
.box {
  border: 5px solid red;
  height: 300px;
  margin-bottom: 10px;
}
</style>
