<template>
  <div class="box">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <Child2 :title="title" />
  </div>
</template>

<script>
import Child2 from './Child2.vue'

export default {
  data() {
    return {
      title: 'Child1'
    }
  },
  components: {
    Child2
  },
  beforeCreate(){
    console.log('%c Child1 beforeCreate', 'color: red;font-size: 20px')
  },
  created() {
    console.log('%c Child1 created', 'color: red;font-size: 20px')
  },
  beforeMount() {
    console.log('%c Child1 beforeMount', 'color: red;font-size: 20px')
  },
  mounted() {
    console.log('%c Child1 mounted', 'color: red;font-size: 20px')
  },
  beforeUpdate() {
    console.log('%c Child1 beforeUpdate', 'color: red;font-size: 20px')
  },
  updated() {
    console.log('%c Child1 updated', 'color: red;font-size: 20px')
  },
  beforeDestroy() {
    console.log('Child1 销毁之前')
  },
  destroyed() {
    console.log('Child1 销毁之后')
  }
}
</script>

<style scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>