<template>
  <div class="box">
    <h1>父组件的title: {{ title }}</h1>
    <h2>Child2</h2>
    <button @click="n--">-</button>
    {{n}}
    <button @click="n++">+</button>
  </div>
</template>

<script>
export default {
  props: ['title'],
  data() {
    return {
      n: 0
    }
  },
  beforeCreate(){
    console.log('%c Child2 beforeCreate', 'color: green;font-size: 20px')
  },
  created() {
    console.log('%c Child2 created', 'color: green;font-size: 20px')
    this.timer = setInterval(() => {
      this.n++
      console.log(this.n)
    }, 1000)
  },
  beforeMount() {
    console.log('%c Child2 beforeMount', 'color: green;font-size: 20px')
  },
  mounted() {
    console.log('%c Child2 mounted', 'color: green;font-size: 20px')
  },
  beforeUpdate() {
    console.log('%c Child2 beforeUpdate', 'color: green;font-size: 20px')
  },
  updated() {
    console.log('%c Child2 updated', 'color: green;font-size: 20px')
  },
  // 组件销毁之前，清除异步任务（定时器、原生事件）
  beforeDestroy() {
    console.log('Child2 销毁之前')
    clearInterval(this.timer)
  },
  destroyed() {
    console.log('Child2 销毁之后')
  }
}
</script>

<style scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>