table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid;
  padding: 0 10px;
}
table th {
  background: skyblue;
}
.active {
  background: skyblue;
}
.page1 {
  display: flex;
}