.nav {
  display: flex;
  border-bottom: 1px solid #ededed;
  height: 50px;
  position: relative;
  a {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #191a1b;
    line-height: 50px;
  }
  :global(.active) {
    color: #ff5f16;
  }
}
.line {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50%;
  transition: transform 0.3s linear;
  span {
    display: block;
    height: 2px;
    width: 50%;
    background: #ff5f16;
    margin: 0 auto;
  }
}
