<template>
  <div class="home">
    <header>
      <div class="logo">Logo</div>
      <nav>
        <router-link to="/">监控页</router-link>
        <router-link to="/students">学生列表</router-link>
        <router-link to="/child3">导航三</router-link>
        <router-link to="/child4">导航四</router-link>
      </nav>
      <div class="userinfo">
        <el-avatar shape="square" size="medium" src="https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png"></el-avatar>
        <el-dropdown @command="command">
          <span class="el-dropdown-link">
            王小明 <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item :command="1">个人信息</el-dropdown-item>
            <el-dropdown-item :command="2">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </header>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
export default {
  methods: {
    command(key) {
      if (key === 2) {
        console.log('退出')
        this.$router.replace('/login')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  min-height: 100vh;
  background: #f2f2f2;
}
header {
  height: 62px;
  background: #4481f6;
  padding: 0 16px;
  display: flex;
}
nav {
  flex: 1;
  display: flex;
  align-items: center;
  a {
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    color: #ffffff;
    &:hover, &.router-link-exact-active {
      background: #1861d5;
    }
  }
}
.logo {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 20px;
}
.userinfo {
  display: flex;
  align-items: center;
}
.el-dropdown-link {
  color: #ffffff;
}
.el-avatar {
  margin-right: 14px;
}
main {
  padding: 20px;
}
</style>
