<script setup>
import { ref } from 'vue'
import Child1 from './components/Child1.vue'
import useCount from './hooks/useCount'
const title = ref('标题')

const { num, start, stop, reset } = useCount(5)

</script>

<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <p>倒计时：{{ num }}</p>
  <button @click="start">开始</button>
  <button @click="stop">暂停</button>
  <button @click="reset">重置</button>
  <Child1 />
</template>

<style lang="scss">
h1 {
  color: red;
}
</style>
