/* pages/cart/cart.wxss */
.num button {
  vertical-align: middle;
}
.num text {
  margin: 0 10px;
}
.red {
  width: 100px;
  height: 100px;
  background: red;
}
.green {
  width: 100px;
  height: 100px;
  background: green;
}
.blue {
  width: 100px;
  height: 100px;
  background: blue;
}
.list-item {
  border-bottom: 1px dashed;
  line-height: 40px;
  padding: 0 20px;
}