* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
li {
  list-style: none;
}
img {
  width: 100%;
  vertical-align: middle;
}