<script setup>
import { ref, isRef, unref, reactive, toRef, toRefs } from 'vue'
const title = ref('标题')
const num = ref(10)
const arr = reactive([])
const obj = reactive({ name: '小明', age: 20 })
const a = 100

// 把对象的某个属性变成ref对象，并且和原对象的属性关联
const b = toRef(obj, 'age')
console.log(b)


const obj1 = reactive({ x: 100, y: 200 })
// 把对象的所有属性变成ref对象，并且和原对象的属性关联
const { x, y } = toRefs(obj1)
console.log(obj1)
</script>

<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <p>倒计时：{{ num }}</p>
  <hr />
  <p @click="b++">b: {{ b }}</p>
  <button @click="obj.age++">age +</button>
  {{ obj }}
  <hr />
  <button @click="x++">x</button>
  <button @click="y++">y</button>
  <button @click="obj1.x++">obj1.x</button>
  <p>x: {{ x }}, y: {{ y }}</p>
  {{ obj1 }}
</template>

<style lang="scss">
h1 {
  color: red;
}
</style>
