<script setup>
import { reactive } from 'vue'

// reactive: 创建引用类型响应式变量
// 1. js中不要通过value获取，但是不能创建基础类型变量，string、number、boolean
// 2. 不能给变量重新赋值
// 3. 解构出来的变量是个普通变量，会和之前的对象断开链接

const obj = reactive({
  title: '默认标题',
  num: 10
})

const reset = () => {
  obj.title = '默认标题'
}
const addNum = () => {
  obj.num++
}
</script>

<template>
  <div class="app">
    <h1>{{ obj.title }}</h1>
    <input type="text" v-model="obj.title">
    <button @click="reset">重置标题</button>
  </div>
  <button @click="obj.num--">-</button>
    {{ obj.num }}
  <button @click="addNum">+</button>
</template>


<style lang='scss' scoped>

</style>
