.home {
  width: 100vw;
  height: 100vh;
}
.header {
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
}
.content {
  background: #f5f5f5;
  padding: 16px;
  overflow: auto;
}
.outletWrap {
  background: #ffffff;
  padding: 16px;
  min-height: 100%;
  border-radius: 10px;
}
.logo {
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.right {
}