<template>
  <div class="child">
    <h1>{{title}}</h1>
    <p>价格: ¥{{price}}
       <button @click="sub">-</button>
       <button @click="$emit('change', 2)">+</button>
    </p>
    <div>
       <button @click="num--">-</button>
        {{num}}
        <button @click="num++">+</button>
    </div>
  </div>
</template>

<script>
export default {
  // data必须是一个函数，让组件复用时都有自己独立的数据，不会互相影响
  data() {
    return {
      num: 0
    }
  },
  // 接收组件的参数
  props: ['title', 'price'],
  methods: {
    sub() {
      // 调用父组件传过来的自定义事件
      this.$emit('change', -2)
    }
  }
}
</script>

<style lang="scss" scoped>
// scoped: 样式隔离，让样式只在组件内生效
.child {
  border: 1px solid;
  padding: 20px;
}
h1 {
  color: red;
}
</style>