.control {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 150px;
  height: 50px;
  background: #8b8b8b;
  text-align: center;
  line-height: 50px;
  margin: 10px 0;
}
.volume {
  width: 200px;
  height: 6px;
  background: #4e4e4e;
  border: 2px solid #282828;
  box-shadow: 0px 0px 1px 1px #333333;
  margin: 30px 0;
  position: relative;
  b {
    position: absolute;
    left: 0;
    top: -10px;
    width: 10px;
    height: 24px;
    background: #0023f5;
    box-shadow: 0px 0px 1px 1px #003eff;
  }
}