<template>
  <div class="menu" v-if="visible">
    <transition name="fade">
      <div class="mask" v-if="showMask" @click.self="$emit('close')"></div>
    </transition>
    <transition name="slide">
      <ul v-if="showMask">
        <li v-for="v in 6" :key="v">菜单{{ v }}</li>
      </ul>
    </transition>
  </div>
</template>

<script>
export default {
  props: ['visible'],
  data () {
    return {
      showMask: false
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s linear;
}
.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
}
ul {
  width: 60%;
  height: 100%;
  background: #dddddd;
  position: relative;
}
li {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px dashed;
}
</style>
