<template>
  <div id="app">
    <div class="box red" @click.capture="clickRedCapture" @click="clickRed">
      <div class="box green" @click="clickGreen">
        <div class="box blue" @click.stop="clickBlue"></div>
      </div>
    </div>
    <a href="http://www.baidu.com">
      <span @click.prevent="clickLink">跳转</span>
    </a>
    <ul @click.self="clickUL">
      <li v-for="item in 5" :key="item">{{ item }}</li>
    </ul>
    <hr />
    <!-- <input type="text" @keydown.13="keydownFn"> -->
    <input type="text" @keydown.b="keydownFn">
  </div>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  methods: {
    clickRedCapture() {
      alert('捕获 Red')
    },
    clickGreenCapture() {
      alert('捕获 Green')
    },
    clickBlueCapture() {
      alert('捕获 blue')
    },
    clickRed() {
      alert('冒泡 Red')
    },
    clickGreen() {
      alert('冒泡 Green')
    },
    clickBlue(e) {
      alert('冒泡 blue')
    },
    clickLink() {
      console.log('点击了a标签')
    },
    clickUL() {
      console.log('点击了ul')
    },
    keydownFn(e) {
      console.log(e)
    }
  }
}


</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  background: #999;
  line-height: 40px;
  margin-bottom: 20px;
}
ul {
  background: orange;
  padding: 20px;
}
.box {
  padding: 60px;
}
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
</style>
