<template>
  <div class="box">
    <h3>child4-2</h3>
    <h4>{{title}}</h4>
    <button @click="$emit('change', '123')">修改title</button>
  </div>
</template>

<script>
export default {
  props: ['title']
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  height: 500px;
}
</style>