<template>
  <div class="box">
    <h3>child4-1</h3>
    <button @click="changeNum(-1)">-</button>
    {{num}}
    <button @click="changeNum(1)">+</button>
    <hr />
    <h3>{{ title }}</h3>
    <button @click="$emit('change', Math.random())">修改title</button>
  </div>
</template>

<script>
export default {
  props: ['title'],
  data () {
    return {
      num: 10
    }
  },
  methods: {
    changeNum(n) {
      this.num += n
    }
  },
  created() {
    // this.$bus.changeNum = (m) => {
    //   console.log('有人调用了changeNum', m)
    //   this.changeNum(m)
    // }
    this.$bus.$on('changeNum', (m) => {
      console.log('有人调用了changeNum', m)
      this.changeNum(m)
    })
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  height: 500px;
}
</style>