<template>
  <header>
    <div class="logo">Logo</div>
    <button @click="add">+2</button>
    <button @click="sub">-2</button>
  </header>
</template>

<script>
export default {
  methods: {
    add() {
      console.log(this)
      // this.$bus.changeNum(2)
      this.$bus.$emit('changeNum', 2)
    },
    sub() {
      console.log(this.$bus)
      // this.$bus.changeNum(-2)
      this.$bus.$emit('changeNum', -2)
    }
  },
  created() {
    console.log(window)
  }
}
</script>

<style lang="scss" scoped>
header {
  height: 60px;
  background: #041528;
  padding: 0 20px;
  line-height: 60px;
  color: #ffffff;
  font-size: 26px;
  display: flex;
}
</style>