<template>
  <div id="app">
    <input type="text" placeholder="请输入要查找的内容" v-model="searchText">
    <ul>
      <li v-for="val in newArr" :key="val">{{ val }}</li>
    </ul>
    <hr />
    <p>姓氏：{{firstName}} <input type="text" v-model="firstName"></p>
    <p>名字：{{lastName}} <input type="text" v-model="lastName"></p>
    {{fullName}}
    <hr />
    <button @click="addNum">添加</button>
    <ul>
      <li v-for="item in numList" :key="item">{{item}}</li>
    </ul>
    <p>总数：{{ total }}</p>
    <hr />
    <h3>翻倍</h3>
    <ul>
      <li v-for="item in doubleNum" :key="item">{{item}}</li>
    </ul>
    <hr />
    <h3>奇数</h3>
    <ul>
      <!-- 不推荐v-for和v-if在同一个标签上使用，改成计算属性 -->
      <!-- <li v-for="item in numList" v-if="item % 2 === 1" :key="item">{{item}}</li> -->
      <li v-for="item in oddNumList" :key="item">{{item}}</li>
    </ul>
  </div>
</template>

<script>

export default {
  data() {
    return {
      searchText: '',
      arr: ['avadfadsa', 'ytfred', 'qewasd', '23szxfee', '12sdayyyyy', '2lpphooy'],
      firstName: '我姓王',
      lastName: '小明',
      numList: []
    }
  },
  computed: {
    // 计算属性：由一个或者多个变量生成时使用，会监听计算属性函数内使用的变量是否改变，变量改变自动重新计算结果，没改变就从缓存中读取数据
    newArr() {
      return this.arr.filter(v => v.includes(this.searchText))
    },
    fullName() {
      console.log('计算fullName')
      return `我的名字叫: ${this.firstName} ${this.lastName}`
    },
    total() {
      let t = 0
      this.numList.forEach(val => {
        t += val
        console.log(t)
      })
      return t
    },
    oddNumList() {
      return this.numList.filter(v => v % 2 === 1)
    },
    doubleNum() {
      return this.numList.map(v => ({
        num: v * 2,
        n: v
      }))
    }
  },
  methods: {
    addNum() {
      this.numList.push(Math.floor(Math.random() * 100) + 1)
    },
    // total() {
    //   let t = 0
    //   this.numList.forEach(val => {
    //     t += val
    //     console.log(t)
    //   })
    //   return t
    // }
  }
}


</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  padding: 0 20px;
}
</style>
