/* pages/mine/mine.wxss */
.box {
  width: 100%;
  display: flex;
  .item {
    background: orange;
    width: 250rpx;
    height: 250rpx;
    &:nth-child(odd) {
      background: tomato;
    }
  }
}

