.compare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
  img {
    width: 150px;
    height: 150px;
  }
}
.item {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cecece;
  background: #242529;
  :global {
    animation: backInDown 1s;
  }
  &:nth-child(even) {
    background: #212226;
    :global {
      animation: backInUp 1s;
    }
  }
  p, h2 {
    margin-top: 20px;
  }
}
.isClose {
  .item {
    :global {
      animation: backOutUp 1s;
    }
    &:nth-child(even) {
      :global {
        animation: backOutDown 1s;
      }
    }
  }
}
.close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #cecece;
  cursor: pointer;
}