.home {
  width: 100%;
  height: 100%;
  display: flex;
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    nav {
      height: 100px;
      border-bottom: 1px solid #dddddd;
      padding-top: 50px;
      display: flex;
      a {
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 40px;
        margin: 0 10px;
        position: relative;
        span {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          text-align: center;
          line-height: 20px;
          &:hover {
            background: #cccccc;
          }
        }
      }
      :global(.active) {
        background: #f0f2f5;
      }
    }
  }
}
.menu {
  width: 250px;
  background: #031d49;
  display: flex;
}
.tabNav {
  width: 100px;
  background: #001236;
  padding-top: 120px;
  p {
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    opacity: 0.7;
    cursor: pointer;
  }
  .active {
    background: #031d49;
    opacity: 1;
    border-left: 3px solid #ffffff;
  }
}
.tabContent {
  width: 150px;
  h3 {
    height: 120px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    line-height: 120px;
    color: #ffffff;
  }
  a {
    display: block;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
  }
  :global(.active) {
    background: orange;
  }
}
.content {
  flex: 1;
  background: #f0f2f6;
  padding: 20px;
}