<script setup>
import { ref } from 'vue'
const num = ref(0)
const aa = ref('AA')

const add = n => {
  num.value += n
}
// 暴露给父组件的数据和方法
defineExpose({
  num,
  add,
  aa
})

</script>

<template>
  <div class="box">
    <h2>child组件 - {{ aa }}</h2>
    <button @click="add(-1)">-</button>
    {{ num }}
    <button @click="add(1)">+</button>
  </div>
</template>

<style scoped>
.box {
  border: 1px solid tomato;
  padding: 20px;
}
</style>
