<template>
  <div>
    <h2>页面四</h2>
    <Child4_1 :title="title" @change="changeTitle"/>
    <Child4_2 :title="title" @change="changeTitle" />
  </div>
</template>

<script>
import Child4_1 from '../components/Child4_1.vue'
import Child4_2 from '../components/Child4_2.vue'

export default {
  data() {
    return {
      title: '标题'
    }
  },
  methods: {
    changeTitle(title) {
      this.title = title
    }
  },
  components: {
    Child4_1,
    Child4_2
  }
}
</script>

<style>

</style>