<template>
  <div class="child" v-loading="loading">
    <ul>
      <li v-for="item in list" :key="item.id" @click="goDetail(item.id)">
        <img :src="item.coverImgUrl" alt="">
        <p>{{item.name}}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      list: [],
      loading: false
    }
  },
  methods: {
    goDetail(id) {
      // this.$router.push('/home/child1/detail')
      // this.$router.push(`/home/child1/detail?id=${id}&a=100`)
      this.$router.push({
        path: '/home/child1/detail',
        query: {
          id,
          a: 100,
          b: 200
        }
      })
    }
  },
  async created() {
    this.loading = true
    const res = await axios.get('https://zyxcl.xyz/music_api/toplist')
    this.list = res.data.list
    this.loading = false
  }
}
</script>

<style lang="scss" scoped>
.child {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  min-width: 800px;
  min-height: 500px;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
  width: calc((100% - 140px) / 8);
  margin-right: 20px;
  margin-bottom: 10px;
  &:nth-child(8n) {
    margin-right: 0;
  }
  p {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
img {
  width: 100%;
  vertical-align: top;
}
</style>