<template>
  <div>
    <h2>页面三</h2>
    <button @click="go({ a: 100 })">a=100</button>
    <button @click="go({ b: 200 })">b=200</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num: 10
    }
  },
  methods: {
    go(query) {
      this.$router.push({
        path: '/home/child3',
        query
      })
    }
  },
  watch: {
    // $route() {
    //   console.log('路由改变了', this.$route)
    // }
  },
  beforeRouteEnter(to, from, next) {
    // 在渲染该组件的对应路由被 confirm 前调用
    // 不！能！获取组件实例 `this`
    // 因为当守卫执行前，组件实例还没被创建
    console.log('跳转到此组件之前')
    next()
  },
  beforeRouteUpdate(to, from, next) {
    // 在当前路由改变，但是该组件被复用时调用
    // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
    // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
    // 可以访问组件实例 `this`
    console.log('路由更新了，但是组件复用了')
    next()
  },
  beforeRouteLeave(to, from, next) {
    // 导航离开该组件的对应路由时调用
    // 可以访问组件实例 `this`
    console.log('离开组件了')
    if (window.confirm('你确定要离开吗？')) {
      next()
    }
  }
}
</script>

<style>

</style>