<template>
  <div class="detail" v-loading="loading">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
    <ul>
      <li v-for="item in tracks" :key="item.id" @click="goPlayer(item.id)">
        <img :src="item.al.picUrl" alt="">
        <h3>{{ item.name }}</h3>
        -
        <p>
          <span v-for="val in item.ar" :key="val.id">{{ val.name }} /</span> 
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      name: '',
      description: '',
      tracks: [],
      loading: false
    }
  },
  methods: {
    goPlayer(id) {
      this.$router.push(`/home/child1/player/${id}`)
    }
  },
  async created() {
    // this.$router: 路由实例对象，可以跳转页面
    // this.$route: 当前页面路由信息，可以获取参数
    // this.$route.query: 获取路由？后的参数
    console.log(this.$route.query.id)
    this.loading = true
    const res = await axios.get('https://zyxcl.xyz/music_api/playlist/detail', {
      params: {
        id: this.$route.query.id
      }
    })
    this.name = res.data.playlist.name
    this.description = res.data.playlist.description
    this.tracks = res.data.playlist.tracks
    this.loading = false
  }
}
</script>

<style lang="scss" scoped>
.detail {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  min-height: 500px;
  li {
    display: flex;
    align-items: center;
    background: #dddddd;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  h3 {
    margin: 0 15px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
</style>