<template>
  <div class="page">
    <Header />
    <main>
      <div class="menu">
        <router-link to="/home/child1">导航1</router-link>
        <router-link to="/home/child2">导航2</router-link>
        <router-link to="/home/child3">导航3</router-link>
        <router-link to="/home/child4">导航4</router-link>
        <router-link to="/home/child5">导航5</router-link>
      </div>
      <div class="content">
        <router-view />
      </div>
    </main>
  </div>
</template>

<script>
import Header from '../components/Header.vue'
export default {
  components: {
    Header
  }
}
</script>

<style lang="scss" scoped>
.page {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
    background: #dddddd;
    display: flex;
  }
}
.menu {
  width: 250px;
  background: #ffffff;
  overflow: auto;
  a {
    display: block;
    padding-left: 20px;
    line-height: 40px;
    border-bottom: 1px dashed #dddddd;
    text-decoration: none;
    color: #333333;
    &.router-link-active {
      background: orange;
    }
  }
}
.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}
</style>