<template>
  <div>
    <h1>登录页面</h1>
    <router-link to="/home">跳转首页</router-link>
    <button @click="login">登录</button>
  </div>
</template>

<script>
export default {
  methods: {
    login() {
      localStorage.setItem('testtoken', '12343234323212')
      // this.$router: 路由实例对象
      this.$router.push('/home')
      // this.$router.replace('/home')
    }
  }
}
</script>

<style>

</style>