<template>
  <div class="detail" v-loading="loading">
    <h2>{{ name }}</h2>
    <p>{{ ar }}</p>
    <img :src="picUrl" width="200px" height="200" alt="">
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      loading: false,
      name: '',
      picUrl: '',
      ar: ''
    }
  },
  async created() {
    // console.log(this.$route.params)
    this.loading = true
    const res = await axios.get('https://zyxcl.xyz/music_api/song/detail', {
      params: {
        ids: this.$route.params.id
      }
    })
    console.log(res.data.songs[0])
    this.name = res.data.songs[0].name
    this.picUrl = res.data.songs[0].al.picUrl
    this.ar = res.data.songs[0].ar.map(v => v.name).join('/')
    
    this.loading = false
  }
}
</script>

<style lang="scss" scoped>
.detail {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  min-height: 500px;
}
</style>