<template>
  <div class="btn">
    <button @click="$emit('input', value - 1)">-</button>
    {{ value }}
    <button @click="$emit('input', value + 1)">+</button>
  </div>
</template>

<script>
export default {
  props: ['value']
}
</script>

<style lang="scss" scoped>
.btn {
  padding: 20px;
  border: 1px solid;
  button {
    min-width: 20px;
    min-height: 20px;
  }
}
</style>