<template>
  <div class="formItem">
    <div class="label">{{ label }}:</div>
    <input type="text" :value="value" @input="$emit('input', $event.target.value)">
  </div>
</template>

<script>
export default {
  props: ['label', 'value']
}
</script>

<style lang="scss" scoped>
.formItem {
  display: flex;
  margin-top: 20px;
  input {
    flex: 1;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 0 15px;
    outline: none;
  }
}
.label {
  width: 100px;
  line-height: 40px;
  text-align: right;
  padding: 0 20px;
}
</style>