<template>
  <div class="home">
    <main>
      <router-view />
    </main>
    <footer>
      <router-link to="/home/movie">电影</router-link>
      <router-link to="/home/cinema">影院</router-link>
      <router-link to="/home/mine">我的</router-link>
    </footer>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
footer {
  height: 60px;
  border-top: 1px solid #999999;
  display: flex;
  a {
    flex: 1;
    line-height: 60px;
    color: #333333;
    text-align: center;
    &.router-link-active {
      background: tomato;
    }
  }
}
</style>
