<template>
  <div id="app">
    <h2>{{ title }}</h2>
    <button @click="title = 'v-model'">重置</button>
    <input type="text" v-model="title">
    <input type="text" :value="title" @input="title = $event.target.value">

    <hr />
    <p>姓名：<input type="text" v-model.trim.lazy="form.name"></p>
    <p>年龄：<input type="number" v-model.number="form.age"></p>
    <p>性别：
      <input type="radio" id="men" :value="1" name="sex" v-model="form.sex">
      <label for="men">男</label>
      <input type="radio" id="women" :value="2" name="sex" v-model="form.sex">
      <label for="women">女</label>
    </p>
    <p>已婚: <input type="checkbox" v-model="form.married"></p>
    <p>爱好:
      <div><input type="checkbox" value="0" v-model="form.hobby" /> 唱歌</div>
      <div><input type="checkbox" value="1" v-model="form.hobby" /> 跳舞</div>
      <div><input type="checkbox" value="2" v-model="form.hobby" /> 篮球</div>
      <div><input type="checkbox" value="3" v-model="form.hobby" /> tap</div>
    </p>
    <p>地址:
      <select v-model="form.address">
        <option value="">请选择</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="guangzhou">广州</option>
      </select>
    </p>
    <p>备注:
      <textarea v-model="form.remark"></textarea>
    </p>
    {{form}}
    <button @click="submit">提交</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'v-model',
      form: {
        name: '小明',
        age: 22,
        sex: 2,
        married: true,
        hobby: [],
        address: 'shanghai',
        remark: ''
      }
    }
  },
  methods: {
    submit() {
      console.log(this.form)
    }
  }
}


</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  background: #999;
  line-height: 40px;
  margin-bottom: 20px;
}
ul {
  background: orange;
  padding: 20px;
}
.box {
  padding: 60px;
}
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
</style>
