<template>
  <div>
    <h1>插槽</h1>
    <button @click="show = true">普通弹窗</button>
    <Dialog
      v-if="show"
      title="弹窗一"
      cancelText="残忍取消"
      okText="确定按钮"
      @close="close"
      @cancel="close"
      @ok="ok"
    >
      <template #header>
        <b>我想添加到标题上</b>
      </template>
      <!-- v-slot:插槽name 简写 #插槽name  渲染到具名插槽的位置 -->
      <template v-slot:footer>
        <img width="100" height="30" src="./assets/t2.png" alt="">
      </template>
      <template v-slot:default>
        <img width="200" src="./assets/t1.png" alt="">
        <ul class="list">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </template>
    </Dialog>

    <hr />
    <button @click="visible = true">作用域插槽弹窗</button>
    <Dialog
      v-if="visible"
      title="作用域插槽"
      @close="visible = false"
      @cancel="visible = false"
      @ok="ok1"
    >
      <!-- 作用域插槽：让插槽中可以使用子组件中的变量 -->
      <template #default="obj">
        {{ obj }}
        <input type="checkbox" name="" id=""> 男
        <div>
          <button>测试 {{ obj.num }}</button>
        </div>
      </template>
    </Dialog>

  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'

export default {
  data () {
    return {
      show: false,
      visible: false
    }
  },
  methods: {
    close () {
      this.show = false
    },
    ok () {
      console.log('点击了确定按钮')
    },
    ok1 () {
      console.log('点击确定按钮')
    }
  },
  components: {
    Dialog
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  background: orange;
}
</style>
