<template>
  <el-result icon="error" title="404" subTitle="访问的地址不存在">
    <template slot="extra">
      <el-button type="primary" size="medium" @click="$router.push('/home')">去首页</el-button>
    </template>
  </el-result>
</template>

<script>
export default {

}
</script>

<style>

</style>