<template>
  <div class="box">
    <h1>页面3</h1>
    <h2>{{ title }}</h2>
    <div>
      <el-button @click="$store.commit('mouduleA/setNum', 3)">+3</el-button>
      {{ num }}
      <el-button @click="setNum(-3)">-3</el-button>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState('mouduleA', ['title', 'num']),
    // title() {
    //   return this.$store.state.mouduleA.title
    // },
    // num() {
    //   return this.$store.state.mouduleA.num
    // }
  },
  methods: {
    ...mapMutations('mouduleA', ['setNum'])
  }
}
</script>

<style lang="scss" scoped>
.box {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  min-height: 500px;
  h2 {
    margin-bottom: 20px;
  }
}
</style>