<template>
  <div class="box">
    <h2>页面4</h2>
    <p>总数：{{ total }}</p>
    <div>
      <el-button size="small" @click="setNum1(-1)">-</el-button>
      {{ num1 }}
      <el-button size="small" type="primary" @click="setNum1(1)">+</el-button>
    </div>
    <el-button size="small" type="primary" @click="addArr1(arr.length + 1)">添加</el-button>
    <ul>
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  data() {
    return {
      // num: 111
    }
  },
  computed: {
    ...mapState({
      num1: state => state.num,
      arr: state => state.arr
    }),
    // ...mapState(['num', 'arr']),
    // num() {
    //   return this.$store.state.num
    // },
    // arr() {
    //   return this.$store.state.arr
    // }
    ...mapGetters(['total'])
    // total() {
    //   return this.$stroe.getters.total
    // }
  },
  methods: {
    ...mapMutations({
      setNum1: 'setNum',
      addArr1: 'addArr'
    }),
    // ...mapMutations(['setNum', 'addArr']),
    // setNum(n) {
    //   this.$store.commit('setNum', n)
    // },
    // addArr() {
    //   this.$store.commit('addArr', this.arr.length + 1)
    // }
  }
}
</script>

<style lang="scss" scoped>
.box {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  min-height: 500px;
  h2 {
    margin-bottom: 20px;
  }
}
</style>