<template>
  <div class="user">
    <h2>个人信息</h2>
    <div class="row">
      <div class="label">头像：</div>
      <p><img :src="info.avator" alt=""></p>
    </div>
    <div class="row">
      <div class="label">用户名：</div>
      <p>{{ info.username }}</p>
    </div>
    <div class="row">
      <div class="label">年龄：</div>
      <p>{{ info.age }}</p>
    </div>
    <div class="row">
      <div class="label">性别：</div>
      <p>{{ info.sex }}</p>
    </div>
    <div class="row">
      <div class="label">邮箱：</div>
       <p>{{ info.email }}</p>
    </div>
    <div class="row">
      <div class="label"></div>
      <p>
        <el-button type="primary" size="medium" @click="$router.push('/home/child5/edit')">修改</el-button>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    info() {
      return this.$store.state.info
    },
    a() {
      return this.$store.state.a
    },
    b() {
      // 读取 store 中的数据
      return this.$store.state.b
    }
  },
  created() {
  }
}
</script>

<style lang="scss" scoped>
.user {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  min-height: 500px;
  h2 {
    margin-left: 100px;
    margin-bottom: 20px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
.row {
  margin-top: 15px;
  display: flex;
  .label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
  }
}
</style>