<template>
  <div class="login">
    <el-form
      :model="form"
      :rules="rules"
      ref="ruleForm"
      class="form"
    >
      <h3>登录</h3>
      <el-form-item prop="username">
        <el-input v-model="form.username" placeholder="请输入用户名" prefix-icon="el-icon-user"></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="form.password" placeholder="请输入密码" prefix-icon="el-icon-lock" show-password></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" class="submit-btn" @click="login">登录</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "change" },
          { min: 3, max: 5, message: "长度在 3 到 5 个字符", trigger: "change" },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "change" },
          { pattern: /^(\d|[a-z]){6}$/, message: "密码格式错误", trigger: "change" },
        ]
      },
    };
  },
  methods: {
    login() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          // 校验通过
          this.$message.success('恭喜你，登录成功');
          localStorage.setItem('testToken', '1234567')
          this.$router.push('/')
        }
      })
    }
  },
};
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
}
.form {
  width: 400px;
  min-height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #DCDFE6;
  border-radius: 5px;
  padding: 20px;
  h3 {
    text-align: center;
    padding: 20px;
  }
}
.submit-btn {
  width: 100%;
}
</style>