<template>
  <div class="child">
    <h3>第二步：配置试卷</h3>
    <div>选择题目:
      <p v-for="item in list" :key="item.id">
        <input type="checkbox" :value="item.question" v-model="selected"> {{ item.question }}
      </p>
    </div>
    {{ selected }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [
        { id: 1, question: '1+1等于几' },
        { id: 2, question: '1+2等于几' },
        { id: 3, question: '2+2等于几' },
        { id: 4, question: '3+4等于几' },
        { id: 5, question: '4+5等于几' }
      ],
      selected: []
    }
  },
  created() {
    console.log('Child2 创建成功')
  },
  beforeDestroy() {
    console.log('Child2 销毁之前')
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>