<template>
  <div class="child">
    <h3>第一步：创建试卷</h3>
    <p>试卷名称: <input type="text" v-model="form.name"></p>
    <p>试卷科目: <input type="text" v-model="form.classify"></p>
    <p>考试时间: <input type="text" v-model="form.time"></p>
    {{ form }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        classify: '',
        time: ''
      }
    }
  },
  created() {
    console.log('Child1 创建成功')
  },
  beforeDestroy() {
    console.log('Child1 销毁之前')
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>