<template>
  <div class="child">
    <h3>第三步：试卷预览</h3>
    <p>定时器: {{ num }}</p>
    <input type="text" v-model="text">
    {{ text }}
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      text: 'aaaaa',
      num: 0
    }
  },
  created() {
    console.log('Child3 创建成功')
  },
  beforeDestroy() {
    console.log('Child3 销毁之前')
  },
  activated() {
    // 被keep-alive包裹的组件展示时执行
    console.log('child3 展示了')
    this.timer = setInterval(() => {
      this.num++
      console.log(this.num)
    }, 1000)
  },
  deactivated() {
    // 被keep-alive包裹的组件隐藏时执行
    console.log('child3 隐藏了')
    clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>