<template>
  <div>
    <h1>自定义指令</h1>
    <ul  v-loading="loading">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <button @click="loading = !loading">按钮</button>
    <button @click="num++">{{ num }}</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num: 0,
      loading: true
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
ul {
  border: 1px solid;
  li {
    line-height: 50px;
  }
}
</style>
