.center {
  padding: 0 2rem;
}
.center h3 {
  text-align: center;
  font-size: 16px;
  padding: 6rem 0 2rem;
}
.form p {
  margin-bottom: 1rem;
}
.form input {
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  border-radius: 0.4rem;
  background: #efefef;
}
.form input::placeholder {
  color: #999999;
}
.form button {
  width: 100%;
  height: 4rem;
  background: var(--color);
  color: #ffffff;
  border: none;
  border-radius: 0.4rem;
}
.confirm-pwd {
  display: none;
}
.toggle {
  width: 14rem;
  height: 3rem;
  border: 1px solid var(--color);
  margin: 0 auto;
  border-radius: 0.4rem;
  margin-top: 3rem;
  display: flex;
}
.toggle span {
  flex: 1;
  text-align: center;
  line-height: 3rem;
  color: var(--color);
}
.toggle span.active {
  background: var(--color);
  color: #ffffff;
}