<template>
  <div class="btn-wrap">
    <h3>{{ title }} -- {{ a }}</h3>
    <button @click="$emit('addCount', 1)">+</button>
    <p>{{ count }}</p>
    <button @click="sub">- 2</button>
  </div>
</template>

<script>
export default {
  // props 接收父组件传过来的参数
  // 禁止修改 props 传入的数据，数据只能在定义的组件中修改
  // 子组件通过触发自定义事件调用父组件的函数，通过函数的参数把数据传给父组件
  // 组件中只能修改 data 的数据
  props: ['title', 'a', 'count'],
  data() {
    return {
    }
  },
  methods: {
    sub() {
      // 调用父组件传过来的自定义事件
      this.$emit('addCount', -2)
    }
  },
  mounted() {
    console.log(this)
  }
}
</script>

<style lang="scss">
.btn-wrap {
  border: 1px solid red;
}
</style>