<template>
  <div>
    <h1>插槽</h1>
    <button @click="show = true">展示弹窗</button>
    <Dialog
      :visible="show"
      title="普通弹窗"
      hideFooter
      @close="show = false"
      @cancel="cancel"
      @ok="ok"
    >
      <template v-slot:close>
        <button>关闭</button>
      </template>
      <template v-slot:default>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
        <p>姓名: <input type="text"></p>
      </template>
      <template v-slot:footer>
        <button>删除</button>
      </template>
    </Dialog>

    <Child>
      <!-- 作用域插槽，插槽中使用组件内的变量 -->
      <template v-slot:default="obj">
        <p>child组件内的数据：{{ obj.num }}</p>
      </template>
    </Child>
  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'
import Child from './components/Child1.vue'

export default {
  components: {
    Dialog,
    Child
  },
  data() {
    return {
      show: false
    }
  },
  methods: {
    cancel() {
      console.log('点击了取消按钮')
    },
    ok() {
      console.log('点击了确定按钮')
    }
  }
}
</script>

<style>

</style>