@charset "UTF-8";
@import url(/Users/zhaoyaxiang/Desktop/2306/h5/6.音频视频/fonts/iconfont.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 26.66667vw;
}

body {
  font-size: 14px;
}

img {
  vertical-align: middle;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
}

.bg p {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 12px 0;
  color: #ffffff;
}

header h3 {
  font-size: 20px;
}

header p {
  font-size: 14px;
}

.center {
  flex: 1;
  display: flex;
  align-items: center;
}

.pic {
  width: 2.8rem;
  height: 2.8rem;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.2rem;
}

.pic p {
  width: 100%;
  height: 100%;
  background: url(./img/0.jpg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
}

.animationPic {
  animation: rotate 10s linear infinite;
}

.controls {
  height: 100px;
  padding: 0 0.1rem;
  color: #ffffff;
}

.top {
  height: 20px;
  display: flex;
}

.top p, .top .valume {
  width: 40px;
  margin: 0 3px;
  text-align: center;
}

.valume {
  position: relative;
}

.valume ul {
  position: absolute;
  top: -60px;
  left: 10px;
  width: 20px;
  height: 60px;
  display: flex;
  flex-direction: column-reverse;
}

.valume ul li {
  list-style-type: none;
  width: 20px;
  height: 10px;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 4px;
  font-size: 12px;
}

.valume ul li.active {
  background: #ffffff;
}

.progress {
  flex: 1;
  padding: 0 5px;
}

.progress .line {
  height: 2px;
  width: 100%;
  background: #ffffff;
  margin-top: 9px;
  position: relative;
}

.progress .line i {
  display: block;
  width: 0;
  height: 2px;
  background: orange;
}

.progress .line b {
  position: absolute;
  top: -4px;
  left: 0%;
  transform: translateX(-5px);
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.bottom {
  display: flex;
  padding: 20px 0.1rem;
}

.bottom i {
  width: 40px;
  text-align: center;
}

.bottom p {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.bottom .iconfont {
  font-size: 30px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  opacity: 0;
  transition: opacity 0.4s linear;
}

.menu ul {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  transform: translateY(100%);
  transition: transform 1s linear;
}

.menu ul li {
  line-height: 40px;
  border-bottom: 1px dashed;
  padding-left: 20px;
}

.menu ul li.active {
  background: tomato;
  color: #ffffff;
}

.menu.show {
  opacity: 1;
}

.menu.show ul {
  transform: translateY(0);
}

.menu.show li b {
  pointer-events: none;
}
