@import './fonts/iconfont.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$base: 100;
html {
  font-size: 100vw / 375 * $base;
}
body {
  font-size: 14px
}
@function rem($px) {
  @return $px / $base * 1rem;
}
img {
  vertical-align: middle;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
  }
  p {
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .5);
    position: relative;
  }
}
.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  padding: 12px 0;
  color: #ffffff;
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
.center {
  flex: 1;
  display: flex;
  align-items: center;
}
.pic {
  width: rem(280);
  height: rem(280);
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  background: rgba($color: #ffffff, $alpha: 0.3);
  padding: rem(20);
  p {
    width: 100%;
    height: 100%;
    background: url(./img/0.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
  }
}
.animationPic {
  animation: rotate 10s linear infinite;
}
.controls {
  height: 100px;
  padding: 0 rem(10);
  color: #ffffff;
}
.top {
  height: 20px;
  display: flex;
  p, .valume {
    width: 40px;
    margin: 0 3px;
    text-align: center;
  }
}
.valume {
  position: relative;
  ul {
    position: absolute;
    top: -60px;
    left: 10px;
    width: 20px;
    height: 60px;
    display: flex;
    flex-direction: column-reverse;
    li {
      list-style-type: none;
      width: 20px;
      height: 10px;
      background: rgba($color: #000000, $alpha: .6);
      margin-bottom: 4px;
      font-size: 12px;
      &.active {
        background: #ffffff;
      }
    }
  }
}
.progress {
  flex: 1;
  padding: 0 5px;
  .line {
    height: 2px;
    width: 100%;
    background: #ffffff;
    margin-top: 9px;
    position: relative;
    i {
      display: block;
      width: 0;
      height: 2px;
      background: orange;
    }
    b {
      position: absolute;
      top: -4px;
      left: 0%;
      transform: translateX(-5px);
      width: 10px;
      height: 10px;
      background: #ffffff;
      border-radius: 50%;
    }
  }
}
.bottom {
  display: flex;
  padding: 20px rem(10);
  i {
    width: 40px;
    text-align: center;
  }
  p {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
  }
  .iconfont {
    font-size: 30px;
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .6);
  display: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  ul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    transform: translateY(100%);
    transition: transform 1s linear;
    li {
      line-height: 40px;
      border-bottom: 1px dashed;
      padding-left: 20px;
      &.active {
        background: tomato;
        color: #ffffff;
      }
    }
  }
  &.show {
    opacity: 1;
    ul {
      transform: translateY(0);
    }
    li b {
      pointer-events: none;
    }
  }
}