<template>
  <div id="app">
    <h1>{{ title }}</h1>
    <img v-bind:src="url" v-bind:alt="title">
    <img :src="url" :alt="title">
    <a :href="link">跳转</a>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: '标题',
      link: 'http://www.baidu.com',
      url: 'https://cdn.wwads.cn/creatives/hwjZe32LKNklGra2eZKHDlVsABCPfkFQR9xg7QSy.png'
    }
  }
}

// react 数据驱动视图更新，需要调用 setstate 更新数据
// vue 数据驱动视图更新，响应式数据，双向绑定
</script>

<style lang="scss">
.red {
  border: 1px solid red;
}
.green {
  border: 1px solid green;
}
</style>
