<template>
  <div id="app">
    <h1>绑定事件</h1>
    <button v-on:click="num--">-</button>
    {{num}}
    <button @click="num++">+</button>
    <button @click="resetNum">重置</button>
    <div class="box" @mouseover="mouseFn"></div>
    <hr />
    <button @click="e => addNum(-3, e)">-3</button>
    <button @click="addNum(3, $event)">+3</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num: 0
    }
  },
  // 存函数
  methods: {
    mouseFn(e) {
      console.log('滑入 box')
      console.log(e)
    },
    resetNum() {
      // this: 组件实例对象，可以访问组件中的数据和方法
      this.num = 0
    },
    addNum(n, e) {
      console.log(n, e)
      this.num += n
    }
  }
}

</script>

<style lang="scss">
.box {
  width: 100px;
  height: 100px;
  background: #cccccc;
}
.red {
  border: 3px solid red;
}
.green {
  border: 3px solid green;
}
</style>
