
.film {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #ededed;
  img {
    width: 80px;
  }
  .right {
    flex: 1;
    overflow: hidden;
    padding-left: 12px;
    font-size: 12px;
    color: #797d82;
    h3 {
      color: #191a1b;
      font-size: 16px;
    }
  }
}