<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'
import { Swiper, SwiperSlide } from 'swiper/vue'
import { Pagination, Autoplay } from 'swiper/modules'
import 'swiper/css'
import 'swiper/css/pagination'
import 'swiper/css/autoplay'
import { bannerApi, personalizedApi, djprogramApi } from '@/api'

const modules = [ Pagination, Autoplay]
const router = useRouter()
const banners = ref([])
const personalized = ref([])
const djprogram = ref([])

bannerApi()
.then(res => {
  banners.value = res.data.banners
})

personalizedApi()
.then(res => {
  console.log(res.data.result)
  personalized.value = res.data.result
})

djprogramApi()
.then(res => {
  console.log(res.data.result)
  djprogram.value = res.data.result
})


const formatPlayCount = num => {
  if (num > 100000000) {
    return Math.floor(num / 100000000) + '亿'
  } else if (num > 10000) {
    return Math.floor(num / 10000) + '万'
  } else {
    return num
  }
}

const goSongListDetail = id => {
  router.push({
    path: '/songListDetail',
    query: {
      id
    }
  })
}

</script>

<template>
  <div class="new-song">
    <Swiper :modules="modules" autoplay pagination loop>
      <SwiperSlide v-for="item in banners" :key="item.targetId">
        <img :src="item.imageUrl" alt="">
      </SwiperSlide>
    </Swiper>
    <div class="sub-nav">
      <div class="nav-item">
        <i class="iconfont icon-shouyinji"></i>
        <p>私人FM</p>
      </div>
      <div class="nav-item">
        <i class="iconfont icon-shuzi10"></i>
        <p>每日推荐</p>
      </div>
      <div class="nav-item">
        <i class="iconfont icon-mn_paiming"></i>
        <p>新歌榜</p>
      </div>
    </div>
    <div class="sub-title">推荐歌单</div>
    <div class="list">
      <div class="list-item" v-for="item in personalized" :key="item.id" @click="goSongListDetail(item.id)">
        <img :src="item.picUrl" alt="">
        <p>{{ item.name }}</p>
        <span>{{ formatPlayCount(item.playCount) }}</span>
      </div>
    </div>
    <div class="sub-title">主播电台</div>
    <div class="list">
      <div class="list-item" v-for="item in djprogram" :key="item.id">
        <img :src="item.picUrl" alt="">
        <p>{{ item.name }}</p>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.new-song {
  height: 100%;
  overflow: auto;
}
::v-deep .swiper-pagination-bullet {
  background: #ffffff;
}
::v-deep .swiper-pagination-bullet-active {
  background: #ffffff;
}
.sub-nav {
  display: flex;
  .nav-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    .iconfont {
      color: var(--primary-color);
      font-size: 30px;
      border: 1px solid var(--primary-color);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}
.sub-title {
  margin: 15px;
  padding-left: 10px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  .list-item {
    width: calc((100% - 40px) / 3);
    margin-left: 10px;
    position: relative;
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;
    }
    span {
      position: absolute;
      right: 0;
      top: 0;
      color: #ffffff;
      background: rgba($color: #000000, $alpha: .5);
      border-radius: 10px;
      padding: 0 10px;
    }
  }
}
</style>
