<script setup>
import { ref, computed, watch, watchEffect, onMounted, onUpdated, onUnmounted, onBeforeUnmount, onBeforeMount, onBeforeUpdate } from 'vue'
const arr = ref([])
const inp = ref(null)
const searchText = ref('')
const num = ref(0)

const add = () => {
  arr.value.push({
    id: Math.random(),
    text: inp.value.value
  })
  inp.value.value = ''
  inp.value.focus()
}

// 计算属性: 返回一个ref对象，js中使用时需要通过value属性
const filterList = computed(() => {
  return arr.value.filter(v => v.text.includes(searchText.value))
})

// 监听
// watch(searchText, (newVal, oldVal) => {
//   console.log('搜索框改变了', searchText.value)
// })
// watch(arr, () => {
//   console.log('arr改变了', arr.value)
// }, {
//   deep: true,
//   immediate: true
// })


// 监听多个变量
// watch([searchText, num], (newVal, oldVal) => {
//   // console.log(searchText.value, num.value)
//   console.log(newVal)
// })


const obj = ref({
  name: '小明',
  age: 20
})

// 监听对象改变，只能监听到对象重新赋值，监听不到属性的改变，可以使用 deep: true 监听所有属性改变
// watch(obj, () => {
//   console.log(obj.value)
// }, { deep: true })

// 监听对象的某个属性改变
// watch(
//   () => obj.value.name, // 监听此函数的返回值改变
//   () => {
//     console.log(obj.value.name)
//   }
// )

// 自动监听函数内部使用的变量更新
// watchEffect(() => {
//   console.log('搜索框改变了', searchText.value)
// })


// 让watch在页面更新完成之后执行
watchEffect(() => {
  console.log(filterList.value)
  console.log(document.querySelector('.list')?.children)
}, {
  flush: 'post'
})


const resetObj = () => {
  obj.value = {
    name: '小明',
    age: 20
  }
}
</script>

<template>
  <input type="text" placeholder="搜索" v-model="searchText">
  <hr />
  <input type="text" ref="inp" @keydown.enter="add">
  <button @click="add">add</button>
  <ul  class="list">
    <li v-for="item in filterList" :key="item.id">{{ item.text }}</li>
  </ul>
  <hr />
  <button @click="num++">num</button>
  <hr />
  <p>姓名: <input type="text" v-model="obj.name"></p>
  <p>年龄: <input type="text" v-model="obj.age"></p>
  <button @click="resetObj">重置</button>
  {{ obj }}
</template>


<style lang='scss' scoped>

</style>
