* {
  margin: 0;
  padding: 0;
}
html, body {
  background: #333333;
}
.app {
  width: 600px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
}
.item {
  flex: 1;
  p {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    &:hover {
      img {
        transform: rotate(360deg) scale(1.5);
      }
    }
  }
  img {
    width: 150px;
    transition: transform 0.3s linear;
  }
}
.btn {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  position: relative;
  b {
    position: absolute;
    width: 0px;
    height: 2px;
    background: #ffffff;
    transition: transform 0.2s linear, opacity 0.2s linear, width 0.2s linear;
    opacity: 0;
    // nth-of-type(1) 获取第几个同类型的元素
    &:nth-of-type(1) {
      left: -52px;
      top: -2px;
      transform: translateX(-50px);
    }
    &:nth-of-type(2) {
      right: -2px;
      top: -2px;
      transform-origin: right top;
      transform:  translateY(-50px) rotate(90deg);
    }
    &:nth-of-type(3) {
      right: -52px;
      bottom: -2px;
      transform: translateX(50px);
    }
    &:nth-of-type(4) {
      left: -2px;
      bottom: -2px;
      transform-origin: left bottom;
      transform: translateY(50px) rotate(90deg) ;
    }
  }
  &:hover {
    .text i {
      transform: translateX(10px);
    }
    .tip {
      opacity: 1;
      transform: translateY(0);
    }
    b {
      opacity: 1;
      width: 50px;
      &:nth-of-type(1) {
        transform: translateX(50px);
      }
      &:nth-of-type(2) {
        transform:  translateY(50px) rotate(90deg);
      }
      &:nth-of-type(3) {
        transform: translateX(-50px);
      }
      &:nth-of-type(4) {
        transform: translateY(-50px) rotate(90deg) ;
      }
    }
  }
}
.tip {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: green;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
  span {
    position: relative;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: green;
    transform: rotate(45deg);
  }
}
.text {
  height: 100%;
  display: flex;
  padding: 0 20px;
  color: green;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  span {
    font-weight: bold;
  }
  i {
    width: 30px;
    height: 30px;
    background: url(./img/allow.png) no-repeat center;
    transition: transform 0.5s linear;
  }
}