<script setup>
import { ref } from 'vue'

// ref： 定义响应式变量
// 注意：在js中修改和获取时需要通过 value 属性
const num = ref(10)
const title = ref('标题')
const form = ref({
  name: '小明',
  age: 20,
  sex: '男'
})
const arr = ref([])
const inp = ref('')
const inpRef = ref(null)

const addNum = () => {
  console.log(num.value)
  num.value ++
}
const reset = () => {
  title.value = '默认标题'
}
const resetForm = () => {
  form.value = {
    name: '小明',
    age: 20,
    sex: '男'
  }
}
const submit = () => {
  arr.value.push({
    id: Date.now(),
    text: inp.value
  })
  inp.value = ''
  // 获取dom元素
  inpRef.value.focus()
}
</script>

<template>
  <div class="app">
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <button @click="reset">重置标题</button>
  </div>
  <button @click="num--">-</button>
    {{ num }}
  <button @click="addNum">+</button>
  <hr />
  <p>姓名: <input type="text" v-model="form.name"></p>
  <p>年龄: <input type="text" v-model="form.age"></p>
  <p>性别: <input type="text" v-model="form.sex"></p>
  <button @click="resetForm">重置</button>
  {{ form }}
  <hr />
  <input type="text" v-model="inp" ref="inpRef">
  <button @click="submit">添加</button>
  <ul>
    <li v-for="item in arr" :key="item.id">{{ item.text }}</li>
  </ul>

</template>


<style lang='scss' scoped>

</style>
