<script setup>
import { ref } from 'vue'
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'
const num = ref(10)

const changeNum = (n) => {
  console.log('调用 changeNum 修改 num')
  num.value += n
}

</script>

<template>
  <h1>组件</h1>
  <button @click="num++">num: {{ num }}</button>
  <Child1 :n="num" @change="changeNum" />

  <!-- <Child2 :modelValue="num" @update:modelValue="num = $event" /> -->
  <Child2 v-model="num" />
</template>


<style scoped>

</style>
