<template>
  <div>
    <van-cell :title="curAddress" icon="location-o" is-link @click="goAddress" />
    <van-grid :column-num="3">
      <van-grid-item
        v-for="item in shopList"
        :key="item.id"
      >
        <van-image :src="item.img" />
        <p>{{ item.name }}</p>
        <p>价格：¥{{ item.price }}</p>
        <p>{{ item.count }}</p>
        <van-button icon="plus" type="primary" size="small" @click="addCart(item)" />
      </van-grid-item>
    </van-grid>
  </div>
</template>

<script>
import axios from 'axios'

import { mapGetters, mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['shopList']),
    ...mapGetters(['curAddress'])
  },
  methods: {
    ...mapMutations(['setShopList', 'addCart']),
    goAddress() {
      this.$router.push('/address')
    }
  },
  created() {
    if (this.shopList.length === 0) {
      axios.get('/api/list').then(res => {
        this.setShopList(res.data)
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>