<script setup>
import { captchaSentApi, captchaVerifyApi, loginCellphoneApi } from '@/api/user'
import { ref, computed, onBeforeUnmount } from 'vue'

const countDown = ref(0)
const phone = ref('15801154632')
const captcha = ref('')
const captchaText = computed(() => {
  return countDown.value === 0 ? '获取验证码' : `${countDown.value}s`
})
let timer = null
const getCaptcha = async () => {
  const res = await captchaSentApi(phone.value)
  console.log(res.data)
  countDown.value = 10
  timer = setInterval(() => {
    countDown.value --
    if (countDown.value <= 0) {
      clearInterval(timer)
    }
  }, 1000)
}

const submit = async () => {
  try {
    await captchaVerifyApi({ phone: phone.value, captcha: captcha.value })
    const res = await loginCellphoneApi({ phone: phone.value, captcha: captcha.value })
    console.log(res.data)
  } catch (e) {
    alert(e.response.data.message)
  }
}

onBeforeUnmount(() => {
  clearInterval(timer)
})
</script>

<template>
  <div class="form">
    <p><input type="text" placeholder="请输入手机号" v-model.trim="phone"></p>
    <p class="captcha">
      <input type="text" placeholder="请输入验证码" v-model="captcha">
      <button @click="getCaptcha" :disabled="countDown > 0">{{ captchaText }}</button>
    </p>
    <p><button @click="submit">登录</button></p>
  </div>
</template>

<style lang='scss' scoped>
.form {
  padding: 20px;
  margin-top: 60px;
  p {
    margin-bottom: 10px;
  }
  input {
    outline: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 0 10px;
  }
  button {
    width: 100%;
    height: 40px;
    background: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
  }
}
.captcha {
  display: flex;
  input {
    flex: 1;
  }
  button {
    width: 100px;
    margin-left: 10px;
    &:disabled {
      opacity: 0.7;
    }
  }
}
</style>
