<script setup>
import { qrKeyApi, qrCreateApi, qrCheckApi } from '@/api/user'
import { ref, onBeforeUnmount } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const unikey = ref('')
const qrimg = ref('')
const qrStatus = ref('')
const qrCode = ref(null)
let timer = null

const qrCheck = () => {
  timer = setInterval(async () => {
    const res = await qrCheckApi(unikey.value)
    console.log(res.data)
    qrCode.value = res.data.code
    if (res.data.code === 800) {
      // 二维码过期，重新获取二维码
      qrStatus.value = '已过期，点击重新获取'
      clearInterval(timer)
    } else if (res.data.code === 801) {
      // 等待扫码
    } else if (res.data.code === 802) {
      // 等待确定
      qrStatus.value = '等待确认'
    } else if (res.data.code === 803) {
      qrStatus.value = '扫码成功'
      // 登录成功
      clearInterval(timer)
      router.push('/')
    }
  }, 2000)
}

const getQr = async () => {
  // 获取key
  const keyRes = await qrKeyApi()
  unikey.value = keyRes.data.data.unikey
  // 创建二维码
  const qrInfoRes = await qrCreateApi(unikey.value)
  qrimg.value = qrInfoRes.data.data.qrimg
  // 开始轮询二维码状态
  qrCheck()
}

getQr()

onBeforeUnmount(() => {
  clearInterval(timer)
})

const resetQr = () => {
  if (qrCode.value === 800) {
    qrCode.value = null
    getQr()
  }
}

</script>

<template>
  <div class="qr-wrap">
    <img :src="qrimg" alt="">
    <p v-if="qrCode !== null && qrCode !== 801" @click="resetQr">{{ qrStatus }}</p>
  </div>
</template>

<style lang='scss' scoped>
.qr-wrap {
  position: relative;
  p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #ffffff, $alpha: .8);
    text-align: center;
    line-height: 300px;
    font-size: 22px;
  }
}
</style>
