<template>
  <div>
    <h1>生命周期</h1>
    <input type="text" v-model="text"> {{ text }}
    <br />
    <button @click="visible = !visible">按钮</button>
    <Box v-if="visible" />
  </div>
</template>

<script>
import Box from './components/Box.vue'
export default {
  data () {
    return {
      text: '',
      visible: false
    }
  },
  components: {
    Box
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  background: orange;
}
</style>
