<template>
  <div class="app">
    <h1>{{ title }}</h1>
    <ul>
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
import sum, { list } from '@/utils/sum'
import axios from 'axios'

export default {
  data() {
    return {
      title: 'Vue 组件',
      arr: ['a', 'b', 'c', 'd'],
      cities: []
    }
  },
  methods: {},
  computed: {},
  watch: {},
  created() {
    // console.log(sum(1, 2))
    // console.log(list)
    axios.get('https://m.maizuo.com/gateway?k=5226504', {
      headers: {
        'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033","bc":"440100"}',
        'X-Host': 'mall.film-ticket.city.list'
      }
    }).then(res => {
      console.log(res.data.data.cities)
      this.cities = res.data.data.cities

    })
  },
  mounted() {
  }
}
</script>

<style lang="scss">
.app {
  h1 {
    color: red
  }
  ul {
    li {
      line-height: 40px;
    }
  }
}
</style>