<template>
  <div id="app">
    <button @click="num--">-</button>
    {{num}}
    <button @click="num++">+</button>
    <hr />
    <button @click="changeObj">改变obj</button>
    <p>obj.a <input type="text" v-model="obj.a"></p>
    <p>obj.d.e.f <input type="text" v-model="obj.d.e.f"></p>
    {{obj}}
  </div>
</template>

<script>
export default {
  data() {
    return {
      num: 0,
      obj: {
        a: 'aaa',
        b: {
          c: 'cccc'
        },
        d: {
          e: {
            f: 100
          }
        }
      }
    }
  },
  watch: {
    // 监听变量改变自动执行函数
    num(newVal, oldVal) {
      console.log(newVal, oldVal)
    },
    // 监听对象只能监听赋值操作，无法监听到属性的改变
    // obj(newVal, oldVal) {
    //   console.log('obj改变了', this.obj)
    // },
    // 监听对象的属性改变
    // 'obj.a'() {
    //   console.log('obj.a 改变了', this.obj)
    // },
    obj: {
      handler() {
        console.log('监听obj改变', this.obj)
      },
      // 深度监听，不论对象的属性嵌套多深都可以监听到改变
      deep: true,
      // 进入页面立即执行一次
      immediate: true
    }
  },
  methods: {
    changeObj() {
      this.obj = { a: 100 }
    }
  }
}
</script>

<style lang="scss">

</style>
