<template>
  <div>
    <h1>详情页面</h1>
    <img :src="info.poster" width="100" alt="">
    {{ info }}
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: {}
    }
  },
  created () {
    // this.$route: 当前路由信息
    console.log(this.$route)
    console.log('获取 query 参数', this.$route.query)
    console.log('获取 params 参数', this.$route.params)

    // 调用详情页接口
    axios.get('https://m.maizuo.com/gateway', {
      params: {
        filmId: this.$route.params.id,
        k: 5640818
      },
      headers: {
        'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033","bc":"110100"}',
        'X-Host': 'mall.film-ticket.film.info'
      }
    })
    .then(res => {
      this.info = res.data.data.film
    })
  }
}
</script>

<style>

</style>
