<template>
  <div>
    <h1>历史记录页面</h1>
    <router-link to="/history/1">history1</router-link>
    <router-link to="/history/2">history2</router-link>
    <router-link to="/history/3">history3</router-link>
    <router-link to="/history/4">history4</router-link>
    <br />
    {{ num }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: -1
    }
  },
  created() {
    this.num = this.$route.params.id
    console.log(this.$route.params)
  },
  watch: {
    $route () {
      this.num = this.$route.params.id
    }
  },
  beforeRouteEnter(to, from, next) {
    // 在渲染该组件的对应路由被 confirm 前调用
    // 不！能！获取组件实例 `this`
    // 因为当守卫执行前，组件实例还没被创建
    next()
  },
  beforeRouteUpdate(to, from, next) {
    // 在当前路由改变，但是该组件被复用时调用
    // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
    // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
    // 可以访问组件实例 `this`
    next()
  },
  beforeRouteLeave(to, from, next) {
    // 导航离开该组件的对应路由时调用
    // 可以访问组件实例 `this`
    console.log('离开前')
    if (window.confirm('确定要离开吗？')) {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
a {
  margin: 0 10px;
}

</style>
