<template>
  <div class="hot" @scroll="scrollFn">
    <dl v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
      <dt>
        <img :src="item.poster" alt="">
      </dt>
      <dd>
        <h3>{{ item.name }}</h3>
        <p>{{ item.filmId }}</p>
      </dd>
    </dl>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: [],
      pageNum: 1,
      total: 0
    }
  },
  watch: {
    pageNum: {
      handler () {
        this.getList()
      },
      immediate: true
    }
  },
  methods: {
    goDetail (filmId) {
      // this.$route: 当前路由信息
      // this.$router: 路由实例对象
      // 路由传参方式一：query 传参数
      // this.$router.push(`/detail?filmId=${filmId}&a=100`)
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     filmId,
      //     a: 100,
      //     b: 200
      //   }
      // })
      // 路由传参方式二：动态路由传参数（必须在路由表中配置）
      this.$router.push(`/detail/${filmId}`)
      // this.$router.push({
      //   name: 'detail',
      //   params: {
      //     id: filmId
      //   }
      // })
    },
    async getList () {
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          cityId: 110100,
          pageNum: this.pageNum,
          pageSize: 10,
          type:1,
          k: 6724854
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033","bc":"110100"}',
          'X-Host': 'mall.film-ticket.film.list'
        }
      })
      this.list = this.list.concat(res.data.data.films)
      this.total = res.data.data.total
    },
    scrollFn (e) {
      const { scrollTop, clientHeight, scrollHeight } = e.target
      if (scrollTop + clientHeight >= scrollHeight) {
        if (this.list.length < this.total) {
          this.pageNum++
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.hot {
  width: 100%;
  height: 100%;
  overflow: auto;
}
dl {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #dddddd;
  dt {
    width: 66px;
    height: 93px;
    overflow: hidden;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  dd {
    flex: 1;
    padding-left: 15px;
  }
}
</style>
