<template>
  <div>
    <h1>个人信息页面</h1>
    <ul>
      <li><router-link to="/order">电影订单</router-link></li>
      <li><router-link to="/history">历史记录</router-link></li>
    </ul>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
ul li {
  line-height: 40px;
  border-bottom: 1px solid;
}
</style>
