<template>
  <div class="movie">
    <nav>
      <!-- replace: 替换当前页面地址，和 location.replace() 效果一致 -->
      <router-link replace to="/home/movie/hot">正在热映</router-link>
      <router-link replace to="/home/movie/coming">即将上映</router-link>
      <div class="line" :style="{ transform: `translateX(${curIndex * 100}%)` }">
        <span></span>
      </div>
    </nav>
    <div class="list">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      curIndex: 0,
      pathlist: ['/home/movie/hot', '/home/movie/coming']
    }
  },
  watch: {
    $route: {
      handler () {
        this.curIndex = this.pathlist.indexOf(this.$route.path)
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
.movie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  height: 50px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  position: relative;
  a {
    flex: 1;
    text-align: center;
    line-height: 50px;
    &.router-link-active {
      color: tomato;
    }
  }
  .line {
    position: absolute;
    bottom: 0;
    width: 50%;
    transition: transform 0.5s linear;
    span {
      display: block;
      height: 2px;
      width: 60px;
      background: tomato;
      margin: auto;
    }
  }
}
.list {
  flex: 1;
  overflow: hidden;
}
</style>
