<template>
  <div>
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column fixed prop="date" label="日期" width="150"></el-table-column>
      <el-table-column prop="name" label="姓名" width="120"> </el-table-column>
      <el-table-column label="性别" width="120">
        <template slot-scope="scope">
          <p v-if="scope.row.sex === 1">男</p>
          <p v-else-if="scope.row.sex === 2">女</p>
          <p v-else>其他</p>
        </template>
      </el-table-column>
      <el-table-column prop="province" label="省份" width="120"></el-table-column>
      <el-table-column prop="city" label="市区" width="120"> </el-table-column>
      <el-table-column prop="address" label="地址" width="300"> </el-table-column>
      <el-table-column prop="zip" label="邮编" width="120"> </el-table-column>
      <el-table-column fixed="right" label="操作" width="200">
        <template slot-scope="scope">
          <el-button plain type="primary" size="small">编辑</el-button>
          <el-button plain type="danger" size="small" @click="remove(scope.row, scope.$index)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div v-loading="true" class="box"></div>
    <el-button @click="open">展示loading</el-button>
    <el-button @click="showMsg">消息提示</el-button>
  </div>
</template>

<script>
export default {
  methods: {
    remove(row, index) {
      console.log(row, index);
      this.tableData.splice(index, 1)
    },
    open() {
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      });
      setTimeout(() => {
        loading.close()
      }, 2000)
    },
    showMsg() {
      this.$message.error('这是一条消息提示')
    }
  },

  data() {
    return {
      tableData: [
        {
          date: "2016-05-02",
          name: "王小虎1",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333,
          sex: 1
        },
        {
          date: "2016-05-04",
          name: "王小虎2",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1517 弄",
          zip: 200333,
          sex: 2
        },
        {
          date: "2016-05-01",
          name: "王小虎3",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1519 弄",
          zip: 200333,
          sex: 3
        },
        {
          date: "2016-05-03",
          name: "王小虎4",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1516 弄",
          zip: 200333,
          sex: 1
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.box {
  width: 300px;
  height: 300px;
  border: 2px solid;
}
</style>