<template>
  <div>
    <h2>Home</h2>
    <!-- <el-button>默认按钮</el-button>
    <el-button type="primary">主要按钮</el-button>
    <el-button type="success">成功按钮</el-button>
    <el-button type="info">信息按钮</el-button>
    <el-button type="warning">警告按钮</el-button>
    <el-button type="danger">危险按钮</el-button>
    <el-button icon="el-icon-search" circle></el-button>
    <el-button type="primary" icon="el-icon-edit" circle></el-button>
    <el-button type="success" icon="el-icon-check" circle></el-button>
    <el-button type="info" icon="el-icon-message" circle></el-button>
    <el-button type="warning" icon="el-icon-star-off" circle></el-button>
    <el-button type="danger" icon="el-icon-delete" circle></el-button> -->

    <el-form :model="formInfo" :rules="rules" ref="ruleForm" label-width="100px">
      <el-form-item label="姓名" prop="name">
        <el-input v-model="formInfo.name" />
      </el-form-item>
      <el-form-item label="年龄" prop="age">
        <el-input v-model.number="formInfo.age" />
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-radio-group v-model="formInfo.sex">
          <el-radio label="男"></el-radio>
          <el-radio label="女"></el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="爱好" prop="hobby">
        <el-checkbox-group v-model="formInfo.hobby">
          <el-checkbox label="美食" name="hobby"></el-checkbox>
          <el-checkbox label="唱歌" name="hobby"></el-checkbox>
          <el-checkbox label="运动" name="hobby"></el-checkbox>
          <el-checkbox label="喝酒" name="hobby"></el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submit">立即创建</el-button>
        <el-button @click="reset">重置</el-button>
      </el-form-item>
    </el-form>

    {{ formInfo }}
    <hr />

    <el-row :gutter="20">
      <el-col :span="12"><div class="item red"></div></el-col>
      <el-col :span="12"><div class="item red"></div></el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="6"><div class="item red"></div></el-col>
      <el-col :span="6"><div class="item red"></div></el-col>
      <el-col :span="6"><div class="item red"></div></el-col>
      <el-col :span="6"><div class="item red"></div></el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="4"><div class="item red"></div></el-col>
      <el-col :span="4"><div class="item red"></div></el-col>
      <el-col :span="4" :offset="8"><div class="item red"></div></el-col>
      <el-col :span="4"><div class="item red"></div></el-col>
    </el-row>


  </div>
</template>

<script>
  export default {
    data() {
      return {
        formInfo: {
          name: '',
          age: '',
          sex: '',
          hobby: []
        },
        rules: {
          name: [
            { required: true, message: '请输入姓名', trigger: 'change' },
            { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'change' }
          ],
          age: [
            { required: true, message: '请输入年龄', trigger: 'change' },
            { type: 'number', message: '年龄必须为数字值', trigger: 'change' },
            { pattern: /^135/, message: '开头不是135' }
          ],
          sex: [
            { required: true, message: '请选择性别', trigger: 'change' },
          ],
          hobby: [
            // { type: 'array', required: true, message: '请至少选择一个爱好', trigger: 'change' }
            {
              validator: (rule, value, callback) => {
                if (value.length === 0) {
                  callback(new Error('请至少选择一个爱好'));
                } else {
                  callback();
                }
              }
            }
          ],
        }
      };
    },
    methods: {
      submit() {
        // 校验表单
        console.log(this.$refs.ruleForm)
        this.$refs.ruleForm.validate().then(() => {
          console.log('校验通过')
        }).catch(e => {
          console.log('校验失败')
        })
      },
      reset() {
        this.$refs.ruleForm.resetFields()
      }
    }
  }
</script>

<style lang="scss" scoped>
.item {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.red {
  background: red;
}
</style>
