@import '../font/iconfont.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* 定义css变量 */
  --primary-color: #c1281b;
}
a {
  text-decoration: none;
  color: #333333;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
#app {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}