<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  [v-cloak] {
    display: none;
  }
</style>
<body>

  <div class="app">
    <p v-pre>{{ a }}</p>
    <div v-cloak v-once>
      {{ title }}
    </div>
  </div>


  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        title: '标题'
      }
    })




  </script>
</body>
</html>