<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .app {
    padding-bottom: 200px;
  }
</style>
<body>

  <div class="app">
    <p>姓氏：<input type="text" v-model="fisrtName"></p>
    <p>名字：<input type="text" v-model="lastName"></p>
    <p>个人信息: {{ userInfo }}</p>
    <hr />
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <ul>
      <li v-for="item in list">
        <h3>{{ item.name }}</h3>
        <p>价格: ¥ {{ item.price }}</p>
        <p>
          <button :disabled="item.count <= 0" @click="item.count--">-</button>
          {{ item.count }}
          <button @click="item.count++">+</button>
        </p>
      </li>
    </ul>
    <footer>
      总价：¥ {{ total }}
    </footer>
    <footer>
      总价：¥ {{ total }}
    </footer>
    <footer>
      总价：¥ {{ total }}
    </footer>
    <hr />
    <button @click="arr.push(arr.length)">添加</button>
    {{ arr }}
    <ul>
      <!-- 注意：vue 不推荐在同一个元素上同时使用 v-if 和 v-for，因为会引起不必要的编译 -->
      <!-- <li v-for="item in arr" v-if="item % 2 !== 0">{{ item }}</li> -->
      <li v-for="item in oddArr">{{ item }}</li>
    </ul>
    <hr />
    <button>升序</button>
    <button>降序</button>
    <button>恢复默认</button>
    {{arr1}}
  </div>


  <script>

    const vm = new Vue({
      el: '.app',
      data: {
        arr1: [1,4,2,8,5,23,3],
        arr: [],
        fisrtName: '',
        lastName: '',
        title: '标题',
        list: [
          {
            name: '苹果',
            price: 5,
            count: 0
          },
          {
            name: '香蕉',
            price: 10,
            count: 0
          },
          {
            name: '大鸭梨',
            price: 9,
            count: 0
          },
          {
            name: '橘子',
            price: 3,
            count: 0
          },
          {
            name: '橙子',
            price: 7,
            count: 0
          },
        ]
      },
      methods: {
        totalFn() {
          return this.list.reduce((prev, val) => {
            console.log('计算总和')
            return prev + val.count * val.price
          }, 0)
        }
      },
      computed: {
        // 计算属性，必须 return 一个返回值，使用方式和 data 中的数据一致，但是不推荐给计算属性赋值
        // 1. 有缓存，使用计算属性时，依赖项没有更新就会直接从缓存中读取数据，
        // 2. 依赖项更新时会自动执行函数计算结果存起来
        total() {
          return this.list.reduce((prev, val) => {
            return prev + val.count * val.price
          }, 0)
        },
        userInfo() {
          console.log('userinfo')
          return `我姓 ${this.fisrtName}，名 ${this.lastName}, 今年20`
        },
        oddArr() {
          return this.arr.filter(v => v % 2 !== 0)
        }
      }
    })




  </script>
</body>
</html>