<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .app {
    padding-bottom: 200px;
  }
</style>
<body>

  <div class="app">
    <p>{{ num }}</p>
    <button @click="num++">num + 1</button>
    <button @click="num = num * 2">num * 2</button>
    <hr />
    <button @click="arr.push(arr.length)">push arr</button>{{ arr }}
    <hr />
    <p><input type="text" v-model="obj.name">{{ obj.name }}</p>
    <p><input type="text" v-model="obj.age">{{ obj.age }} <button @click="obj.age++">age+</button></p>
    {{ obj }}
    <button @click="resetObj">修改obj</button>
  </div>


  <script>

    const vm = new Vue({
      el: '.app',
      data: {
        num: 0,
        arr: [1,2],
        obj: {
          name: '小明',
          age: 20,
          a: {
            b: {
              c: {
                d: {
                  e: 100
                }
              }
            }
          }
        }
      },
      methods: {
        resetObj() {
          this.obj = {
            name: '小明',
            age: 20
          }
        },
        logAge() {
          console.log('this.obj.age', this.obj.age)
        }
      },
      computed: {
      },
      // 侦听器
      watch: {
        num(val, oldVal) {
          console.log(`最新值：${val}`, `上一次的值：${oldVal}`)
          console.log('num 改变了', this.num)
        },
        arr: {
          handler(val, oldVal) {
            console.log(this.arr)
          }
        },
        // 给对象重新赋值才能够监听到改变，只修改对象的属性无法监听到改变
        // obj() {
        //   console.log(this.obj)
        // },
        // 监听对象的某个属性变化
        // 'obj.age'(){
        //   console.log('obj.age改变了', this.obj.age)
        // },
        // obj: {
        //   handler() {
        //     console.log('obj改变了', this.obj)
        //   },
        //   // 深度监听，可以监听到对象的任何改变，不论对象内部嵌套多深
        //   deep: true,
        //   // 进入页面立即执行一次
        //   immediate: true
        // },
        // 监听变量改变，执行methods中的某个函数
        'obj.age': [
          'logAge',
          function() {
            console.log('obj.age', this.obj.age)
          }
        ]

      }
    })




  </script>
</body>
</html>