<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .app {
    padding-bottom: 200px;
  }
</style>
<body>

  <div class="app">
    {{ arr }}
    <button @click="changeArr">修改数组</button>
  </div>


  <script>

    const vm = new Vue({
      el: '.app',
      data: {
        num: 0,
        arr: [1,2,3,4,5,6,7]
      },
      methods: {
        changeArr() {
          // 不要通过数组的下标和 length 修改数组内容，此方式修改数组 Object.defineProperty 无法监听，页面不会更新，
          // this.arr[0] = 100
          // this.arr.length = 0
          
          // 使用数组的方法修改可以更新页面，因为 vue 重写了部分可以修改原数组的方法，
          // 例如：push、pop、shift、 unshift、splice、sort、reverse
          // this.arr.push(1)
          console.log(this.arr)
        }
      },
      computed: {
      },
      watch: {
      }
    })





    // const obj = {
    //   name: '王小明',
    //   age: 100
    // }
    // let age = obj.age
    // 数据劫持
    // Object.defineProperty(obj, 'age', {
    //   get() {
    //     console.log('有人获取obj.age了')
    //     return age
    //   },
    //   set(v) {
    //     console.log('obj.age改变了')
    //     age = v
    //     document.body.style.background = '#' + Math.random().toString().slice(2, 8)
    //   }
    // })



  </script>
</body>
</html>