<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .app {
    padding-bottom: 200px;
  }
</style>
<body>

  <div class="app">
    {{ arr }}
    <button @click="changeArr">修改数组</button>
    <hr />
    <button @click="changeObj">修改对象</button>
    {{ obj }}
  </div>


  <script>

    const vm = new Vue({
      el: '.app',
      data: {
        arr: [1,2,3,4,5,6,7],
        obj: {
          name: '小明',
          age: 20
        }
      },
      methods: {
        changeArr() {
          // this.arr.push(this.arr.length)
          this.$set(this.arr, 0, Math.random())
        },
        changeObj() {
          // 给对象新增响应式属性
          this.$set(this.obj, 'sex', Math.random())
          console.log(this.obj)
        }
      },
      computed: {
      },
      watch: {
      }
    })



  </script>
</body>
</html>