<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .app {
    padding-bottom: 200px;
  }
</style>
<body>

  <div class="app">
    <p ref="p1">{{ num }}</p>
    <button @click="add">+</button>
  </div>


  <script>

    const vm = new Vue({
      el: '.app',
      data: {
        num: 0
      },
      methods: {
        add() {
          // vue 修改数据是同步的，页面更新是异步的，数据更新后无法获取到最新的 dom 元素
          this.num++
          
          // 等待页面更新后执行此函数，在此函数中能够获取到最新的 dom 元素
          this.$nextTick(() => {
            // 获取 dom
            console.log(this.$refs.p1.outerHTML)
          })

          console.log('end')
        }
      },
      computed: {
      },
      watch: {
      }
    })



  </script>
</body>
</html>