<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
* {
  padding: 0;
  margin: 0;
}
p {
  width: 100px;
  height: 100px;
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  user-select: none;
}
</style>
<body>

<div class="app">
  <h1>{{ isOverlap ? '重叠' : '不重叠' }}</h1>
  <p
    v-for="(item, index) in arr"
    @mousedown="mousedown(index, $event)"
    @mousemove="mousemove(index, $event)"
    @mouseup="mouseup(index, $event)"
    :style="{
      left: item.left + 'px',
      top: item.top + 'px',
      zIndex: item.isDown ? 2 : 1
    }"
  >{{ item.text }}</p>
</div>


<script>

  const vm = new Vue({
    el: '.app',
    data: {
      arr: [
        {
          isDown: false,
          text: 1,
          left: 0,
          top: 0
        },
        {
          isDown: false,
          text: 2,
          left: 0,
          top: 0
        }
      ]
    },
    methods: {
      mousedown(index, e) {
        this.arr[index].isDown = true
        this.pos = { x: e.offsetX, y: e.offsetY }
      },
      mousemove(index, e) {
        if (this.arr[index].isDown) {
          this.arr[index].left = e.clientX - this.pos.x
          this.arr[index].top = e.clientY - this.pos.y
        }
      },
      mouseup(index, e) {
        this.arr[index].isDown = false
        this.pos = null
      }
    },
    computed: {
      isOverlap() {
        const [{ left: l1, top: t1 }, { left: l2, top: t2 }] = this.arr
        let x = Math.abs(l1 - l2)
        let y = Math.abs(t1 - t2)
        return Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2)) < 100
      }
    },
    watch: {
    }
  })



</script>
</body>
</html>