<script setup>
import { ref, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue'
import Child from './components/Child.vue'

const subTitle = ref('小标题')
const num = ref(0)

</script>

<template>
  <h1>组件上的 v-model</h1>

  <h2>{{ subTitle }}</h2>
  <Child v-model="subTitle" v-model:num="num"  />
  <!-- <Child :modelValue="subTitle" @update:modelValue="subTitle = $event" /> -->

</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
