.goods {
  width: calc((100% - 60px) / 4);
  background: #242529;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  border: 1px solid transparent;
  &.active {
    border: 1px solid #5b61d5;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
  img {
    width: 120px;
  }
  :global {
    img:hover {
      animation: wobble 1s;
    }
  }
  h3 {
    color: #cecece;
    font-size: 14px;
    height: 50px;
    margin-top: 10px;
  }
  p {
    color: #787de6;
    font-weight: bold;
    font-size: 14px;
  }
  button {
    background: #2c2d33;
    color: #ffffff;
    border: none;
    width: 120px;
    height: 40px;
    margin-top: 10px;
  }
  span {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    cursor: pointer;
  }
}