.app {
  background: #262626;
  width: 100vw;
  height: 100vh;
}
.content {
  width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}
.btns {
  margin-bottom: 10px;
  display: flex;
}
.btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:first-of-type {
    background: url(https://www.jq22.com/demo/jquerytpfdyl202207040121/images/left.png) no-repeat;
    background-size: contain;
    &:hover {
      background-image: url(https://www.jq22.com/demo/jquerytpfdyl202207040121/images/left-sel.png);
    }
  }
  &:last-of-type {
    margin-left: 20px;
    background: url(https://www.jq22.com/demo/jquerytpfdyl202207040121/images/right.png) no-repeat;
    background-size: contain;
    &:hover {
      background-image: url(https://www.jq22.com/demo/jquerytpfdyl202207040121/images/right-sel.png);
    }
  }
}
.pics {
  width: 100%;
  overflow: hidden;
  ul {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s linear;
    li {
      flex-shrink: 0;
      width: calc((100% - 60px) / 4);
      background: #ffffff;
      padding: 10px;
      border-radius: 5px;
      list-style-type: none;
      margin-right: 20px;
      position: relative;
      p {
        background: no-repeat center;
        background-size: cover;
        height: 300px;
      }
      &:last-of-type {
        margin-right: 0;
      }
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.4);
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        cursor: pointer;
      }
      &:hover {
        .mask {
          display: flex;
        }
      }
    }
  }
}