<script setup>
import { ref, provide } from 'vue'
import Child1 from './components/Child1.vue'
const num = ref(10)

const changeNum = (n) => {
  console.log('调用 changeNum 修改 num')
  num.value += n
}
// 注入变量给所有后代组件
provide('appNum', num)

</script>

<template>
  <h1>组件</h1>
  <button @click="num++">num: {{ num }}</button>

  <Child1 :n="num" @change="changeNum" />
</template>


<style scoped>

</style>
