<template>
  <el-drawer
    title="新增学生"
    :size="600"
    :visible="visible"
    @close="$emit('update:visible', false)"
  >
    <div class="drawer_content">
      <div class="drawer_top">
        <el-form label-width="80px" :model="form" :rules="rules" ref="form">
          <el-form-item label="姓名" prop="name">
            <el-input v-model="form.name" placeholder="请输入姓名"></el-input>
          </el-form-item>
          <el-form-item label="年龄" prop="age">
            <el-input v-model.number="form.age" placeholder="请输入年龄"></el-input>
          </el-form-item>
          <el-form-item label="性别" prop="sex">
            <el-select  v-model="form.sex" placeholder="请选择性别">
              <el-option label="男" :value="0"></el-option>
              <el-option label="女" :value="1"></el-option>
              <el-option label="其他" :value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="分数" prop="num">
            <el-input v-model.number="form.num" placeholder="请输入分数"></el-input>
          </el-form-item>
          <el-form-item label="地址" prop="address">
            <el-input v-model="form.address" placeholder="请输入地址"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <div class="drawer_footer">
        <el-button @click="$emit('update:visible', false)">取 消</el-button>
        <el-button type="primary" @click="confirm">确 定</el-button>
      </div>
    </div>
  </el-drawer>
</template>

<script>
export default {
  props: ['visible', 'editRow'],
  data() {
    return {
      form: {
        name: '',
        age: '',
        sex: '',
        num: '',
        address: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur' }
        ],
        age: [
          { required: true, message: '请输入年龄', trigger: 'blur' },
          { type: 'number', message: '年龄必须是数字', trigger: 'blur' }
        ],
        num: [
          { required: true, message: '请输入分数', trigger: 'blur' },
          { type: 'number', message: '分数必须是数字', trigger: 'blur' }
        ],
        sex: [
          { required: true, message: '请选择性别', trigger: 'change' }
        ],
        address: [
          { required: true, message: '请输入地址', trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    async confirm() {
      await this.$refs.form.validate()
      this.$emit('ok', this.form)
    }
  },
  watch: {
    visible() {
      if (this.visible) {
        if (this.editRow) {
          // 如果是编辑，反显数据
          this.form = {...this.editRow}
        }
      } else {
        this.$refs.form?.resetFields()
        this.form = {
          name: '',
          age: '',
          sex: '',
          num: '',
          address: ''
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.drawer_content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.drawer_top {
  flex: 1;
  overflow: auto;
  padding: 20px;
}
.drawer_footer {
  height: 80px;
  border-top: 1px solid #DCDFE6;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
</style>
