<template>
  <div class="search-wrap">
    <el-form :model="form" :inline="true" ref="ruleForm" label-width="80px">
      <el-row>
        <el-col :span="8">
          <el-form-item label="姓名">
            <el-input v-model="form.name" placeholder="请输入要搜索的名字"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="年龄">
            <el-input v-model="form.age" placeholder="请输入年龄"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="性别">
            <el-select  v-model="form.sex" placeholder="请选择性别">
              <el-option label="男" :value="0"></el-option>
              <el-option label="女" :value="1"></el-option>
              <el-option label="其他" :value="2"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="分数">
            <el-input v-model="form.num" placeholder="请输入分数"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="地址">
            <el-input v-model="form.address" placeholder="请输入地址"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8" style="padding-left: 80px">
          <el-button type="primary" @click="submit">搜索</el-button>
          <el-button @click="reset">重置</el-button>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        age: '',
        sex: '',
        num: '',
        address: ''
      }
    }
  },
  methods: {
    reset() {
      this.form = {
        name: '',
        age: '',
        sex: '',
        num: '',
        address: ''
      }
      this.$emit('reset')
    },
    submit() {
      const obj = {}
      Object.entries(this.form).forEach(([key, val]) => {
        if (val !== '') {
          obj[key] = val
        }
      })
      this.$emit('search', obj)
    }
  }
}
</script>

<style lang="scss" scoped>
.search-wrap {
  margin-bottom: 20px;
}
</style>
