* {
  margin: 0;
  padding: 0;
}

.search {
  width: 500px;
  height: 50px;
  margin: 100px auto 0;
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  position: relative;
}

.search input {
  flex: 1;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
}

.search button {
  width: 100px;
  background: blue;
  border: none;
  color: #ffffff;
}

.search ul {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  border: 1px solid #cccccc;
  display: none;
}

.search ul li {
  list-style-type: none;
  line-height: 30px;
  font-size: 16px;
  border-bottom: 1px dashed #cccccc;
}

.search ul.show {
  display: block;
}
