<template>
  <div>
    <h1>key的作用</h1>
    <button @click="isLogin = !isLogin">toggle</button>
    <!-- vue 为了优化性能，组件更新时默认使用 “就地复用” 的更新策略 -->
    <!-- key: 唯一值，vue 更新时会先比较 key 是否发生改变，key 改变了就直接删除并重新创建元素 -->
    <input key="login" type="text" v-if="isLogin" placeholder="登录">
    <input key="register" type="text" v-else placeholder="注册">
    <hr />
    <button @click="arr.unshift(Math.random())">添加第一个</button>
    <button @click="arr.shift()">删除第一个</button>
    <ul>
      <li v-for="(item, index) in arr" :key="item">
        <input type="checkbox">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<script>
// 唯一值作为 key
// a b c
// b c

// index 作为 key, 删除第一项
// 0 1 2
// 0 1

export default {
  data () {
    return {
      isLogin: true,
      arr: ['a', 'b', 'c']
    }
  },
  components: {
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  background: orange;
}
</style>
