<template>
  <div class="cities">
    <div class="list" ref="list">
      <div class="hot">
        <h4>热门城市</h4>
        <ul>
          <li v-for="item in hot" :key="item.cityId">{{ item.name }}</li>
        </ul>
      </div>
      <div
        class="list-item"
        v-for="item in cities"
        :key="item.type"
        ref="listItem"
      >
        <h3>{{ item.type }}</h3>
        <ul>
          <li v-for="c in item.list" :key="c.cityId">{{ c.name }}</li>
        </ul>
      </div>
    </div>
    <div class="type-list">
      <p
        v-for="(item, index) in cities"
        :key="item.type"
        @click="jump(index)"
      >{{ item.type }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['cities', 'hot'],
  methods: {
    jump(index) {
      // 获取要滚动的元素距顶部的位置，修改滚动条位置
      this.$refs.list.scrollTop = this.$refs.listItem[index].offsetTop - 94
    }
  }
}
</script>

<style lang="scss" scoped>
.cities {
  display: flex;
  height: 100%;
}
.list {
  flex: 1;
  overflow: auto;
}
.list-item {
  h3 {
    background-color: #f4f4f4;
    color: #797d82;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
  }
  ul {
    padding-left: 20px;
    li {
      line-height: 48px;
      border-bottom: 1px solid #ededed;
      color: #191a1b;
      font-size: 14px;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
.hot {
  padding-left: 20px;
  padding-top: 20px;
  h4 {
    margin-bottom: 10px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: calc(100% / 3 - 10px);
    margin: 5px;
    background: #f4f4f4;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
  }
}
.type-list {
  width: 18px;
  background: #ffffff;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>