<template>
  <header>
    <nav>
      <h2>当前城市-北京</h2>
      <div class="close">X</div>
    </nav>
    <div class="search">
      <div class="input-wrap">
        <div class="icon"></div>
        <input type="text" placeholder="请搜索城市名或拼音" v-model="searchText" @focus="showCancel = true">
        <div class="icon" v-show="searchText.length > 0" @click="searchText = ''">x</div>
      </div>
      <p v-show="showCancel" @click="cancel">取消</p>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      showCancel: false,
      searchText: ''
    }
  },
  methods: {
    cancel() {
      this.showCancel = false
      this.$emit('cancel')
    }
  },
  watch: {
    searchText() {
      this.$emit('show', this.searchText)
    }
  }
}
</script>

<style lang="scss" scoped>
nav {
  height: 44px;
  position: relative;
  h2 {
    line-height: 44px;
    font-size: 16px;
    text-align: center;
  }
  .close {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    text-align: center;
    line-height: 44px;
  }
}
.search {
  height: 50px;
  background: #f4f4f4;
  padding: 9px 15px;
  display: flex;
  p {
    width: 43px;
    text-align: right;
    line-height: 32px;
    font-size: 14px;
  }
}
.input-wrap {
  background: #ffffff;
  flex: 1;
  border-radius: 5px;
  display: flex;
  .icon {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
  }
  input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
  }
}
</style>