<template>
  <div id="app">
    <button @click="page--">上一页</button>
    {{page}}
    <button @click="page++">下一页</button>
    <select v-model="pagesize">
      <option :value="5">每页 5 条</option>
      <option :value="10">每页 10 条</option>
      <option :value="15">每页 15 条</option>
      <option :value="20">每页 20 条</option>
    </select>
    <ul>
      <li v-for="item in arr" :key="item">{{ item }}</li>
      <li class="loading" v-if="loading">加载中...</li>
    </ul>
  </div>
</template>

<script>
const wait = () => {
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve()
    }, 3000)
  })
}
const getList = async ({ page, pagesize }) => {
  await wait()
  return new Array(100).fill(0).map((v, i) => i).slice(page * pagesize - pagesize, page * pagesize)
}

export default {
  data() {
    return {
      page: 1,
      pagesize: 5,
      arr: [],
      loading: false
    }
  },
  watch: {
    page: {
      async handler() {
        console.log('分页改变', this.page)
        this.loading = true
        this.arr = await getList({ page: this.page, pagesize: this.pagesize })
        this.loading = false
      },
      immediate: true
    },
    pagesize: {
      async handler() {
        console.log('分页改变', this.page)
        this.loading = true
        this.arr = await getList({ page: this.page, pagesize: this.pagesize })
        this.loading = false
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss">
li {
  border: 1px solid;
}
ul {
  position: relative;
  min-height: 200px;
}
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
</style>
