<script setup>
import { reactive, ref, computed } from 'vue'
const arr = ref([1,2,3,4,5,6,7,8])
const odd = ref(false)

const even = computed(() => {
  return arr.value.filter(v => {
    if (odd.value) {
      return v % 2 !== 0
    } else {
      return v % 2 === 0
    }
  })
})

</script>

<template>
  <h1>v-if和v-for</h1>
  <!-- vue3中 v-if 的优先级比 v-for 高 -->
  <button @click="odd = !odd">odd\even</button>
  <ul>
    <li
      v-for="item in even"
      :key="item"
    >{{ item }}</li>
  </ul>

</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
