nav {
  background: #cccccc;
  height: 50px;
}
nav a {
  line-height: 50px;
  margin: 0 10px;
}
nav a.aaa {
  color: #ffffff;
  background: red;
}
.user-content {
  border: 1px solid;
}
.user a.active {
  color: #ffffff;
  background: orange;
}