<template>
  <div class="app">
    <h2>商品列表</h2>
    <Button text="按钮1" :color="22" @handleClick="click1"></Button>
    <Button text="按钮2" color="#2196f3"></Button>
    <Button :text="btn3.text" :color="btn3.color"></Button>
    <Button v-bind="btn3"></Button>
    <!-- <Button type="bcd" color="#607d8b"></Button> -->
  </div>
</template>

<script>
import Button from './components/Button.vue'
export default {
  data() {
    return {
      num: 10,
      btn3: {
        text: '按钮3',
        color: '#36a905'
      }
    }
  },
  methods: {
    click1(pos) {
      console.log('点击了按钮1', pos)
    }
  },
  components: {
    Button
  }
}
</script>

<style lang="scss" scoped>
// 样式穿透，当前组件使用了 scoped 还想修改子组件内部的样式
::v-deep .test-p {
  color: tomato;
  font-size: 33px;
}
</style>