<template>
  <div class="box" v-show="value">
    <h3>box组件</h3>
    <button @click="$emit('input', false)">关闭box</button>
  </div>
</template>

<script>
export default {
  props: ['value']
}
</script>

<style lang="scss" scoped>
.box {
  border: 3px solid red;
  padding: 20px;
}
</style>
