<template>
  <div class="box">
    <button @click="$emit('input', value - 1)">-</button>
    {{ value }}
    <button @click="$emit('input', value + 1)">+</button>
  </div>
</template>

<script>
export default {
  props: ['value']
}
</script>

<style lang="scss" scoped>
.box {
  padding: 20px;
  button {
    width: 20px;
    margin: 0 5px;
  }
}
</style>
