<template>
  <div class="formitem">
    <span>{{ label }}:</span>
    <input type="text" :value="value" @input="inputFn">
  </div>
</template>

<script>
export default {
  props: ['label', 'value'],
  methods: {
    inputFn (e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.formitem {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  span {
    width: 80px;
    line-height: 30px;
  }
  input {
    width: 300px;
    height: 30px;
    border: 1px solid #dddfe7;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    &:focus {
      border-color: #409eff;
    }
  }
}
</style>
