<script setup>
import Child2 from './Child2.vue'
import { ref } from 'vue'

const show = ref(true)
</script>

<template>
  <div class="box">
    <h2>child1组件</h2>
    <button @click="show = !show">显示\隐藏</button>
    <Child2 v-if="show" />
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid tomato;
}
</style>
