* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
.detail {
  img {
    width: 100%;
  }
  .actors {
    width: 100%;
    overflow-x: auto;
    ul {
      display: flex;
      li {
        width: 85px;
        flex-shrink: 0;
        margin: 0 10px;
      }
    }
  }
  .photos {
    width: 100%;
    overflow-x: auto;
    ul {
      display: flex;
      li {
        width: 200px;
        flex-shrink: 0;
        margin: 0 10px;
      }
    }
  }
}