<template>
  <div id="app">
    <input type="text" v-model.trim="text" ref="inp">
    <button @click="add">添加</button>
    <ul ref="list">
      <li v-for="item in arr" :key="item.id">{{ item.text }}</li>
    </ul>
    <button @click="getULHeight">获取ul的高度</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      arr: [],
      text: ''
    }
  },
  methods: {
    add() {
      if (this.text.length === 0) {
        this.$refs.inp.focus()
        return
      }
      this.arr.push({
        id: Date.now(),
        text: this.text
      })
      this.text = ''
      // 通过ref获取dom元素
      this.$refs.inp.focus()

      // 数据改变后无法立即获取最新的dom元素
      // 想要获取最新的dom需要使用 nextTick
      this.$nextTick(() => {
        console.log(this.$refs.list.children)
      })

      console.log('end')
    },
    getULHeight() {
      console.log(this.$refs.list.clientHeight)
    }
  }
}


</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  width: 300px;
  border: 1px solid red;
}
</style>
