* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 标准屏幕 375px 下 1rem === 10px */
  /* 当前屏幕width / 375 * 10 */
  font-size: calc(100vw / 375 * 10);
}
body {
  font-size: 14px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
:root {
  /* 定义 css 全局变量 */
  --color: #3683dd;
}
nav {
  height: 5rem;
  background: var(--color);
  color: #ffffff;
  position: relative;
}
nav .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}
nav h2 {
  font-size: 1.6rem;
  text-align: center;
  line-height: 5rem;
}
nav span {
  position: absolute;
  right: 0;
  top: 0;
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  background: tomato;
  text-align: center;
}