.switch {
  text-align: center;
  p {
    width: 60px;
    height: 30px;
    background: #000000;
    padding: 5px;
    cursor: pointer;
    span {
      display: block;
      width: 50%;
      height: 100%;
      background: #0023f5;
      transition: transform 0.3s linear;
    }
    &.on {
      span {
        transform: translateX(100%);
      }
    }
  }
}