* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

ul {
  height: 100vh;
  display: flex;
  align-items: center;
}

ul li {
  width: 200px;
  height: 200px;
  background: tomato;
  flex: 1 0 auto;
}

ul li:nth-child(3) {
  align-self: start;
}
