

main {
  height: calc(100vh - 6rem - 5rem);
  background: #eeeeee;
  overflow: auto;
  padding: 1rem;
  position: relative;
}
.empty {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
}
.empty::after {
  content: '';
  position: absolute;
  width: 37.5rem;
  height: 37.5rem;
  background: url(./img/bg.png) no-repeat left center;
  background-size: 100% auto;
}

.item {
  width: 100%;
  min-height: 7rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
  background: #ffffff;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
}
.item button {
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}
.go-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.del {
  background: tomato;
  color: #ffffff;
  border: none;
}

footer {
  height: 6rem;
  background: #ffffff;
  padding: 1rem;
  border-top: 1px solid #dddddd;
}
footer button {
  background: var(--color);
  color: #ffffff;
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
}