@font-face {
  font-family: "iconfont"; /* Project id 4361110 */
  src: url('iconfont.woff2?t=1701842758975') format('woff2'),
       url('iconfont.woff?t=1701842758975') format('woff'),
       url('iconfont.ttf?t=1701842758975') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-wode:before {
  content: "\e696";
}

.icon-xitongfanhui:before {
  content: "\e6b6";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-cuohao:before {
  content: "\e621";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-wode1:before {
  content: "\e8a0";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-mn_paiming:before {
  content: "\e601";
}

.icon-caidan_o:before {
  content: "\eb71";
}

.icon-playcircle:before {
  content: "\e80f";
}

.icon-zhuanji-:before {
  content: "\e60b";
}

.icon-shouyinji:before {
  content: "\e612";
}

.icon-caidan:before {
  content: "\e620";
}

.icon-xiazai:before {
  content: "\e8bc";
}

.icon-shuzi10:before {
  content: "\e622";
}

.icon-shoucangwenjianjia:before {
  content: "\e819";
}

.icon-xunhuanbofang:before {
  content: "\e6bf";
}

.icon-bofang-xunhuanbofang:before {
  content: "\e68d";
}

.icon-wangyiyunyinle:before {
  content: "\e68c";
}

.icon-lingsheng:before {
  content: "\e7ce";
}

.icon-yinle:before {
  content: "\e607";
}

