<template>
  <div>
    <h1>app组件</h1>
    <nav>
      <span
        v-for="(item, index) in navlist"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >{{ item.title }}</span>
    </nav>
    <!-- <Child1 v-if="curIndex === 0" />
    <Child2 v-else-if="curIndex === 1" />
    <Child3 v-else-if="curIndex === 2" /> -->
    <!-- 动态组件：vue的内置组件，可以根据 is 属性传入的组件名动态渲染组件 -->
    <component :is="navlist[curIndex].ComName"></component>
    <!-- {{ navlist[curIndex].ComName }} -->
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'
import Child3 from './components/Child3.vue'

export default {
  data () {
    return {
      curIndex: 0,
      navlist: [
        {
          title: '导航一',
          ComName: 'Child1'
        },
        {
          title: '导航二',
          ComName: 'Child2'
        },
        {
          title: '导航三',
          ComName: 'Child3'
        },
        {
          title: '导航四',
          ComName: 'Child2'
        }
      ]
    }
  },
  components: {
    Child1,
    Child2,
    Child3
  }
}
</script>

<style lang="scss">
nav {
  border: 1px solid tomato;
  width: 300px;
  display: flex;
  span {
    flex: 1;
    text-align: center;
    line-height: 40px;
    &.active {
      background: orange;
    }
  }
}
</style>
