<template>
  <div class="box">
    <h2>child1组件</h2>
    <ul>
      <li v-for="v in arr" :key="v">{{ v }}</li>
    </ul>
    <p>鼠标的位置: {{ pos }}</p>
  </div>
</template>

<script>
import pos from '../mixins/pos'

export default {
  mixins: [pos],
  data () {
    return {
      arr: [1, 2, 3, 4, 5, 6]
    }
  }
}
</script>

<style lang="scss">
.box {
  border: 1px solid red;
  height: 300px;
  margin-bottom: 10px;
}
</style>
