<template>
  <div class="box">
    <h2>child2组件</h2>
    <button @click="num++">按钮点击次数：{{ num }}</button>
    <p>x 坐标：{{ pos.x }}</p>
    <p>y 坐标：{{ pos.y }}</p>
  </div>
</template>

<script>
import pos from '../mixins/pos'

export default {
  mixins: [pos],
  data () {
    return {
      num: 0
    }
  }
}
</script>

<style lang="scss">
.box {
  border: 5px solid red;
  height: 300px;
  margin-bottom: 10px;
}
</style>
