<template>
  <div id="app">
    <div class="card">
      <Header @submit="addList" />
      <List :list="curList" @del="del" @change="changeChecked" />
      <Footer
        :todoLen="todoLen"
        :total="list.length"
        :curIndex="curIndex"
        @changeType="changeType"
        @clearDone="clearDone"
      />
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import List from './components/List.vue'
import Footer from './components/Footer.vue'

export default {
  data() {
    return {
      list: JSON.parse(localStorage.getItem('todolist')) || [],
      curIndex: 0
    }
  },
  computed: {
    todoLen() {
      return this.list.filter(v => !v.checked).length
    },
    curList() {
      if (this.curIndex === 1) {
        return this.list.filter(v => !v.checked)
      } else if (this.curIndex === 2) {
        return this.list.filter(v => v.checked)
      }
      return this.list
    }
  },
  methods: {
    addList(text) {
      this.list.unshift({
        id: Date.now(),
        text,
        checked: false
      })
    },
    del(id) {
      const index = this.list.findIndex(v => v.id === id)
      this.list.splice(index, 1)
    },
    changeChecked(id) {
      const index = this.list.findIndex(v => v.id === id)
      this.list[index].checked = !this.list[index].checked
    },
    clearDone() {
      this.list = this.list.filter(v => !v.checked)
    },
    changeType(type) {
      this.curIndex = type
    }
  },
  watch: {
    list: {
      handler() {
        // 修改数据时存到本地
        localStorage.setItem('todolist', JSON.stringify(this.list))
        if (this.todoLen === 0 || this.todoLen === this.list.length) {
          this.curIndex = 0
        }
      },
      deep: true
    }
  },
  components: {
    Header,
    List,
    Footer
  }
}
</script>

<style lang="scss" scoped>
#app {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, #ffafbd, #ffc3a0);
}
.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  min-height: 440px;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
</style>
