<script setup>
import { usePlayerStore } from '@/stores/player'
import { useRouter } from 'vue-router'

const router = useRouter()
const playerStore = usePlayerStore()

</script>

<template>
  <div class="player" @click="router.push('/player')">
    <div class="bg">
      <img :src="playerStore.curPlaySong?.al.picUrl" alt="">
      <p></p>
    </div>
    <div class="con">
      <img :src="playerStore.curPlaySong.al?.picUrl" alt="">
      <div class="name">
        <h3>{{ playerStore.curPlaySong.name }}</h3>
        <p>{{ playerStore.curPlaySong.ar.map(v => v.name).join('/') }}</p>
      </div>
      <div class="right" @click.stop>
        <i class="iconfont icon-caidan_o"></i>
        <i :class="['iconfont', playerStore.paused ? 'icon-playcircle' : 'icon-zanting']" @click="playerStore.play"></i>
        <i class="iconfont icon-xiayigexiayishou" @click="playerStore.next"></i>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    filter: blur(20px);
  }
  p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .4);
  }
}
.con {
  position: relative;
  display: flex;
  padding: 8px;
  color: #ffffff;
  img {
    width: 44px;
    height: 44px;
  }
  .name {
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
  .right {
    width: 100px;
    display: flex;
    i {
      flex: 1;
      line-height: 44px;
      text-align: center;
      font-size: 22px;
    }
  }
}
</style>
