<script setup>
import { RouterLink } from 'vue-router'
import { ref } from 'vue'
import { userAccountApi, loginStatusApi } from '@/api/user'


const profile = ref({})

const emits = defineEmits(['close'])

loginStatusApi().then(res => {
  profile.value = res.data.data.profile
  console.log('登录状态', res.data.data.profile)
})

// userAccountApi().then(res => {
//   console.log('账号信息', res.data)
// })
</script>

<template>
  <div class="mine" @click.self="emits('close')">
    <div class="content">
      <RouterLink to="/login">去登录</RouterLink>
      <img :src="profile.avatarUrl" alt="">
      <h3>{{ profile.nickname }}</h3>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.mine {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
  z-index: 1;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background: #ffffff;
}
</style>
