
.bigImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transition: transform 1s linear;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    cursor: pointer;
  }
}
.control {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  display: flex;
  // 在 css module 中修改全局样式
  :global(.iconfont) {
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    &:hover {
      background: orange;
    }
  }
  // :global {
  //   .iconfont {
  //     margin: 0 10px;
  //   }
  // }
}