<template>
  <div>
    <h1>app</h1>
    <button @click="num++">+</button>
    <p>{{ num }}</p>
    <Child1 v-if="num < 105" />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
export default {
  components: {
    Child1
  },
  data() {
    return {
      num: 100
    }
  },
  // // 生命周期钩子函数：在特定的时机自动执行的函数
  // // 组件创建之前，不可以访问vue的数据和方法
  // beforeCreate(){
  //   console.log('%c 组件创建之前, beforeCreate', 'color: red;font-size: 20px', this.num)
  // },
  // // 组件创建完成，可以使用vue的数据和方法，可以调用接口
  // created() {
  //   console.log('%c 组件创建完成, created', 'color: red;font-size: 20px', this.num)
  // },
  // // 组件挂载之前，不可以访问dom
  // beforeMount() {
  //   console.log('%c 组件挂载之前, beforeMount', 'color: red;font-size: 20px', document.querySelector('h1'))
  // },
  // // 组件挂载完成，可以获取dom元素
  // mounted() {
  //   console.log('%c 组件挂载完成, mounted', 'color: red;font-size: 20px', document.querySelector('h1'))
  // },
  // // 数据更新后，页面更新之前
  // beforeUpdate() {
  //   console.log('beforeUpdate', this.num, document.querySelector('p').outerHTML)
  // },
  // // dom更新完成，可以获取到最新的dom元素
  // updated() {
  //   console.log('updated', this.num, document.querySelector('p').outerHTML)
  // }
}
</script>

<style>

</style>