.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 50px;
    border-top: 1px solid #ededed;
    display: flex;
    a {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 21px;
        height: 21px;
      }
      span {
        color: #797d82;
        font-size: 10px;
      }
    }
    :global(.active) {
      span {
        color: #ff5f16;
      }
    }
  }
}