<script setup>
import { ref, computed, onMounted, onUpdated, onUnmounted, onBeforeUnmount, onBeforeMount, onBeforeUpdate } from 'vue'
const arr = ref([])
const inp = ref(null)
const searchText = ref('')

const add = () => {
  arr.value.push({
    id: Math.random(),
    text: inp.value.value
  })
  inp.value.value = ''
  inp.value.focus()
}

// 计算属性: 返回一个ref对象，js中使用时需要通过value属性
const filterList = computed(() => {
  return arr.value.filter(v => v.text.includes(searchText.value))
})


const getlist = async () => {
  const res = await axios.get('/api/xxx').
  console.log(res)
} 
getlist()


onBeforeMount(() => {
  console.log('组件挂载之前')
})
onMounted(() => {
  console.log('页面挂载完成', inp.value)
})
onBeforeUpdate(() => {
  console.log('组件更新之前')
})
onUpdated(() => {
  console.log('页面更新完成', document.querySelector('.list').children)
})
onUnmounted(() => {
  console.log('页面销毁完成')
})
onBeforeUnmount(() => {
  console.log('页面销毁之前')
})
</script>

<template>
  <input type="text" placeholder="搜索" v-model="searchText">
  <hr />
  <input type="text" ref="inp" @keydown.enter="add">
  <button @click="add">add</button>
  <ul  class="list">
    <li v-for="item in filterList" :key="item.id">{{ item.text }}</li>
  </ul>
</template>


<style lang='scss' scoped>

</style>
