<template>
  <div class="app">
    <h2>过渡</h2>
    <template v-if="num > 0">
      <button @click="num--">-</button>
      {{num}}
    </template>
    <button @click="num++">+</button>
    <div class="wrap">
      <button @click="show = !show">toggle</button>
      <transition
        enter-active-class="animate__animated animate__rollIn"
        leave-active-class="animate__animated animate__hinge"
      >
        <div class="line" v-if="show">我是一行大标题</div>
      </transition>
      <!-- <transition
        name="move"
        @before-enter="beforeEnter"
        @after-enter="afterEnter"
      >
        <div class="box" v-if="show"></div>
      </transition> -->
    </div>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      show: true,
      num: 0
    }
  },
  methods: {
    beforeEnter() {
      console.log('动画进入之前')
    },
    afterEnter() {
      console.log('动画进入完成')
    }
  },
  created() {
    axios.get('https://zyxcl.xyz/exam_api/classify/list', {
      headers: {
        Authorization: localStorage.getItem('token')
      }
    }).then(res => {
      console.log(res.data)
    })
  }
}
</script>

<style lang="scss">
.box {
  width: 100px;
  height: 100px;
  background: red;
}
.line {
  width: 400px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  background: tomato;
}
.wrap {
  border: 1px solid;
  margin: 200px;
}
// 进入
// 进入之前的样式
.move-enter {
  transform: translateX(-300px) rotate(360deg);
  opacity: 0;
}
// 进入的过程动画
.move-enter-active {
  transition: transform 2s linear, opacity 2s linear;
}
// 进入完成的样式
.move-enter-to {
  transform: translateX(0) rotate(0);;
  opacity: 1;
}
// 离开
// 离开之前的样式
.move-leave {
  transform: translateX(0) scale(1) rotate(0);
  opacity: 1;
}
// 离开的过程动画
.move-leave-active {
  transition: transform 2s linear, opacity 2s linear;
}
// 离开完成的样式
.move-leave-to {
  transform: translateX(789px) scale(0) rotate(720deg);
  opacity: 0;
}
</style>