<template>
  <div>
    <h1>动态组件</h1>
    <div class="control">
      <button @click="curCom--" :disabled="curCom === 0">上一步</button>
      {{ curCom }}
      <button @click="curCom++" :disabled="curCom === coms.length - 1">下一步</button>
    </div>

    <!--
      keep-alive: 缓存组件状态，切换组件时不销毁组件
        max: 最多缓存几个组件
        exclude: 不需要缓存的组件
        include: 需要缓存的组件
    -->
    <keep-alive>
      <Child1 v-if="curCom === 0" />
      <Child2 v-else-if="curCom === 1" />
      <Child3 v-else-if="curCom === 2" />
    </keep-alive>
    <!-- 动态组件: component, 根据组件名动态渲染组件 -->
    <!-- <keep-alive :max="2">
      <component :is="coms[curCom]"></component>
    </keep-alive> -->
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'
import Child3 from './components/Child3.vue'

export default {
  data() {
    return {
      curCom: 0,
      coms: ['Child1', 'Child2', 'Child3']
    }
  },
  methods: {
  },
  components: {
    Child1,
    Child2,
    Child3
  }
}
</script>

<style>

</style>