<template>
  <div class="app">
    <h1>{{ title }}</h1>
    <p>count: {{ count }}</p>
    <button @click="addCount(3)">app count + 3</button>
    <ButtonCounter
      title="第一个组件"
      a="我是A"
      :count="count"
      @addCount="addCount"
    />
  </div>
</template>

<script>
// 引入组件
import ButtonCounter from './components/ButtonCounter.vue'

export default {
  data() {
    return {
      title: 'Vue 组件',
      test: 'App组件测试一下',
      count: 10
    }
  },
  methods: {
    addCount(n) {
      this.count += n
    }
  },
  computed: {},
  watch: {},
  created() {
  },
  mounted() {
  },
  components: {
    // 注册组件
    ButtonCounter
  }
}
</script>

<style lang="scss">
.app {
  h1 {
    color: red
  }
  ul {
    li {
      line-height: 40px;
    }
  }
}
</style>