.list {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.type {
  padding-right: 20px;
  h3 {
    background-color: #f4f4f4;
    color: #797d82;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
  }
  ul {
    padding-left: 20px;
  }
  li {
    background-color: #fff;
    height: 100%;
    line-height: 48px;
    font-size: 14px;
    border-bottom: 1px solid #ededed;
  }
}
.hot {
  padding: 20px;
  h3 {
    font-size: 14px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc((100% - 45px) / 3);
      margin: 7.5px;
      background: #f4f4f4;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
    }
  }
}
.letter {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20px;
  height: calc(100% - 94px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
  }
}
.tips {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: rgba($color: #000000, $alpha: .6);
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  border-radius: 10px;
}