<script setup>
import { ref } from 'vue'
import useCounterStore from '../stores/counter';
import useList from '../stores/list'
import Child from '../components/Child.vue'

const childRef = ref(null)

const counter = useCounterStore()
const listStore = useList()

const fn = () => {
  // 父组件通过ref可以调用子组件的数据和方法
  console.log(childRef.value)
  childRef.value.add(1)
}
</script>


<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>{{ counter.num }}</p>
    <p>total: {{ listStore.total }}</p>
    <button @click="fn">num + 1</button>
    <Child ref="childRef" />
  </div>
</template>

<style>
</style>
