<script setup>
import useCounter from '../stores/counter'
import useList from '../stores/list'

const counter = useCounter()
const listStore = useList()
const add = () => {
  listStore.list.push(Math.random())
}
</script>

<template>
  <h1>{{ listStore.title }}</h1>
  <input type="text" v-model="listStore.title">
  <button @click="add">add</button>
  <ul>
    <li v-for="item in listStore.list" :key="item">{{ item }}</li>
  </ul>
  <hr />
  <button @click="counter.num--">-</button>
  {{ counter.num }}
  <button @click="counter.add">+</button>
</template>
