<template>
  <div>
    <h1>组件上的 .sync 修饰符</h1>

    <!-- <ButtonCounter
      :num.sync="apple.num"
      :price.sync="apple.price"
      :name.sync="apple.name"
    /> -->
    <!-- <ButtonCounter
      :num="apple.num"
      @update:num="apple.num = $event"
      :price="apple.price"
      @update:price="apple.price = $event"
      :name="apple.name"
      @update:name="apple.name = $event"
    /> -->
    {{ apple }}
    <hr />
    <button @click="visible = true">展示弹窗</button>
    <Dialog
      :visible.sync="visible"
      title="商品弹窗"
    >
      <ButtonCounter
        :num.sync="apple.num"
        :price.sync="apple.price"
        :name.sync="apple.name"
      />
    </Dialog>
    <hr >
    <h3>.native 修饰符</h3>
    <!-- .native 修饰符可以把组件上的事件，绑定到组件内的根元素上 -->
    <MyInput @input.native="inputFn" />
  </div>
</template>

<script>
import ButtonCounter from './components/ButtonCounter.vue'
import Dialog from './components/Dialog.vue'
import MyInput from './components/MyInput.vue'

export default {
  data () {
    return {
      visible: false,
      apple: {
        name: '红富士',
        price: 20,
        num: 0
      }
    }
  },
  methods: {
    inputFn (e) {
      console.log(e.target)
    }
  },
  components: {
    ButtonCounter,
    Dialog,
    MyInput
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
