<template>
  <div id="app">
    <h1>{{ title }}</h1>
    <p v-text="desc"></p>
    <p v-text="desc1"></p>
    <p v-html="desc"></p>
    <p v-html="desc1"></p>
  </div>
</template>

<script>
export default {
  data() {
    // 定义数据
    return {
      title: '开始学习vue',
      desc: '我是一行描述',
      desc1: '<b>我是一行描述</b>'
    }
  }
}

// react 数据驱动视图更新，需要调用 setstate 更新数据
// vue 数据驱动视图更新，响应式数据，双向绑定
</script>

<style lang="scss">

</style>
