<template>
  <div>
    <van-empty v-if="cartList.length === 0" description="购物车是空的" />
    <template v-else>
      <van-card
        v-for="item in cartList"
        :key="item.id"
        :num="item.count"
        :price="item.price"
        :title="item.name"
        :thumb="item.img"
      >
        <template #footer>
          <van-button size="small" @click="sub(item.id, item.count)">-</van-button>
          <van-button size="small" type="primary" @click="changeCount({ id: item.id, num: 1 })">+</van-button>
        </template>
      </van-card>

      <van-submit-bar :price="total" button-text="提交订单">
        <!-- <van-checkbox>全选</van-checkbox> -->
      </van-submit-bar>
    </template>


    <!-- <van-cell title="商品民称" label="价格：¥10" icon="passed">
      <template #right-icon>
        <van-button size="small">-</van-button>
        10
        <van-button size="small">+</van-button>
      </template>
    </van-cell> -->
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { Dialog } from 'vant';

export default {
  methods: {
    ...mapMutations(['changeCount']),
    sub(id, count) {
      if (count > 1) {
        this.changeCount({ id, num: -1 })
      } else {
        Dialog.confirm({
          title: '提示',
          message: '确定要删除此商品吗？',
        })
          .then(() => {
            // on confirm
            console.log('确定')
            this.changeCount({ id, num: -1 })
          })
          .catch(() => {
            // on cancel
            console.log('取消')
          });
      }
    }
  },
  computed: {
    ...mapState(['cartList']),
    total() {
      return this.cartList.reduce((prev, val) => {
        return prev + val.count * val.price
      }, 0) * 100
    }
  }
}
</script>

<style lang="scss" scoped>
.van-submit-bar {
  position: relative;
  z-index: 1;
}
</style>