<template>
  <div>
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <!-- <input type="text" :value="title" @input="title = $event.target.value"> -->

    <Input label="姓名" :value="form.name" @input="form.name = $event" />
    <Input label="姓名" v-model="form.name" />
    <Input label="年龄" v-model="form.age" />
    <Input label="性别" v-model="form.sex" />
    <Input label="备注" v-model="form.remark" />
    <button>提交</button>
    {{form}}
    <hr />
    <ButtonCounter v-model="form.age" />
    <!-- <ButtonCounter :value="form.age" @input="form.age = $event" /> -->
  </div>
</template>

<script>
import Input from './components/Input.vue'
import ButtonCounter from './components/ButtonCounter.vue'

export default {
  data() {
    return {
      num: 0,
      title: 'app',
      form: {
        name: '小米',
        age: 22,
        sex: '男',
        remark: '备注信息'
      }
    }
  },
  methods: {
  },
  components: {
    Input,
    ButtonCounter
  }
}
</script>

<style>

</style>