<script setup>
import { lyriclApi } from '@/api'
import { usePlayerStore } from '../../stores/player'
import { useRouter } from 'vue-router'
import { computed, ref, watch } from 'vue';

const router = useRouter()
const playerStore = usePlayerStore()
const showLyricl = ref(false)
const lrc = ref([])

const getLyricl = async () => {
  const res = await lyriclApi(playerStore.curPlaySong.id)
  lrc.value = res.data.lrc.lyric.split(/\n/).map(item => {
    const [time, text] = item.slice(1).split(']')
    const [m, s] = time.split(':')
    return [m * 60 + s * 1, text]
  })
}

watch(() => playerStore.curPlaySong.id, () => {
  getLyricl()
}, {
  immediate: true
})

const addZero = n => n >= 10 ? n : '0' + n
const formatTime = (time) => {
  if (!time) return '00:00'
  const m = addZero(Math.floor(time / 60))
  const s = addZero(Math.floor(time % 60))
  return `${m}:${s}`
}
const progress = computed(() => {
  return playerStore.currentTime / playerStore.duration * 100 + '%'
})
</script>

<template>
  <div class="bg">
    <img :src="playerStore.curPlaySong.al.picUrl" alt="">
    <p></p>
  </div>
  <div class="app">
    <header>
      <i class="iconfont icon-xitongfanhui" @click="router.back"></i>
      <h3>{{ playerStore.curPlaySong.name }}</h3>
      <p>{{ playerStore.curPlaySong.ar.map(v => v.name).join('/') }}</p>
    </header>
    <div class="center" @click="showLyricl = !showLyricl">
      <div v-if="showLyricl" class="lyricl">
        <p
          v-for="(item, index) in lrc"
          :key="index"
          :class="{ active: playerStore.currentTime >= item[0] && playerStore.currentTime < lrc[index + 1][0] }"
        >{{ item[1] }}</p>
      </div>
      <div v-else :class="['pic', { pause: playerStore.paused }]">
        <p :style="{ backgroundImage: `url(${playerStore.curPlaySong.al.picUrl})` }"></p>
      </div>
    </div>
    <div class="controls">
      <div class="top">
        <div class="valume">
          <p>音量</p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <p class="currentTime">{{ formatTime(playerStore.currentTime) }}</p>
        <div class="progress">
          <div class="line">
            <i :style="{ width: progress }"></i>
            <b :style="{ left: progress }"></b>
          </div>
        </div>
        <p class="duration">{{ formatTime(playerStore.duration) }}</p>
        <p class="rate" @click="playerStore.changeRate">{{ playerStore.playbackRate === 1 ? '倍速' : playerStore.playbackRate }}</p>
      </div>
      <div class="bottom">
        <i class="iconfont icon-bofang-xunhuanbofang"></i>
        <!-- <i class="iconfont icon-xunhuanbofang"></i> -->
        <p>
          <i class="iconfont icon-shangyishoushangyige" @click="playerStore.prev"></i>
          <i :class="['iconfont', playerStore.paused ? 'icon-playcircle' : 'icon-zanting']" @click="playerStore.play"></i>
          <i class="iconfont icon-xiayigexiayishou" @click="playerStore.next"></i>
        </p>
        <i class="iconfont icon-caidan_o"></i>
      </div>
    </div>
    <div class="menu">
      <ul>
      </ul>
    </div>
  </div>
</template>

<style lang='scss' scoped>

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
  }
  p {
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .5);
    position: relative;
  }
}
.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  color: #ffffff;
  position: relative;
  height: 60px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  i {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
  }
}
.center {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.pic {
  width: 280px;
  height: 280px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  background: rgba($color: #ffffff, $alpha: 0.3);
  padding: 20px;
  animation: rotate 10s linear infinite;
  &.pause {
    animation-play-state: paused;
  }
  p {
    width: 100%;
    height: 100%;
    background: url(./img/0.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
  }
}
.lyricl {
  width: 100%;
  height: 80%;
  text-align: center;
  color: #ffffff;
  overflow: auto;
  p {
    line-height: 26px;
    opacity: 0.6;
    &.active {
      opacity: 1;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.controls {
  height: 100px;
  padding: 0 10px;
  color: #ffffff;
}
.top {
  height: 20px;
  display: flex;
  p, .valume {
    width: 40px;
    margin: 0 3px;
    text-align: center;
  }
}
.valume {
  position: relative;
  ul {
    position: absolute;
    top: -60px;
    left: 10px;
    width: 20px;
    height: 60px;
    display: flex;
    flex-direction: column-reverse;
    li {
      list-style-type: none;
      width: 20px;
      height: 10px;
      background: rgba($color: #000000, $alpha: .6);
      margin-bottom: 4px;
      font-size: 12px;
      &.active {
        background: #ffffff;
      }
    }
  }
}
.progress {
  flex: 1;
  padding: 0 5px;
  .line {
    height: 2px;
    width: 100%;
    background: #ffffff;
    margin-top: 9px;
    position: relative;
    i {
      display: block;
      width: 0;
      height: 2px;
      background: orange;
    }
    b {
      position: absolute;
      top: -4px;
      left: 0%;
      transform: translateX(-5px);
      width: 10px;
      height: 10px;
      background: #ffffff;
      border-radius: 50%;
    }
  }
}
.bottom {
  display: flex;
  padding: 20px 10px;
  i {
    width: 40px;
    text-align: center;
  }
  p {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
  }
  .iconfont {
    font-size: 30px;
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .6);
  display: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  ul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    transform: translateY(100%);
    transition: transform 1s linear;
    li {
      line-height: 40px;
      border-bottom: 1px dashed;
      padding-left: 20px;
      &.active {
        background: tomato;
        color: #ffffff;
      }
    }
  }
  &.show {
    opacity: 1;
    ul {
      transform: translateY(0);
    }
    li b {
      pointer-events: none;
    }
  }
}
</style>
