<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.app {
  width: 100vw;
  height: 100vh;
}
</style>
