<script setup>
import { ref, provide, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue'
import Child1 from './components/Child1.vue'

const subTitle = ref('小标题')
const num = ref(0)

// provide提供数据给所有的后代组件
provide('subTitle', subTitle)
provide('num', num)

</script>

<template>
  <h1>provide、inject</h1>
  <h2>{{ subTitle }}</h2>
  <input type="text" v-model="subTitle">
  <p>num: {{ num }} <button @click="num++">+</button></p>
  <Child1   />

</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
