* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
.chart {
  width: 100%;
  height: 500px;
  background: #ffffff;
}