<script setup>
import useCounterStore from '../stores/counter';
import useList from '../stores/list'


const counter = useCounterStore()
const listStore = useList()

console.log(listStore.title)
console.log(listStore.list)
console.log(listStore.total)

</script>


<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>{{ counter.num }}</p>
    <p>total: {{ listStore.total }}</p>
  </div>
</template>

<style>
</style>
