<script setup>
import { reactive, ref, computed } from 'vue'
const title = ref('vue3')
const num = ref(0)

// 定义计算属性，返回一个ref对象，通过 value 获取值
const list = computed(() => {
  return title.value.split('').filter((v, i) => i % 2 === 0)
})

const test = computed(() => {
  return num.value + title.value.length
})

console.log(test.value)

</script>

<template>
  <!-- 使用ref变量 -->
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <ul>
    <li v-for="item in list" :key="item">{{ item }}</li>
  </ul>
  {{ list }}
  <hr />
  <button @click="num++">{{ num }}</button>
  {{ test }}
</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
