<template>
  <div class="app">
    <h2>商品列表</h2>
    <GoodsCard
      v-for="item in list"
      :key="item.name"
      :name="item.name"
      :price="item.price"
      :count="item.count"
      @changeCount="changeCount"
      @testClick="test"
    />
    <hr />
    <button>测试按钮</button>
    <GoodsCard
      :name="pineapple.name"
      :price="pineapple.price"
      :count="pineapple.count"
      @changeCount="pineapple.count += $event.n"
    />
  </div>
</template>

<script>
import GoodsCard from './components/GodosCard.vue'

export default {
  data() {
    return {
      list: [
        {
          name: '苹果',
          price: 10,
          count: 1
        },
        {
          name: '香蕉',
          price: 6,
          count: 1
        },
        {
          name: '梨',
          price: 4,
          count: 1
        }
      ],
      pineapple: {
        name: '大菠萝',
        price: 20,
        count: 5
      }
    }
  },
  methods: {
    test() {
      console.log('触发了test函数')
    },
    changeCount({ name, n }) {
      this.list.forEach(item => {
        if (item.name === name) {
          console.log(item)
          item.count += n
        }
      })
    }
  },
  components: {
    GoodsCard
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>