<template>
  <el-menu class="menu" router :default-active="$route.path">
    <el-menu-item index="/home/first">
      <i class="el-icon-location"></i>
      <span>首页</span>
    </el-menu-item>
    <el-submenu index="1">
      <template slot="title">
        <i class="el-icon-location"></i>
        <span>系统管理</span>
      </template>
      <el-menu-item index="/home/userlist">用户管理</el-menu-item>
      <el-menu-item index="/home/rolelist">角色管理</el-menu-item>
      <el-menu-item index="/home/permission">权限管理</el-menu-item>
      <el-menu-item index="/home/userinfo">个人信息</el-menu-item>
    </el-submenu>
    <el-submenu index="2">
      <template slot="title">
        <i class="el-icon-menu"></i>
        <span>班级管理</span>
      </template>
      <el-menu-item index="/home/classlist">班级列表</el-menu-item>
      <el-menu-item index="/home/studentlist">班级列表</el-menu-item>
    </el-submenu>
    <el-submenu index="3">
      <template slot="title">
        <i class="el-icon-menu"></i>
        <span>试题管理</span>
      </template>
      <el-menu-item index="/home/createclassify">创建科目</el-menu-item>
      <el-menu-item index="/home/createquestion">创建试题</el-menu-item>
      <el-menu-item index="/home/questionlist">试题列表</el-menu-item>
    </el-submenu>
    <el-submenu index="4">
      <template slot="title">
        <i class="el-icon-menu"></i>
        <span>试卷管理</span>
      </template>
      <el-menu-item index="/home/createtestpaper">创建试卷</el-menu-item>
      <el-menu-item index="/home/testpaper">试卷列表</el-menu-item>
    </el-submenu>
    <el-submenu index="5">
      <template slot="title">
        <i class="el-icon-menu"></i>
        <span>考试管理</span>
      </template>
      <el-menu-item index="/home/createexam">创建考试</el-menu-item>
      <el-menu-item index="/home/examlist">试卷列表</el-menu-item>
    </el-submenu>
  </el-menu>
</template>

<script>
export default {
  methods: {
  },
  created() {
    // console.log(this.$route)
  }
};
</script>

<style lang="scss" scoped>
.menu {
  height: 100%;
  overflow: auto;
  background: #ffffff;
}
</style>