<template>
  <div>
    <el-form v-loading="loading" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
      <el-form-item label="题目" prop="question">
        <el-input v-model="ruleForm.question"></el-input>
      </el-form-item>
      <el-row>
        <el-col :span="12">
          <el-form-item label="题型" prop="type">
            <el-select v-model="ruleForm.type" placeholder="请选择题型" style="width: 100%">
              <el-option
                v-for="item in typeOptions"
                :key="item.value"
                :label="item.name"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="科目" prop="classify">
            <el-select v-model="ruleForm.classify" placeholder="请选择科目" style="width: 100%">
              <el-option
                v-for="item in classifyOptions"
                :key="item._id"
                :label="item.name"
                :value="item.name"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      
      <el-form-item v-if="ruleForm.type === 1" label="单选" prop="answer">
        <el-radio-group v-model="ruleForm.answer">
          <el-radio
            v-for="(item, index) in ruleForm.options"
            :key="index"
            :label="index"
            name="answer"
          >
            <el-form-item
              :style="{ paddingBottom: '20px' }"
              :label="optionsLetter[index]"
              label-width="40px"
              :prop="`options.${index}`"
              :rules="optionsRule"
            >
              <el-input v-model="ruleForm.options[index]" />
            </el-form-item>
          </el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-else-if="ruleForm.type === 2" label="多选" prop="answer">
        <el-checkbox-group v-model="ruleForm.answer">
          <el-checkbox
            v-for="(item, index) in ruleForm.options"
            :key="index"
            :label="index"
            name="answer"
          >
            <el-form-item
              :style="{ paddingBottom: '20px' }"
              :label="optionsLetter[index]"
              label-width="40px"
              :prop="`options.${index}`"
              :rules="optionsRule"
            >
              <el-input v-model="ruleForm.options[index]" />
            </el-form-item>
          </el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item v-else-if="ruleForm.type === 3" label="判断" prop="answer">
        <el-radio-group v-model="ruleForm.answer">
          <el-radio label="对" name="answer"></el-radio>
          <el-radio label="错" name="answer"></el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-else-if="ruleForm.type === 4" label="填空" prop="answer">
        <el-input v-model="ruleForm.answer" placeholder="请输入答案" />
      </el-form-item>

      <el-form-item label="解析">
        <el-input type="textarea" v-model="ruleForm.desc"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm">立即创建</el-button>
        <el-button @click="resetForm">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { questionTypeApi, classifyListApi, createQuestionApi } from '../api'
export default {
  data() {
    return {
      optionsLetter: ['A', 'B', 'C', 'D'],
      ruleForm: {
        question: '',
        type: '',
        classify: '',
        answer: '',
        options: ['', '', '', ''],
        desc: ''
      },
      rules: {
        question: [
          { required: true, message: '请输入题目名称', trigger: 'blur' }
        ],
        type: [
          { required: true, message: '请选择题型', trigger: 'change' }
        ],
        classify: [
          { required: true, message: '请选择科目', trigger: 'change' }
        ],
        answer: [
          { required: true, message: '请选择答案', trigger: 'change' }
        ]
      },
      optionsRule: { required: true, message: '选项不能为空', trigger: 'blur'},
      classifyOptions: [],
      typeOptions: [],
      loading: false
    }
  },
  watch: {
    'ruleForm.type'() {
      if (this.ruleForm.type === 2) {
        this.ruleForm.answer = []
      } else {
        this.ruleForm.answer = ''
        if (this.ruleForm.type === 3 || this.ruleForm.type === 4) {
          this.ruleForm.options = ['', '', '', '']
        }
      }
    }
  },
  computed: {
    formAnswer() {
      // 根据题型格式化答案
      if (this.ruleForm.type === 1) {
        return this.ruleForm.options[this.ruleForm.answer]
      } else if (this.ruleForm.type === 2) {
        return this.ruleForm.answer.map(v => this.ruleForm.options[v]).join(',')
      } else {
        return this.ruleForm.answer
      }
    }
  },
  methods: {
    submitForm() {
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          this.loading = true
          const params = {
            ...this.ruleForm,
            answer: this.formAnswer
          }
          try {
            const res = await createQuestionApi(params)
            if (res.code === 200) {
              this.$confirm('是否添加下一题?', '成功', {
                confirmButtonText: '确定',
                cancelButtonText: '查看题库',
                type: 'success'
              }).then(() => {
                this.resetForm()
              }).catch(() => {
                this.$router.push('/home/questionlist')
              })
            } else {
              this.$message.error(res.msg)
            }
            this.loading = false
          } catch(e) {
            console.log(e)
            this.$message.error('网络错误，请稍后重试')
            this.loading = false
          }
        }
      })
    },
    resetForm() {
      this.$refs.ruleForm.resetFields()
      this.ruleForm.desc = ''
    },
    async getClassify() {
      try {
        const res = await classifyListApi()
        this.classifyOptions = res.data.list
      } catch(e) {
        console.log(e)
      }
    },
    async getQuestionType() {
      try {
        const res = await questionTypeApi()
        this.typeOptions = res.data.list
      } catch(e) {
        console.log(e)
      }
    }
  },
  created() {
    this.getClassify()
    this.getQuestionType()
  }
}
</script>

<style>

</style>