<template>
  <div>
    <div class="table" v-if="form.data">
      <el-form :model="form" ref="form">
        <el-table border :data="form.data">
          <el-table-column fixed="" label="问题" prop="question">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.question`" :rules="{ required: true, message: '请输入问题' }">
                <el-input v-model="scope.row.question" />
              </el-form-item>
            </template>
          </el-table-column>
          <el-table-column label="题型" prop="type">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.type`" :rules="{ required: true, message: '请选择题型' }">
                <el-select v-model="scope.row.type" placeholder="请选择题型" style="width: 100%">
                  <el-option label="单选" :value="1"></el-option>
                  <el-option label="多选" :value="2"></el-option>
                  <el-option label="判断" :value="3"></el-option>
                  <el-option label="填空" :value="4"></el-option>
                </el-select>
              </el-form-item>
            </template>
          </el-table-column>
          <el-table-column label="科目" prop="classify">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.classify`" :rules="{ required: true, message: '请选择科目' }">
                <el-select v-model="scope.row.classify" placeholder="请选择科目" style="width: 100%">
                  <el-option
                    v-for="item in classifyOptions"
                    :key="item._id"
                    :label="item.name"
                    :value="item.name"
                  ></el-option>
                </el-select>
              </el-form-item>
            </template>
          </el-table-column>
          <el-table-column label="答案" prop="answer">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.answer`" :rules="{ required: true, message: '请输入正确答案' }">
                <el-input v-model="scope.row.answer" />
              </el-form-item>
            </template>
          </el-table-column>
          <el-table-column label="描述" prop="desc">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.desc`">
                <el-input v-model="scope.row.desc" />
              </el-form-item>
            </template>
          </el-table-column>
          <el-table-column label="选项A" prop="options">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.options.0`" :rules="optionsRules(scope.row.type, 0)">
                <el-input v-model="scope.row.options[0]" />
              </el-form-item>
            </template>
          </el-table-column>
          <el-table-column label="选项B" prop="options">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.options.1`" :rules="optionsRules(scope.row.type, 1)">
                <el-input v-model="scope.row.options[1]" :disabled="!optionsRules(scope.row.type, 1)" />
              </el-form-item>
            </template>
          </el-table-column>
          <el-table-column label="选项C" prop="options">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.options.2`" :rules="optionsRules(scope.row.type, 2)">
                <el-input v-model="scope.row.options[2]" :disabled="!optionsRules(scope.row.type, 2)" />
              </el-form-item>
            </template>
          </el-table-column>
          <el-table-column label="选项D" prop="options">
            <template slot-scope="scope">
              <el-form-item :prop="`data.${scope.$index}.options.3`" :rules="optionsRules(scope.row.type, 3)">
                <el-input v-model="scope.row.options[3]" :disabled="!optionsRules(scope.row.type, 3)" />
              </el-form-item>
            </template>
          </el-table-column>
        </el-table>
      </el-form>
      <div class="btns">
        <el-button @click="data = null">重新上传</el-button>
        <el-button type="primary" @click="submit">提交</el-button>
      </div>
    </div>
    <el-upload
      v-else
      class="upload"
      drag
      action="#"
      :auto-upload="false"
      :show-file-list="false"
      accept=".xlsx, .xls"
      :on-change="change"
    >
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
      <div class="el-upload__tip" slot="tip">只能上传xlsx/xls文件，且不超过500kb</div>
    </el-upload>
  </div>
</template>

<script>
import { read, utils } from 'xlsx'
import { createMultipleApi, classifyListApi } from '../api'
export default {
  data() {
    return {
      form: {
        data: null
      },
      optionsEnum: ['A', 'B', 'C', 'D'],
      classifyOptions: [],
    }
  },
  methods: {
    async change(file) {
      const isLimit500K = file.size / 1024 > 500
      if (isLimit500K) {
        this.$message.error('文件超过了500kb')
        return
      }
      // 把文件转成 arrayBuffer 格式
      const arrayBuffer = await file.raw.arrayBuffer()
      // 使用 xlsx 插件读取文件内容
      const table = read(arrayBuffer, { type: 'buffer' })
      // 获取 sheet 的名字
      const sheetName = table.SheetNames[0]
      // 从解析的文件内容中查找表格内容
      const sheetData = table.Sheets[sheetName]
      // 把表格内容转成数组
      this.form.data = utils.sheet_to_json(sheetData).map(v => {
        return {
          ...v,
          options: v.options ? v.options.split(',') : ['', '', '', '']
        }
      })
      console.log(this.form.data)
    },
    async submit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          // 校验通过调接口
          this.request()
        }
      })
    },
    async request() {
      try {
        const res = await createMultipleApi(this.form.data)
        if (res.code === 200) {
          this.$confirm('是否继续上传?', '成功', {
            confirmButtonText: '确定',
            cancelButtonText: '查看题库',
            type: 'success'
          }).then(() => {
            this.form.data = null
          }).catch(() => {
            this.$router.push('/home/questionlist')
          })
        } else {
          this.$message.error(res.msg)
        }
      } catch(e) {
        this.$message.error(e)
      }
    },
    optionsRules(type, index) {
      if (type === 3) {
        if (index === 2 || index === 3) {
          return
        }
      } else if (type === 4) {
        if (index === 1 || index === 2 || index === 3) {
          return
        }
      }
      return { required: true, message: `请输入选项${this.optionsEnum[index]}` }
    },
    async getClassify() {
      try {
        const res = await classifyListApi()
        this.classifyOptions = res.data.list
      } catch(e) {
        console.log(e)
      }
    },
  },
  created() {
    this.getClassify()
  }
}
</script>

<style lang="scss" scoped>
.upload {
  width: 100%;
  ::v-deep .el-upload {
    width: 100%;
  }
  ::v-deep .el-upload-dragger {
    width: 100%;
  }
}
.btns {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
</style>