<template>
  <div class="header">
    <div class="logo">logo</div>
    <el-dropdown @command="handleClick">
      <div class="user">
        <el-avatar size="large" :src="info.avator"></el-avatar>
        <div class="username">{{ info.username }}</div>
      </div>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="setting">个人设置</el-dropdown-item>
        <el-dropdown-item command="logout" divided>退出登录</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>

export default {
  computed: {
    info() {
      return this.$store.state.info
    }
  },
  methods: {
    handleClick(key) {
      if (key === 'logout') {
        localStorage.removeItem('token')
        this.$router.push('/login')
      } else if (key === 'setting') {
        this.$router.push('/home/userinfo')
      }
    }
  },
  async created() {
    this.$store.dispatch('getUserInfo')
  }
}
</script>

<style lang="scss" scoped>
.header {
  color: #ffffff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}
.logo {
  font-size: 34px;
}
.user {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  &:hover {
    background: #252a3d;
  }
}
.username {
  margin-left: 10px;
  color: #ffffff;
}
</style>