<template>
  <div class="dialog" @click.self="$emit('close')">
    <div class="content">
      <h2>
        <!-- 具名插槽 -->
        <slot name="header">{{ title }} </slot>
        <span @click="$emit('close')">x</span>
      </h2>
      <div class="center">
        <!-- 插槽：占位符，调用组件时双标签内的排版会展示到此处 -->
        <!-- 作用域插槽: slot 标签上的属性可以在组件调用时的插槽内使用 -->
        <slot :num="num" a="AAA" :b="1000">
          <p>我是插槽的默认内容</p>
        </slot>
      </div>
      <div class="btm">
        <!-- 具名插槽 -->
        <slot name="footer"></slot>
        <button @click="$emit('cancel')">{{ cancelText }}</button>
        <button @click="$emit('ok')">{{ okText }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // props: ['title', 'cancelText']
  props: {
    title: String,
    cancelText: {
      type: String,
      default: '取消'
    },
    okText: {
      type: String,
      default: '确定'
    }
  },
  data () {
    return {
      num: 0
    }
  },
  created () {
    this.timer = setInterval(() => {
      this.num++
      console.log(this.num)
    }, 1000)
  },
  beforeDestroy () {
    console.log('组件销毁')
    clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  min-width: 300px;
  min-height: 200px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  h2 {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #dddddd;
    span {
      position: absolute;
      right: 20px;
      top: 0;
      cursor: pointer;
      &:hover {
        color: #2196F3;
      }
    }
  }
  .center {
    flex: 1;
    padding: 15px;
  }
  .btm {
    height: 50px;
    text-align: right;
    border-top: 1px solid #dddddd;
    padding: 10px 15px;
    button {
      height: 30px;
      padding: 3px 10px;
      margin-left: 5px;
    }
  }
}
</style>
