<template>
  <div class="box">
    <div class="form-item">
      <div class="label">科目：</div>
      <select v-model="form.classify">
        <option value="">请选择科目</option>
        <option
          v-for="item in options"
          :key="item._id"
          :value="item.name"
        >{{ item.name }}</option>
      </select>
    </div>
    <div class="form-item">
      <div class="label">组卷方式：</div>
      <p class="tab">
        <button :class="{ active: !form.isRandom }" @click="form.isRandom = false">选题组卷</button>
        <button :class="{ active: form.isRandom }" @click="form.isRandom = true">随机组卷</button>
      </p>
    </div>
    <div class="type">
      <div class="random" v-if="form.isRandom">
        <span>试题数量:</span>
        <input type="number" v-model.number="num">
        <button class="primary" @click="getQuestion">确定</button>
      </div>
      <button class="primary" v-else @click="getQuestion">选择试题</button>
    </div>
    <div class="selectedQuestion" v-if="form.selectQuestion.length > 0">
      <ul class="list">
        <li>
          <b class="checkbox">序号</b>
          <b>题目</b>
          <b>题形</b>
          <b>答案</b>
        </li>
        <li v-for="(item, index) in form.selectQuestion" :key="item._id">
          <b class="checkbox">{{ index + 1 }}</b>
          <b>{{ item.question }}</b>
          <span>{{ getQuestionType(item.type) }}</span>
          <span>{{ item.answer }}</span>
        </li>
      </ul>
    </div>
    <div class="btns">
      <button @click="$emit('prev')">上一步</button>
      <button class="primary" @click="$emit('done', form)">下一步</button>
    </div>
    <Dialog
      title="选择试题"
      :visible="visible"
      :width="600"
      @close="visible = false"
      @cancel="visible = false"
      @ok="okFn"
    >
      <ul class="list">
        <li>
          <b class="checkbox">选择</b>
          <b>题目</b>
          <b>题形</b>
          <b>答案</b>
        </li>
        <li v-for="item in questions" :key="item._id">
          <b class="checkbox"><input type="checkbox" v-model="selectQuestion" :value="item"></b>
          <b>{{ item.question }}</b>
          <span>{{ getQuestionType(item.type) }}</span>
          <span>{{ item.answer }}</span>
        </li>
      </ul>
    </Dialog>
  </div>
</template>

<script>
import axios from 'axios'
import Dialog from './Dialog.vue'
export default {
  data() {
    return {
      num: 3,
      visible: false, // 显示弹窗
      options: [], // 科目下拉框
      questions: [], // 弹窗展示列表
      selectQuestion: [], // 弹窗内选中的题
      form: {
        isRandom: false, // 是否随机组卷
        classify: '', // 选中的科目
        selectQuestion: [] // 确定选中的题目
      }
    }
  },
  methods: {
    okFn() {
      console.log('点击了确定按钮')
      this.form.selectQuestion = [...this.selectQuestion]
      this.visible = false
    },
    async getQuestion() {
      
      const params = this.form.classify ? { classify: this.form.classify } : {}
      const res = await axios.get('https://zyxcl.xyz/exam_api/question/list',{
        params,
        headers: {
          Authorization: localStorage.getItem('token')
        }
      })
      
      if (this.form.isRandom) {
        // 随机组卷
        this.form.selectQuestion = res.data.data.list.sort(() => Math.random() - 0.5).slice(0, this.num)
      } else {
        // 选题组卷，展示弹窗选择题目
        this.visible = true
        this.questions = res.data.data.list
      }
    },
    getQuestionType(type) {
      const arr = ['单选', '多选', '判断', '填空']
      return arr[type - 1]
    }
  },
  async created() {
    const res = await axios.get('https://zyxcl.xyz/exam_api/classify/list', {
      headers: {
        Authorization: localStorage.getItem('token')
      }
    })
    this.options = res.data.data.list
  },
  components: {
    Dialog
  }
}
</script>


<style lang="scss" scoped>
.box {
  width: 500px;
  margin: 0 auto;
}
.form-item {
  margin-bottom: 16px;
  .label {
    margin-bottom: 10px;
  }
  select {
    border: 1px solid #d9d9d9;
    height: 34px;
    padding: 3px 10px;
    width: 100%;
    outline: none;
    &:hover {
      border-color: #4190f7;
    }
    &:focus {
      border-color: #4190f7;
      box-shadow: 0px 0px 2px 1px #4190f7;
    }
  }
}
.tab {
  display: flex;
  height: 36px;
  button.active {
    box-shadow: 0px 0px 1px 1px #4190f7;
    border-color: #4190f7;
    color: #4190f7;
  }
}
.btns button:first-of-type {
  margin-right: 10px;
}
.type {
  margin: 15px 0;
}
.list {
  max-height: 600px;
  overflow: auto;
  li {
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
    .checkbox {
      flex: none;
      width: 80px;
      padding-right: 20px;
    }
    b, span {
      flex: 1;
    }
  }
}
.selectedQuestion {
  border: 1px solid #d9d9d9;
}
</style>