<template>
  <div class="box">
    <h2>box组件</h2>
    <input type="text" v-model="text"> {{ text }}
    <br />
    <button @click="show = !show">显示隐藏 Child</button>
    <Child v-if="show" />
  </div>
</template>

<script>
import Child from './Child.vue'
export default {
  data () {
    return {
      show: true,
      text: ''
    }
  },
  components: {
    Child
  },
  beforeCreate () {
    console.log('%cBox组件 beforeCreate', 'font-size: 20px;color: red')
  },
  created () {
    console.log('%cBox组件 created', 'font-size: 20px;color: red')
  },
  beforeMount () {
    console.log('%cBox组件 beforeMount', 'font-size: 20px;color: red')
  },
  mounted () {
    console.log('%cBox组件 mounted', 'font-size: 20px;color: red')
  },
  beforeUpdate () {
    console.log('%cBox组件 beforeUpdate', 'font-size: 20px;color: red')
  },
  updated () {
    console.log('%cBox组件 updated', 'font-size: 20px;color: red')
  },
  beforeDestroy () {
    console.log('%cBox组件 beforeDestroy', 'font-size: 20px;color: red')
  },
  destroyed () {
    console.log('%cBox组件 destroyed', 'font-size: 20px;color: red')
  }
}
</script>

<style lang="scss" scoped>
.box {
  padding: 30px;
  border: 2px solid red;
}
</style>
