<template>
  <div class="child">
    <input type="text" v-model="text"> {{ text }}
    <br />
    <h2>Child 组件 - {{ num }}</h2>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: '',
      num: 0
    }
  },
  beforeCreate () {
    console.log('%cChild 组件 beforeCreate', 'font-size: 20px;color: green')
  },
  created () {
    this.timer = setInterval(() => {
      this.num++
      console.log(this.num)
    }, 1000)
    console.log('%cChild 组件 created', 'font-size: 20px;color: green')
  },
  beforeMount () {
    console.log('%cChild 组件 beforeMount', 'font-size: 20px;color: green')
  },
  mounted () {
    this.handleClick = () => {
      console.log('点击页面')
    }
    document.addEventListener('click', this.handleClick)
    console.log('%cChild 组件 mounted', 'font-size: 20px;color: green')
  },
  beforeUpdate () {
    console.log('%cChild 组件 beforeUpdate', 'font-size: 20px;color: green')
  },
  updated () {
    console.log('%cChild 组件 updated', 'font-size: 20px;color: green')
  },
  beforeDestroy () {
    clearInterval(this.timer)
    document.removeEventListener('click', this.handleClick)
    console.log('%cChild 组件 beforeDestroy', 'font-size: 20px;color: green')
  },
  destroyed () {
    console.log('%cChild 组件 destroyed', 'font-size: 20px;color: green')
  }
}
</script>

<style lang="scss" scoped>
.child {
  padding: 30px;
  border: 2px solid green;
}
</style>
