<script setup>
import { reactive, ref } from 'vue'

const title = ref('默认标题')
// 定义ref对象
const h1Dom = ref(null)

const getDom = () => {
  console.log(h1Dom.value)
}
</script>

<template>
  <!-- 使用ref变量 -->
  <h1 ref="h1Dom">{{ title }}</h1>

  <button @click="getDom">获取h1</button>
</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
