<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script>
export default {
  methods: {
    go (path) {
      // 跳转页面
      this.$router.push(path)
    }
  },
  created () {
    console.log(this.$router)
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
.app {
  width: 100vw;
  height: 100vh;
}
</style>
