<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>{{ num }} <button @click="sub">-</button></p>
    <p>arr: {{ arr }}</p>
    <p>总数：{{ total }}</p>
    {{ list }}
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState(['num', 'arr', 'list']),
    ...mapGetters(['total'])
  },
  methods: {
    ...mapMutations(['setList']),
    ...mapActions(['getListAPI']),
    sub () {
      this.$store.commit('setNum', -1)
    }
  },
  created() {
    // 调用仓库的action
    // this.$store.dispatch('getListAPI', 22)
    this.getListAPI(33)
  }
}
</script>