<template>
  <div class="home">
    <h1>{{ title }}</h1>
    <h2>{{ subTitle }}</h2>
    <button @click="setNum(2)">按钮 {{ num }}</button>
    {{ arr }}
    <p>{{ total }}</p>
    <hr />
    {{ list }}
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'

export default {
  name: 'HomeView',
  data () {
    return {
      title: 'Home'
    }
  },
  computed: {
    // 获取 store 中数据
    // num() {
    //   // 获取 store 数据
    //   return this.$store.state.num
    // },
    // title() {
    //   return this.$store.state.title
    // }
    // 使用辅助函数获取 store 数据
    ...mapState(['num', 'arr', 'list']),
    ...mapState({
      subTitle: state => state.title,
    }),
    ...mapGetters(['total'])
  },
  methods: {
    ...mapMutations(['setNum', 'setList'])
    // add () {
    //   // 调用 mutations 的函数
    //   this.$store.commit('setNum', 1)
    // }
  },
  created () {
    // store 实例对象
    console.log(this.$store)

    setTimeout(() => {
      this.setList(['4444', '55555', '77777'])
    }, 2000)
  }
}
</script>
