<template>
  <div class="home">
    <router-view />
    <van-tabbar route>
      <van-tabbar-item to="/shop" icon="home-o">首页</van-tabbar-item>
      <van-tabbar-item to="/cart" icon="friends-o" badge="5">购物车</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  height: 100%;
  padding-bottom: 50px;
  overflow: auto;
}
</style>
