<template>
  <div>
    <h2>child3 组件</h2>
    <input type="text">
    <br >
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
