<template>
  <div class="login">
    <div class="desc">
      <h2>设备管理系统</h2>
      <p>运营与管控一体化的整合式服务平台</p>
      <p>一起解构数字世界，碰撞科技创新思想</p>
    </div>
    <div class="form">
      <h2>登录</h2>
      <el-form :model="info" :rules="rules" ref="ruleForm" class="demo-ruleForm">
        <el-form-item prop="user">
          <el-input v-model="info.user" prefix-icon="el-icon-user-solid" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item  prop="pwd">
          <el-input type="password" v-model="info.pwd" show-password prefix-icon="el-icon-lock" placeholder="请输入密码" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button class="login-btn" type="primary" @click="login">登录</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      info: {
        user: '',
        pwd: ''
      },
      rules: {
        user: [
          { required: true, message: '请输入用户名' }
        ],
        pwd: [
          { required: true, message: '请输入密码' }
        ]
      }
    }
  },
  methods: {
    async login () {
      // 校验表单
      await this.$refs.ruleForm.validate()
      // 校验成功，调用登录接口
      const res = await axios.post('/api/login', this.info)
      if (res.data.code === 0) {
        this.$message.success('登录成功')
        localStorage.setItem('token', res.data.token)
        this.$router.push('/')
      } else {
        this.$message.error(res.data.msg)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background-image: url(https://img.alicdn.com/tfs/TB1cpTewMHqK1RjSZFEXXcGMXXa-2872-1580.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc {
  width: 400px;
  color: #ffffff;
  h2 {
    font-size: 36px;
  }
}
.form {
  width: 400px;
  margin-left: 200px;
  padding: 20px 40px;
  background: #ffffff;
  border-radius: 20px;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .login-btn {
    width: 100%;
  }
}
</style>
