* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #cccccc;
  text-align: center;
  line-height: 100px;
  z-index: 1;
  font-size: 20px;
}
.container {
  padding-top: 100px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;
  position: relative;
}
.fixed {
  position: fixed;
  top: 100px;
  width: 1000px;
}
.title {
  width: 100%;
  height: 54px;
}
h2 {
  width: 100%;
  background: #dddddd;
  padding: 10px;
}
.question {
  border-bottom: 4px solid #cccccc;
  padding: 20px;
}
.question li {
  padding-top: 10px;
}
.card {
  position: fixed;
  top: 100px;
  /* calc() 计算属性，可以跨单位运算 */
  right: calc((100% - 1000px) / 2);
  width: 250px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
}
.card-top {
  height: 40px;
  display: flex;
  background: #dddddd;
}
.card-top p {
  flex: 1;
  text-align: center;
  line-height: 40px;
}
.card-top p:first-child {
  background: skyblue;
}
.card .num {
  display: flex;
  flex-wrap: wrap;
}
.card .num p {
  width: 30px;
  height: 30px;
  background: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}
.card .num p.active {
  background: orange;
  color: #ffffff;
}
.submit {
  position: fixed;
  bottom: 0;
  right: calc((100% - 1000px) / 2);
  width: 100px;
  height: 50px;
}
/* .submit:disabled {
  background: red;
} */
.submit[disabled] {
  background: red;
}