<template>
  <div class="box">
    <h2>child1组件</h2>
    <ul>
      <li v-for="v in arr" :key="v">{{ v }}</li>
    </ul>
  </div>
</template>

<script>

export default {
  props: ['arr'],
  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
.box {
  border: 1px solid red;
  height: 300px;
  margin-bottom: 10px;
  overflow: auto;
}
</style>
