<script setup>
import Child2 from './Child2.vue';
</script>

<template>
  <div class="child">
    <h2>Child1 组件</h2>
    <Child2 />
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid tomato;
  padding: 20px;
}
</style>
