<script setup>
import { inject } from 'vue'

const a = inject('subTitle')
const b = inject('num')
</script>

<template>
  <div class="child">
    <h2>Child3 组件</h2>
    <p>a: {{ a }}</p>
    <p>b: {{ b }}</p>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid tomato;
  padding: 20px;
}
</style>
