<script setup>
import Child3 from './Child3.vue'
</script>

<template>
  <div class="child">
    <h2>Child2 组件</h2>
    <Child3 />
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid tomato;
  padding: 20px;
}
</style>
