:root {
  --fontcolor: blue;
}

.container {
  background-color: tomato;
  opacity: 0.5;
}

.container b {
  font-size: 50px;
}

.container h2 {
  color: var(--fontcolor);
}

.container p {
  font-size: 60px;
}

.container ul {
  background: var(--fontcolor);
}

.container ul li {
  line-height: 40px;
}

.list, .box {
  background: skyblue;
}

.box {
  border: 1px solid tomato;
  opacity: 0.2;
}

.box b {
  font-size: 50px;
}

.list1 li {
  background: green;
  margin-bottom: 10px;
}

.list1 .li1 {
  height: 200px;
}

.list1 .li2 {
  height: 400px;
}

.list1 .li3 {
  height: 600px;
}

.list1 .li4 {
  height: 800px;
}

.list1 .li5 {
  height: 1000px;
}
