// sass、less 是 css 的预编译语言，最终需要编译成 css 运行
// 1. 选择器可以嵌套
// 2. 可以定义变量
// 3. 混入 mixin 和 继承 extend
// 4. 条件语句和循环语句
// 5. 定义函数

// scss 定义变量
$bgColor: tomato;
$base: 20px;

@function fn($px) {
  @return $px * 2;
}

// css 定义变量
:root {
  --fontcolor: blue;
}

// 定义混入，抽离重复样式方便复用
@mixin setOpacity($num: 0.5) {
  opacity: $num;
  b {
    font-size: 50px;
  }
}

.container  {
  background-color: $bgColor; // 使用scss变量
  @include setOpacity; // 使用混入
  h2 {
    color: var(--fontcolor); // 使用css变量
  }
  p {
    font-size: $base + 40px;
  }
  ul {
    background: var(--fontcolor);
    li {
      line-height: 40px;
    }
  }
}
.list {
  background: skyblue;
}
.box {
  @extend .list; // 继承样式
  border: 1px solid $bgColor;
  @include setOpacity(0.2);
}
.list1 {
  li {
    background: green;
    margin-bottom: 10px;
  }
  @for $i from 1 through 5 {
    // li:nth-child(#{$i}) {
    //   height: $i * 100px;
    // }
    .li#{$i} {
      height: fn($i * 100px);
    }
  }
}

