<template>
  <div class="child">
    <h3>child</h3>
    <p>姓名: {{ username }} <button @click="$emit('update:username', Math.random())">修改</button></p>
    <p>年龄: {{ age }} <button @click="$emit('update:age', age + 2)">+</button></p>
  </div>
</template>

<script>
export default {
  props: ['username', 'age']
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid;
  padding: 20px;
}
</style>