* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  vertical-align: top;
}
html, body, .app {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
}
.page {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  min-height: 400px;
}