<script setup>
import { ref, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue'
import Child from './components/Child.vue'

const title = ref('组件')
const subTitle = ref('小标题')
const count = ref(0)
const changeCount = (n) => {
  count.value += n
}

</script>

<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <h2>{{ subTitle }}</h2>
  <input type="text" v-model="subTitle">
  <p>count: {{ count }}</p>
  <Child :text="subTitle" :count="count" @change="changeCount" />

</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
