<template>
  <div class="app">
    <div class="content">
      <div class="progress">
        <div
          v-for="(item, index) in progressTitle"
          :key="item"
          :class="['progress-item', { active: curIndex === index, done: curIndex > index }]"
        >
          <div class="icon" v-if="curIndex > index">
            <svg viewBox="64 64 896 896" focusable="false" data-icon="check" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path></svg>
          </div>
          <div class="icon" v-else>{{ index + 1 }}</div>
          <p>{{ item }}</p>
        </div>
      </div>
      <div class="child-wrap">
        <keep-alive>
          <Child1 v-if="curIndex === 0" @done="done1" />
          <Child2 v-else-if="curIndex === 1" @prev="curIndex--" @done="done2" />
          <Child3 v-else-if="curIndex === 2" :info="form" @prev="curIndex--" @done="done3"  />
        </keep-alive>
      </div>
    </div>
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'
import Child3 from './components/Child3.vue'

export default {
  data() {
    return {
      progressTitle: ['试卷基础信息', '选择组卷方式&科目', '展示试卷基本信息'],
      curIndex: 0,
      form: {}
    }
  },
  methods: {
    done1(form1) {
      this.curIndex++
      // 把第一步的数据存起来
      this.form = { ...this.form, ...form1}
    },
    done2(form2) {
      this.curIndex++
      // 把第二步的数据存起来
      this.form = { ...this.form, ...form2}
    },
    done3() {
      alert('创建成功')
    }
  },
  components: {
    Child1,
    Child2,
    Child3
  }
}
</script>

<style lang="scss" scoped>
.app {
  background: #f1f2f5;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}
.content {
  background: #ffffff;
  min-height: 300px;
  padding: 20px;
}
.progress {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-around;
}
.progress-item {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  margin: 0 12px;
  overflow: hidden;
  .icon {
    width: 30px;
    height: 30px;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background: #ffffff;
    position: relative;
    z-index: 1;
  }
  p {
    padding: 0 12px;
    background: #ffffff;
    position: relative;
    z-index: 1;
  }
  &:last-of-type {
    flex: none;
  }
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 9999px;
    height: 1px;
    background: #d4d4d4;
  }
  &.active {
    .icon {
      background: #4190f7;
      color: #ffffff;
      border-color: #4190f7;
    }
  }
  &.done {
    .icon {
      background: #ffffff;
      border-color: #4190f7;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: #4190f7;
      }
    }
    &::after {
      background: #4190f7;
    }
  }
}
.child-wrap {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
</style>