@font-face {
  font-family: "iconfont"; /* Project id 4368288 */
  src: url('iconfont.woff2?t=1702296795836') format('woff2'),
       url('iconfont.woff?t=1702296795836') format('woff'),
       url('iconfont.ttf?t=1702296795836') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-xiangzuo4:before {
  content: "\e627";
}

.icon-xiangyou4:before {
  content: "\e62b";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-icon-test:before {
  content: "\e833";
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-fangdajing:before {
  content: "\e662";
}

.icon-link-arrow-h-full:before {
  content: "\ea58";
}

.icon-link-arrow-v-full:before {
  content: "\ea59";
}

.icon-huifu:before {
  content: "\e7cc";
}

