<script setup>
import { reactive, ref, computed, watch, watchEffect, watchPostEffect} from 'vue'
const num = ref(0)
const title = ref('标题')
const obj = reactive({
  name: '小明',
  age: 20,
  a: {
    b: {
      c: 300
    }
  }
})

// 监听单个变量
// watch(num, (newVal, oldVal) => {
//   console.log('num改变了', newVal, oldVal)
// })

// 监听多个变量
// watch([num, title], (newVal, oldVal) => {
//   console.log('num或者title改变了', num.value, title.value)
//   console.log(newVal, oldVal)
// })

// 监听对象
// watch(obj, () => {
//   console.log('obj改变了', obj)
// })
// 监听对象的属性改变
// watch(() => obj.age, () => {
//   console.log('obj.age 改变了', obj)
// })
// 深度监听
// watch(
//   () => obj.a,
//   () => {
//     console.log('obj.a 改变了', obj.a)
//   }, 
//   {
//     // 深度监听
//     deep: true,
//     // 进入页面立即执行
//     immediate: true
//   }
// )


// 监听函数内使用的变量改变
// watchEffect(() => {
//   console.log(num.value, title.value)
// })

// watch(num, () => {
//   console.log(num.value, document.querySelector('p').outerHTML)
// }, {
//   // 回调函数等页面更新完成之后执行
//   flush: 'post'
// })

watchPostEffect(() => {
  // 回调函数等页面更新完成之后执行
  console.log(num.value, document.querySelector('p').outerHTML)
})

</script>

<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="num++">按钮点击次数: {{ num }}</button>
  <p>{{ num }}</p>
  <br />
  <input type="text" v-model="obj.name">
  <button @click="obj.age++">age+</button>
  <button @click="obj.a.b.c++">obj.a.b.c++</button>
  {{ obj }}
</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
