<script setup>
// 接收父组件传过来的参数
const props = defineProps(['text', 'count'])
// 接收自定义事件
const emits = defineEmits(['change'])

console.log(props.text)

const sub = () => {
  // 调用父组件传的自定义事件
  emits('change', -1)
}

</script>

<template>
  <div class="child">
    <h2>Child组件</h2>
    <h3>{{ text }}</h3>
    <button @click="sub">-</button>
    {{ count }}
    <button @click="$emit('change', 1)">+</button>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid tomato;
  padding: 20px;
}
</style>
