.header {
  h2 {
    height: 44px;
    text-align: center;
    font-size: 16px;
    line-height: 44px;
  }
}
.search {
  height: 50px;
  background: #f4f4f4;
  padding: 10px 15px;
  display: flex;
}
.searchInpWrap {
  flex: 1;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  padding-left: 20px;
  input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
  }
}
.cencelBtn {
  margin-left: 10px;
  line-height: 30px;
  font-size: 14px;
}