.app {
  width: 100vw;
  height: 100vh;
  background: #989898;
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    min-width: 600px;
    width: 600px;
    height: 300px;
    border: 4px solid #f2b03e;
    margin: 0 auto;
    background: #cccccc;
    display: flex;
  }
}