<template>
  <el-menu class="menu" router :default-active="$route.path">
    <el-submenu index="1">
      <template slot="title">
        <i class="el-icon-location"></i>
        <span>分组一</span>
      </template>
      <el-menu-item index="/home/child1">导航1</el-menu-item>
      <el-menu-item index="/home/child2">导航2</el-menu-item>
    </el-submenu>
    <el-submenu index="2">
      <template slot="title">
        <i class="el-icon-menu"></i>
        <span>分组二</span>
      </template>
      <el-menu-item index="/home/child3">导航3</el-menu-item>
      <el-menu-item index="/home/child4">导航4</el-menu-item>
    </el-submenu>
    <el-menu-item index="/home/child5">
      <i class="el-icon-setting"></i>
      <span slot="title">个人信息</span>
    </el-menu-item>
  </el-menu>
</template>

<script>
export default {
  methods: {
  },
  created() {
    // console.log(this.$route)
  }
};
</script>

<style lang="scss" scoped>
.menu {
  height: 100%;
  background: #ffffff;
}
</style>