<template>
  <div class="footer">
    <div class="left">{{todoLen}} 未完成</div>
    <div class="btns">
      <button :class="{ active: curIndex === 0 }" @click="$emit('changeType', 0)">全部</button>
      <button :class="{ active: curIndex === 1 }" @click="$emit('changeType', 1)" v-if="todoLen > 0 && todoLen < total">未完成</button>
      <button :class="{ active: curIndex === 2 }" @click="$emit('changeType', 2)" v-if="todoLen > 0 && todoLen < total">已完成</button>
    </div>
    <button v-if="todoLen !== total" class="clear" @click="$emit('clearDone')">清空已完成</button>
  </div>
</template>

<script>
export default {
  props: ['todoLen', 'total', 'curIndex'],
}
</script>

<style lang="scss" scoped>
.footer {
  display: flex;
  justify-content: space-between;
  button {
    border: none;
    border-radius: 5px;
    padding: 3px 6px;
    background: none;
    &:hover, &.active {
      background: #fe7345;
      color: #ffffff;
    }
  }
}
.btns {
  display: flex;
  justify-content: center;
  button {
    margin: 0 5px;
  }
}
</style>