<template>
  <header>
    <div class="title">To-Do List</div>
    <h2>~ Today I need to ~</h2>
    <div class="form">
      <input type="text" ref="inp" placeholder="todo..." v-model.trim="inp" @keydown.enter="submit">
      <button @click="submit">submit</button>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      inp: ''
    }
  },
  methods: {
    submit() {
      this.$refs.inp.focus()
      if (this.inp.length === 0){
        return
      }
      this.$emit('submit', this.inp)
      this.inp = ''
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 10px 0;
  }
}
.title {
  background: #fe7345;
  width: 144px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  color: #ffffff;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  transform: rotate(3deg);
}
.form {
  width: 100%;
  display: flex;
  input {
    flex: 1;
    margin-right: 10px;
    border: none;
    outline: none;
    border-bottom: 3px dashed #fe7345;
    height: 40px;
    font-size: 16px;
  }
  button {
    width: 100px;
    font-size: 16px;
  }
}
</style>