<template>
  <div class="list">
    <div
      v-for="item in list"
      :key="item.id"
      class="item"
      :class="{ active: item.checked }"
    >
      <div class="icon" @click="$emit('change', item.id)">
        <svg v-if="item.checked" t="1665711034760" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2526" width="24" height="24"><path d="M939.36 218.912a32 32 0 0 1 45.856 44.672l-538.016 552a32 32 0 0 1-43.776 1.92L63.872 526.048a32 32 0 1 1 41.696-48.544l316.768 271.936L939.36 218.88z" p-id="2527" fill="#ffffff"></path></svg>
        <svg v-else t="1665711105865" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3567" width="24" height="24"><path d="M768 128H256c-70.4 0-128 57.6-128 128v512c0 70.4 57.6 128 128 128h512c70.4 0 128-57.6 128-128V256c0-70.4-57.6-128-128-128z m64 640c0 35.2-28.8 64-64 64H256c-35.2 0-64-28.8-64-64V256c0-35.2 28.8-64 64-64h512c35.2 0 64 28.8 64 64v512z" p-id="3568"></path></svg>
      </div>
      <div class="text">{{item.text}}</div>
      <div class="icon" @click="$emit('del', item.id)">
        <svg t="1665711131260" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4583" width="24" height="24"><path d="M576 512l277.333333 277.333333-64 64-277.333333-277.333333L234.666667 853.333333 170.666667 789.333333l277.333333-277.333333L170.666667 234.666667 234.666667 170.666667l277.333333 277.333333L789.333333 170.666667 853.333333 234.666667 576 512z" fill="#444444" p-id="4584"></path></svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['list']
}
</script>

<style lang="scss" scoped>
.list {
  margin: 30px 0;
  flex: 1;
}
.item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  &.active {
    background: #fe7345;
    color: #ffffff;
    .text {
      text-decoration: line-through;
    }
    path {
      fill: #ffffff;
    }
  }
}
.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.text {
  flex: 1;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

</style>