<script setup>
import { ref, nextTick } from 'vue'


const subTitle = ref('小标题')
const num = ref(0)

const add = () => {
  num.value ++
  nextTick(() => {
    // 等待页面更新后执行此函数
    console.log(document.querySelector('p').outerHTML)
  })
}
</script>

<template>
  <h1>provide、inject</h1>
  <h2>{{ subTitle }}</h2>
  <input type="text" v-model="subTitle">
  <button @click="add">+</button>
  <p>num: {{ num }} </p>

</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
