<template>
  <div>
    <h1>组件上的 v-model</h1>
    <!-- <FormItem label="姓名" :value="form.name" @input="$event => form.name = $event" /> -->
    <!--
      v-model 是一个语法糖，
      本质上是传入名字叫 value 的参数，然后通过 input 事件修改 value 的值
    -->
    <FormItem label="姓名" v-model="form.name" />
    <FormItem label="年龄" v-model="form.age" />
    <FormItem label="性别" v-model="form.sex" />
    <FormItem label="地址" v-model="form.address" />
    {{form}}
    <hr />
    <!-- <input type="text" v-model="form.name">
    <input type="text" :value="form.name" @input="form.name = $event.target.value"> -->

    <hr >
    <ButtonCounter v-model="num" />
    <!-- <ButtonCounter :value="num" @input="num = $event" /> -->
    {{ num }}

    <hr />
    <button @click="show = true">展示box</button>
    <Box v-model="show" />
  </div>
</template>

<script>
import FormItem from './components/FormItem.vue'
import ButtonCounter from './components/ButtonCounter.vue'
import Box from './components/Box.vue'

export default {
  data () {
    return {
      form: {
        name: '默认name',
        age: '默认age',
        sex: '默认性别',
        address: '默认地址'
      },
      num: 0,
      show: false
    }
  },
  methods: {
  },
  components: {
    FormItem,
    ButtonCounter,
    Box
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
