<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
* {
  padding: 0;
  margin: 0;
}
</style>

<body>


<div class="app">
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="num++">+</button>
  <p>{{ num }}</p>
</div>

<script>

  const vm = new Vue({
    el: '.app',
    // template: `
    //   <i>这是一个i标签</i>
    // `,
    data: {
      title: "标题",
      num: 0
    },
    // 1. 创建阶段
    // 1.1 实例创建之前，this相关的内容不可用
    beforeCreate() {
      console.log('beforeCreate', this.title, document.querySelector('h1').outerHTML)
    },
    // 1.2 实例创建完成，this 相关内容可以使用，在函数内可以调用接口，定义定时器等操作
    created() {
      this.timer = setInterval(() => {
        console.log(this.num)
        this.num ++
      }, 1000)
      console.log('created', this.title, document.querySelector('h1').outerHTML)
    },
    // 2. 挂载阶段
    // 2.1 页面挂载之前, 可以使用 this 的数据，但是不能获取到dom
    beforeMount() {
      console.log('beforeMount', this.title, document.querySelector('h1').outerHTML)
      console.log(this.$el)
    },
    // 2.2 页面挂载完成, 可以获取到页面的 dom 元素
    mounted() {
      console.log('mounted', this.title, document.querySelector('h1').outerHTML)
      console.log(this.$el)
    },
    // 3. 更新阶段
    // 3.1 更新之前，数据改变后，页面更新前
    beforeUpdate() {
      console.log('beforeUpdate', this.num, document.querySelector('p').outerHTML)
    },
    // 3.2 页面更新完成，能获取到最新的dom元素
    updated() {
      console.log('updated', this.num, document.querySelector('p').outerHTML)
    },
    // 4. 销毁阶段
    // 4.1 销毁之前，一般用来清除页面中的异步操作，例如：定时器、事件监听
    beforeDestroy() {
      console.log('beforeDestroy')
      clearInterval(this.timer)
    },
    // 4.2 销毁之后
    destroyed() {
      console.log('destroyed')
    }
  })


</script>
</body>
</html>