<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
* {
  padding: 0;
  margin: 0;
}
.app {
  padding: 20px;
}
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid;
  padding: 5px 10px;
}
button {
  min-width: 20px;
  padding: 0 10px;
}
.count {
  display: inline-block;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
header {
  padding: 20px 0;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.content h2 {
  text-align: center;
}
.content p {
  margin: 20px 0;
}
</style>

<body>
  <div class="app">
    <header>
      <button @click="invertSelection">反选</button>
      <button @click="removeBatches">批量删除</button>
      <button @click="list = []">清空</button>
      <button @click="showDialog = true">新增</button>
      <button @click="list.reverse()">商品倒序</button>
      <button @click="sort">{{ sortText[sortType] }}</button>
      <input type="text" placeholder="搜索" v-model.trim="searchText">
    </header>
    <table>
      <thead>
        <tr>
          <th><input type="checkbox" :checked="checkedAll" @change="changeAll"></th>
          <th>名称</th>
          <th>产地</th>
          <th>数量</th>
          <th>生产时间</th>
          <th>单价</th>
          <th>小计</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in renderList">
          <td><input type="checkbox" v-model="item.checked"></td>
          <td>{{ item.name }}</td>
          <td>{{ item.address }}</td>
          <td>
            <button @click="item.count--" :disabled="item.count <= 0">-</button>
            <span class="count">{{ item.count }}</span>
            <button @click="item.count++">+</button>
          </td>
          <td>{{ item.createDate }}</td>
          <td>¥ {{ item.price }}</td>
          <td>¥ {{ item.price * item.count }}</td>
          <td>
            <button @click="showEdit(item)">编辑</button>
            <button @click="del(item.name)">删除</button>
          </td>
        </tr>
        <tr>
          <td colspan="8">总价: ¥ {{ total }}</td>
        </tr>
      </tbody>
    </table>
    <div class="dialog" v-show="showDialog" @click.self="close">
      <div class="content">
        <h2>{{ form.id ? '编辑' : '新增' }}</h2>
        <p>名称: <input type="text" v-model.trim="form.name"></p>
        <p>产地: <input type="text" v-model.trim="form.address"></p>
        <p>单价: <input type="number" v-model.number="form.price"></p>
        <div class="btns">
          <button @click="ok">确定</button>
          <button @click="close">取消</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const list = [
      {
        id: 1,
        name: '云南白药',
        address: '云南',
        checked: true,
        count: 3,
        price: 5,
        createDate: '2021-01-01'
      },
      {
        id: 2,
        name: '999感冒灵',
        address: '河北',
        checked: true,
        count: 2,
        price: 7,
        createDate: '2021-05-22'
      },
      {
        id: 3,
        name: '板蓝根',
        address: '河南',
        checked: true,
        count: 1,
        price: 2,
        createDate: '2022-03-03'
      },
      {
        id: 4,
        name: '创可贴',
        checked: true,
        address: '山西',
        count: 10,
        price: 9,
        createDate: '2021-10-09'
      }
    ]

    const vm = new Vue({
      el: '.app',
      data: {
        list: list,
        checkedAll: false, // 全选
        searchText: '', // 搜索框内容
        sortType: 0, // 0: 默认， 1: 升序，2: 降序
        sortText: ['默认排序', '升序', '降序'],
        showDialog: false,
        form: {
          name: '',
          address: '',
          price: ''
        }
      },
      computed: {
        total() {
          return this.list.reduce((prev, val) => {
            return prev + (val.checked ? val.count * val.price : 0)
          }, 0)
        },
        renderList() {
          // 根据 list 和搜索框筛选要渲染的内容
          const list = this.list.filter(v => {
            return v.name.includes(this.searchText) || v.address.includes(this.searchText)
          })
          // 排序
          if (this.sortType === 1) {
            list.sort((a, b) => a.price - b.price)
          } else if (this.sortType === 2) {
            list.sort((a, b) => b.price - a.price)
          }
          return list
        }
      },
      methods: {
        invertSelection() {
          this.list.forEach(item => {
            item.checked = !item.checked
          })
        },
        removeBatches() {
          this.list = this.list.filter(v => !v.checked)
        },
        del(name) {
          if (confirm(`确定删除 ${name} 吗？`)) {
            const index = this.list.findIndex(v => v.name === name)
            this.list.splice(index, 1)
          }
        },
        changeAll(e) {
          this.list.forEach(item => {
            item.checked = e.target.checked
          })
        },
        sort() {
          if (this.sortType + 1 > 2) {
            this.sortType = 0
          } else {
            this.sortType ++
          }
        },
        close() {
          this.showDialog = false
          this.form = {
            name: '',
            address: '',
            price: ''
          }
        },
        // 展示编辑
        showEdit(row) {
          this.form = { ...row }
          this.showDialog = true
        },
        // 点击确定按钮
        ok() {
          console.log(this.form)
          if (this.form.id) {
            this.editOk()
          } else {
            this.addDate()
          }
        },
        addDate() {
          if (this.list.find(v => v.name === this.form.name)) {
            alert('名称不能重复')
            return 
          }
          this.list.push({
            id: Date.now(),
            checked: false,
            count: 1,
            createDate: new Date().toLocaleString(),
            ...this.form
          })
          this.close()
        },
        editOk() {
          if (this.list.find(v => v.name === this.form.name)) {
            alert('名称不能重复')
            return 
          }
          const index = this.list.findIndex(v => v.id === this.form.id)
          this.list.splice(index, 1, { ...this.form })
          this.close()
        }
      },
      watch: {
        list: {
          handler() {
            this.checkedAll = this.list.every(v => v.checked)
          },
          deep: true,
          immediate: true
        },
      }
    })


  </script>
</body>
</html>