<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
* {
  padding: 0;
  margin: 0;
}
</style>

<body>


<div class="app">
  <h1>{{ title }}</h1>
  <button-counter></button-counter>
  <button-counter></button-counter>
  <test-box></test-box>
  <test-box></test-box>
  <test-box></test-box>
  <test-box></test-box>
  <test-box></test-box>
  <test-box></test-box>
</div>

<script>
  // 全局组件
  Vue.component('test-box', {
    template: `
      <div style="border: 2px solid red">
        <h2>{{ text }}</h2>
        <input type="text" v-model="text">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
      </div>
    `,
    data() {
      return {
        text: '测试全局组件'
      }
    },
    computed: {},
    watch: {},
    // 注册局部组件
    components: {
      'button-counter': {
        template: '<button @click="num++">按钮点击了 {{ num }} 次</button>',
        data() {
          return {
            num: 0
          }
        },
        computed: {},
        watch: {}
      }
    }
  })

  const vm = new Vue({
    el: '.app',
    data: {
      title: '组件基础'
    }
  })


</script>
</body>
</html>