<template>
  <div class="app">
    <!-- 显示路由的位置 -->
    <router-view />
  </div>
</template>

<script>
export default {
  created() {
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app, .page {
  width: 100%;
  height: 100%;
}
</style>