<script setup>
import { useRoute } from 'vue-router'

// 获取当前路由信息
const route = useRoute()

console.log(route.query)

</script>

<template>
  <div class="about">
    <h1>about 页面</h1>
  </div>
</template>

<style>

</style>
