<script setup>
import { useUserStore } from '../stores/user'

// 引入store
const userStore = useUserStore()

const change = () => {
  // 调用store的函数
  userStore.changeName(Math.random())
}

</script>

<template>
  <h2>Child2 页面</h2>
  <p>姓名: {{ userStore.username }} <button @click="change">修改姓名</button></p>
  <p>年龄: {{ userStore.age }} <button @click="userStore.age++">+</button></p>
</template>
