<script setup>
import { useUserStore } from '../stores/user'
import { useCounterStore } from '../stores/counter'

const userStore = useUserStore()
const counterStore = useCounterStore()


</script>

<template>
  <h2>Child3 页面</h2>
  <p>{{ counterStore.count }} <button @click="counterStore.count++">+</button></p>
  <p>{{ userStore.username }}</p>
  <p>{{ userStore.age }}</p>
</template>
