<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'

// 获取路由实例
const router = useRouter()

const arr = ref(['a', 'b', 'c', 'e', 'f', 'g'])

const goAbout = p => {
  console.log(p)
  router.push({
    path: '/about',
    query: {
      p,
      aa: 100,
      bb: 200
    }
  })
}
</script>

<template>
  <h2>Child1 页面</h2>
  <ul>
    <li v-for="item in arr" :key="item" @click="goAbout(item)">{{ item }}</li>
  </ul>
</template>
