<script setup>
import { RouterView, RouterLink } from 'vue-router'
</script>

<template>
  <div class="home">
    <div class="side">
      <RouterLink to="/child1">导航1</RouterLink>
      <RouterLink to="/child2">导航2</RouterLink>
      <RouterLink to="/child3">导航3</RouterLink>
    </div>
    <div class="content">
      <RouterView />
    </div>
  </div>
</template>

<style scoped>
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.side {
  width: 200px;
}
.side a {
  display: block;
  line-height: 40px;
  text-align: center;
}
.side .router-link-active {
  background: tomato;
}
.content {
  flex: 1;
  background: #dddddd;
}
</style>
