<template>
  <div>
    <h1>学生列表</h1>
    <div class="content">
      <Search @search="search" @reset="reset" />
      <el-button type="primary" size="medium" icon="el-icon-plus" @click="showDrawer = true">新增</el-button>
      <el-table :data="tableData" style="width: 100%; margin: 20px 0">
        <el-table-column prop="id" label="id" width="180" fixed="left"></el-table-column>
        <el-table-column prop="index" label="序号"></el-table-column>
        <el-table-column prop="name" label="姓名"></el-table-column>
        <el-table-column label="性别">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.sex === 0" type="success">男</el-tag>
            <el-tag v-else-if="scope.row.sex === 1" type="warning">女</el-tag>
            <el-tag v-else type="info">其他</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="age" label="年龄"></el-table-column>
        <el-table-column prop="num" label="分数"></el-table-column>
        <el-table-column prop="address" label="地址" width="200"></el-table-column>
        <el-table-column label="操作" fixed="right" width="180">
          <template slot-scope="scope">
            <el-button size="small" type="primary" @click="edit(scope.row)">编辑</el-button>
            <el-button size="small" type="danger" @click="remove(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        background
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page"
        :page-sizes="[10, 20, 30, 50]"
        :page-size="pagesize"
      ></el-pagination>
      <Create
        v-loading="showLoading"
        :editRow="editRow"
        :visible.sync="showDrawer"
        @ok="ok"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Create from '@/components/Create.vue'
import Search from '@/components/Search.vue'

export default {
  data() {
    return {
      tableData: [],
      total: 0,
      page: 1,
      pagesize: 10,
      showDrawer: false,
      showLoading: false,
      editRow: null // 编辑的那行数据
    }
  },
  methods: {
    async getList(params = {}) {
      const res = await axios.get('/api/list', {
        params: {
          page: this.page,
          pagesize: this.pagesize,
          ...params
        }
      })
      this.tableData = res.data.values.list
      this.total = res.data.values.total
      return res.data.values.list
    },
    handleSizeChange(val) {
      this.pagesize = val
      this.getList()
    },
    handleCurrentChange(val) {
      this.page = val
      this.getList()
    },
    async removeApi(id) {
      const res = await axios.post('/api/del', { id })
      if (res.data.code === 0) {
        this.$message.success('删除成功');
        // 更新数据
        const list = await this.getList()
        if (list.length === 0) {
          this.page--
          this.getList()
        }
      } else {
        this.$message.error(res.data.msg);
      }
    },
    remove(row) {
      this.$confirm(`确定要删除 ${row.name} 吗?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // 调用删除学生的接口
          this.removeApi(row.id)
        }).catch(() => {
          this.$message.info('已取消删除');          
        });
    },
    edit(row) {
      this.editRow = {...row}
      this.showDrawer = true
    },
    async ok(form) {
      this.showLoading = true
      if (this.editRow) {
        const res = await axios.post('/api/update', form)
        if (res.data.code === 0) {
          this.$message.success('编辑成功')
          this.showDrawer = false
          this.getList()
        } else {
          this.$message.error(res.data.msg)
        }
      } else {
        const res = await axios.post('/api/create', form)
        if (res.data.code === 0) {
          this.$message.success('新增成功')
          this.showDrawer = false
          this.getList()
        }
      }
      this.showLoading = false
    },
    search(form) {
      console.log('开始搜索', form)
      this.getList(form)
    },
    reset() {
      console.log('重置')
      this.getList()
    }
  },
  created() {
    this.getList()
  },
  watch: {
    showDrawer() {
      if (!this.showDrawer) {
        this.editRow = null
      }
    }
  },
  components: {
    Create,
    Search
  }
}
</script>

<style lang="scss" scoped>
.content {
  padding: 20px;
  background: #ffffff;
  overflow: hidden;
}
.el-pagination {
  float: right;
}
</style>
