<template>
  <div class="btn-wrap">
    <button :style="{ background: color }" @click="fn">{{ text }}</button>
    <p class="test-p">我是p标签</p>
  </div>
</template>

<script>
export default {
  // 接收父组件传过来的数据
  // props: ['text', 'color'],
  // 对象形式接收 props, 可以校验参数的类型
  props: {
    text: {
      type: String,
      default: '默认按钮'
    },
    color: {
      type: [String, Number],
      required: true
    },
    type: {
      // 自定义校验函数
      validator: function (value) {
        console.log(value)
        return value === 'abc'
      }
    }
  },
  methods: {
    fn(e) {
      // 触发自定义事件，把数据传给父组件
      this.$emit('handleClick', { x: e.clientX, y: e.clientY })
    }
  }
}
</script>


<style lang="scss" scoped>
.test-p {
  color: blue;
}
.btn-wrap {
  padding: 3px 10px;
}
button {
  width: 100%;
  height: 40px;
  background: tomato;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}
button:hover {
  opacity: 0.6;
}
</style>