<script setup>
import Child2 from './Child2.vue'
import { ref } from 'vue'

const show = ref(true)
const showBox = ref(false)

</script>

<template>
  <div class="box">
    <h2>child1组件</h2>
    <button @click="show = !show">显示\隐藏</button>
    <Child2 v-if="show" />
    <hr />
    <button @click="showBox = !showBox">{{ showBox ? '隐藏' : '显示' }}</button>
    
    <Teleport to="body">
      <!-- 让部分元素渲染到页面的其他位置 -->
      <div v-if="showBox" class="box1">我是box1</div>
    </Teleport>
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid tomato;
}
.box1 {
  width: 100px;
  height: 100px;
  background: red;
}
</style>
