<script setup>
import useCount from '../hooks/useCount'

const { num, start, stop, reset } = useCount(20)


</script>

<template>
  <div class="box">
    <h2 @click="start">child2组件</h2>
    <button @click="stop">暂停</button>
    <button @click="reset">重置</button>
    <p>倒计时：{{ num }}</p>
  </div>
</template>

<style lang='scss' scoped>
.box {
  padding: 20px;
  border: 1px solid tomato;
}
</style>
