<template>
  <div>
    <van-empty v-if="addressList.length === 0" description="还没有地址，快去新增地址吧" />
    <van-address-list
      v-model="chosenAddressId"
      :list="addressList"
      @add="onAdd"
      @edit="onEdit"
      @select="onSelect"
    />
  </div>
</template>

<script>
import { Toast } from 'vant';
import { mapState, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapState(['addressList', 'chosenAddressId'])
  },
  methods: {
    ...mapMutations(['selectAddress']),
    onAdd() {
      this.$router.push('/create')
    },
    onEdit(item, index) {
      Toast('编辑地址:' + index);
    },
    onSelect(item, index) {
      console.log(item, index)
      this.selectAddress(item.id)
      this.$router.back()
    }
  },
};
</script>

<style lang="scss" scoped>

</style>
