.keyboard {
  flex: 1;
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  p {
    width: calc((100% - 18px) / 3);
    height: calc((100% - 18px) / 3);
    background: #8b8b8b;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-family: "黑体";
    &.keydown {
      box-shadow: none;
    }
    &.orange {
      background: orange;
    }
  }
}