<script setup>
import { reactive } from 'vue'

// 定义数组和对象，不可以重新赋值，必须通过属性或者方法修改内容
// 无法定义基础类型响应式变量
const arr = reactive([1, 2, 3, 4])
const obj = reactive({ name: '王小明', age: 200 })


const add = () => {
  console.log('add 函数', arr)
  arr.push(Math.random())
  // arr[0] = Math.random()
  // arr.length = 0

  // reactive 定义的变量不可以重新赋值
  // arr = []
}
const changeObj = () => {
  console.log(obj)
  // obj.sex = '男'
}

</script>

<template>
  <h1>vue3</h1>
  <button @click="add">add</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
  <hr />
  <button @click="changeObj">修改obj</button>
  <p>姓名: {{ obj.name }} <input type="text" v-model="obj.name"></p>
  <p>年龄: {{ obj.age }} <button @click="obj.age++">+</button></p>
  {{ obj }}
</template>

<style lang="scss">
h1 {
  color: red;
}
</style>
