* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  vertical-align: top;
}
html, body, .app {
  width: 100%;
  height: 100%;
}