<script setup>
import { reactive, ref } from 'vue'
// ref 可以定义任意类型的变量
// js 中使用 ref 变量必须通过 value 属性，template 中不用通过value获取
const title = ref('标题')
const num = ref(10)
const flag = ref(true)
const arr = ref([1,2,3])

const add = () => {
  console.log(num)
  num.value++
}
const push = () => {
  console.log(arr)
  // arr.value.push(Math.random())
  arr.value = [Math.random()]
}
</script>

<template>
  <h1>{{ title }}</h1>
  <button @click="num--">-</button>
  {{ num }}
  <button @click="add">+</button>
  <hr />
  <button @click="flag = !flag">显示\隐藏</button>
  <div v-if="flag" class="box"></div>
  <hr />
  <button @click="push">添加</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
