main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: calc(100vh - 5rem);
}
main input {
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
}
main textarea {
  width: 100%;
  flex: 1;
  margin: 1.6rem 0;
  padding: 1rem;
}
main button {
  height: 4rem;
  width: 100%;
  background: var(--color);
  border: none;
  border-radius: 0.4rem;
  color: #ffffff;
}