.login {
  width: 100vw;
  height: 100vh;
}
.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.forget {
  float: right;
}