<script setup>
import { RouterView } from 'vue-router'
import { usePlayerStore } from './stores/player'
import ControlPlayer from './components/ControlPlayer.vue'
import { useRoute } from 'vue-router'
import { computed } from 'vue'

const playerStore = usePlayerStore()
const route = useRoute()

const showControl = computed(() => {
  return playerStore.curPlaySong && route.name !== 'player'
})

const pause = () => {
  playerStore.paused = true
}
const play = () => {
  playerStore.paused = false
  playerStore.audioRef.playbackRate = playerStore.playbackRate
}
const timeupdate = () => {
  playerStore.currentTime = playerStore.audioRef.currentTime
  playerStore.duration = playerStore.audioRef.duration
  console.log(playerStore.currentTime)
}
const ended = () => {
  playerStore.next()
}
</script>

<template>
  <div :class="['route', { padding: playerStore.curPlaySong }]">
    <RouterView />
  </div>
  <ControlPlayer v-if="showControl" />
  <audio
    @pause="pause"
    @play="play"
    @timeupdate="timeupdate"
    @ended="ended"
    :ref="playerStore.getAudioRef"
    :src="playerStore.curPlaySong?.url"
  ></audio>
</template>

<style lang="scss" scoped>
.route {
  height: 100%;
  overflow: hidden;
}
.padding {
  padding-bottom: 60px;
}
</style>
