* {
  margin: 0;
  padding: 0;
}
nav {
  width: 300px;
  height: 40px;
  display: flex;
  border: 1px solid;
}
nav span {
  flex: 1;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
nav .active {
  background: orange;
}
ul {
  width: 300px;
  height: 300px;
  border: 1px solid;
}