<template>
  <div id="app">
    <h2>遍历数组</h2>
    <ul>
      <li v-for="(v, i) in arr" v-bind:key="v">
        <p>内容: {{ v }}</p>
        <p>下标：{{ i }}</p>
      </li>
    <hr />
    <h2>遍历字符串</h2>
    <ul>
      <li v-for="item in 'asdqwe'" :key="item">{{ item }}</li>
    </ul>
    <hr />
    <h2>遍历数字</h2>
    <ul>
      <li v-for="item in 5" :key="item">{{ item }}</li>
    </ul>
    <hr />
    <h2>遍历对象</h2>
    <ul>
      <li v-for="(val, key, index) in user" :key="val">
        <p>属性名: {{ key }}</p>
        <p>属性值: {{ val }}</p>
        <p>下标: {{ index }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      arr: ['a', 'b', 'c', 'd'],
      user: {
        name: '小明',
        age: 22,
        sex: '男'
      }
    }
  }
}

// react 数据驱动视图更新，需要调用 setstate 更新数据
// vue 数据驱动视图更新，响应式数据，双向绑定
</script>

<style lang="scss">
.red {
  border: 1px solid red;
}
.green {
  border: 1px solid green;
}
</style>
