<template>
  <div id="app">
    <nav>
      <span
        v-for="(item, index) in tab"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="changeIndex(index)"
      >{{ item.title }} - {{ index }}</span>
    </nav>
    <ul>
      <li v-for="item in tab[curIndex].songs" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      curIndex: 0,
      tab: [
        {
          title: '周杰伦',
          songs: ['夜曲', '东风破', '青花瓷', '红尘客栈']
        },
        {
          title: '凤凰传奇',
          songs: ['最炫民族风', '奢香夫人', '月亮之上', '郎的诱惑']
        },
        {
          title: '张杰',
          songs: ['天下', '逆战', '着魔', '秋天的童话']
        }
      ]
    }
  },
  methods: {
    changeIndex(i) {
      this.curIndex = i
    }
  }
}

</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
nav {
  width: 300px;
  display: flex;
  border: 1px solid;
  span {
    flex: 1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    &.active {
      background: orange;
    }
  }
}
</style>
