<template>
  <div>
    <h1>EventBus</h1>
    <Child1 :arr="arr" />
    <Child2 @push="pushArr" />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'

export default {
  data () {
    return {
      arr: [1, 2, 3, 4, 5, 6]
    }
  },
  methods: {
    pushArr () {
      this.arr.push(Math.random())
    }
  },
  created () {
  },
  components: {
    Child1,
    Child2
  }
}
</script>

<style lang="scss">

</style>
