<template>
  <div>
    <h2>child3 组件</h2>
    <input type="text" v-model="text">
    {{ text }}
    <br >
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: '测试'
    }
  },
  created () {
    console.log('child3 创建')
  },
  beforeDestroy () {
    console.log('child3 销毁')
  }
}
</script>

<style>

</style>
