<template>
  <div>
    <h2>child2 组件</h2>
    <button @click="arr.push(arr.length)">add</button>
    <ul>
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      arr: []
    }
  },
  created () {
    console.log('child2 创建')
  },
  beforeDestroy () {
    console.log('child2 销毁')
  }
}
</script>

<style>

</style>
