<template>
  <div>
    <h2>child1 组件</h2>
    <button @click="num--">-</button>
    {{ num }}
    <button @click="num++">+</button>
    <br />
    <p>计时器：{{ count }}</p>
    <img src="../assets/t1.png" alt="">
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0,
      count: 0
    }
  },
  created () {
    console.log('child1 创建')
  },
  beforeDestroy () {
    console.log('child1 销毁')
  },
  activated () {
    console.log('Child1 显示了')
    this.timer = setInterval(() => {
      this.count++
      console.log(this.count)
    }, 1000)
  },
  deactivated () {
    console.log('Child1 隐藏了')
    clearInterval(this.timer)
  }
}
</script>

<style>

</style>
