<script setup>
import { RouterView, RouterLink } from 'vue-router'
</script>

<template>
  <div class="first">
    <div class="first-nav">
      <RouterLink to="/first/newSong">新歌</RouterLink>
      <RouterLink to="/first/songList">歌单</RouterLink>
      <RouterLink to="/first/topList">排行榜</RouterLink>
    </div>
    <div class="first-content">
      <RouterView />
    </div>
  </div>
</template>

<style lang='scss' scoped>
.first {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.first-nav {
  height: 40px;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    line-height: 40px;
    &.router-link-active {
      color: var(--primary-color);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: var(--primary-color);
      }
    }
  }
}
.first-content {
  flex: 1;
  overflow: hidden;
}
</style>
