<script setup>
import { ref, provide } from 'vue'
import Child1 from './components/Child1.vue'
import { useCountDown } from './hooks/useCountDown.js'

const countDownStr = useCountDown()

</script>

<template>
  <h1>App组件</h1>
  <p>{{ countDownStr }}</p>
  <Child1 :n="num" @change="changeNum" />
</template>


<style scoped>

</style>
