<template>
  <div>
    <h1>app组件</h1>
    <nav>
      <span
        v-for="(item, index) in navlist"
        :key="item.title"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >{{ item.title }}</span>
    </nav>
    <!-- keep-alive: 内置组件，可以缓存组件的状态，切换组件时不销毁组件 -->
    <!-- <keep-alive>
      <Child1 v-if="curIndex === 0" />
      <Child2 v-else-if="curIndex === 1" />
      <Child3 v-else-if="curIndex === 2" />
    </keep-alive> -->
    <!-- 动态组件：vue的内置组件，可以根据 is 属性传入的组件名动态渲染组件 -->
    <!-- include - 需要缓存的组件
          exclude - 不需要缓存的组件
          max - 最多可以缓存几个组件，只存最近访问的几个组件 -->
    <keep-alive>
      <component :is="navlist[curIndex].ComName"></component>
    </keep-alive>
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
// import Child2 from './components/Child2.vue'
// import Child3 from './components/Child3.vue'

export default {
  data () {
    return {
      curIndex: 0,
      navlist: [
        {
          title: '导航一',
          ComName: 'Child1'
        },
        {
          title: '导航二',
          ComName: 'Child2'
        },
        {
          title: '导航三',
          ComName: 'Child3'
        }
      ]
    }
  },
  components: {
    Child1,
    // 异步组件（组件懒加载），打包时拆分 js 文件
    Child2: () => import(/* webpackChunkName: "child2" */'./components/Child2.vue'),
    Child3: () => import(/* webpackChunkName: "child3" */'./components/Child3.vue')
  }
}
</script>

<style lang="scss">
nav {
  border: 1px solid tomato;
  width: 300px;
  display: flex;
  span {
    flex: 1;
    text-align: center;
    line-height: 40px;
    &.active {
      background: orange;
    }
  }
}
</style>
