.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba($color: #121314, $alpha: 0.8);
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  flex-direction: row-reverse;
  button {
    width: 100px;
    background: #34363c;
    border: none;
    color: #575b6a;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    &.active {
      background: #484ec0;
      color: #ffffff;
    }
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
    li {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      background: #2c2d33;
      border-radius: 3px;
      padding: 5px;
      position: relative;
      span {
        position: absolute;
        top: 0;
        right: 0;
        color: #dddddd;
        font-size: 12px;
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          background: #999999;
        }
      }
    }
    .isImg {
      background: #42444e;
    }
  }
}