<template>
  <div id="app">
    <h1>{{ title }}</h1>
    <p>{{ num }}</p>
    <p>{{ num.toFixed(2) }}</p>
    <p>{{ num > 5 ? '大于5' : '其他' }}</p>
    <p>{{ flag }}</p>
    <p>{{ n }}</p>
    <p>{{ un }}</p>
    <p>{{ arr }}</p>
    <p>{{ obj }}</p>
  </div>
</template>

<script>
export default {
  data() {
    // 定义数据
    return {
      title: '开始学习vue',
      num: 6,
      flag: true,
      n: null,
      un: undefined,
      arr: [1,2,3,4],
      obj: { a: 100, b: 200 }
    }
  }
}

// react 数据驱动视图更新，需要调用 setstate 更新数据
// vue 数据驱动视图更新，响应式数据，双向绑定
</script>

<style lang="scss">

</style>
