<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    width: 100%;
    vertical-align: middle;
  }
  li {
    list-style-type: none;
  }
  .app {
    width: 100vw;
    height: 100vh;
    background: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .content {
    width: 1000px;
    height: 354px;
    overflow: hidden;
    display: flex;
  }
  .banner {
    flex: 1;
    background: #eeeeee;
    overflow: hidden;
    position: relative;
  }
  .banner ul {
    display: flex;
    transition: transform 0.5s linear;
  }
  .banner img {
    width: 500px;
  }
  .prev {
    position: absolute;
    top: calc(50% - 20px);
    left: 30px;
    width: 40px;
    height: 40px;
  }
  .prev::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid #ffffff;
    border-right: none;
    border-bottom: none;
    box-sizing: border-box;
    transform: rotate(-45deg);
  }
  .next {
    position: absolute;
    top: calc(50% - 20px);
    right: 30px;
    width: 40px;
    height: 40px;
  }
  .next::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid #ffffff;
    border-right: none;
    border-bottom: none;
    box-sizing: border-box;
    transform: rotate(135deg);
  }
  .tabs {
    flex: 1;
    background: #ffffff;
    display: flex;
    flex-direction: column;
  }
  nav {
    height: 60px;
    line-height: 56px;
    display: flex;
  }
  nav span {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
    border-top: 4px solid transparent;
    color: #666666;
  }
  nav span:nth-child(2) {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }
  nav .active {
    border-top-color: #ff7200;
    color: #ff7200;
    border-bottom: none;
  }
  .tabs ul {
    flex: 1;
    padding: 20px;
    padding-left: 40px;
  }
  .tabs ul li {
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
  }
  .tabs ul li:hover {
    color: #ff7200;
  }
</style>
<body>
  <div class="app">
    <div class="content">
      <div class="banner">
        <ul :style="{ transform: `translateX(${curIndex * -500}px)` }">
          <li v-for="item in tabs">
            <img :src="item.img" alt="">
          </li>
        </ul>
        <div class="prev" @click="change(-1)"></div>
        <div class="next" @click="change(1)"></div>
      </div>
      <div class="tabs">
        <nav>
          <span
            v-for="(item, index) in tabs"
            :class="{ active: curIndex === index }"
            @click="curIndex = index"
          >{{ item.title }}</span>
        </nav>
        <ul>
          <li v-for="item in tabs[curIndex].list">
            <b>{{ item.desc }}</b>
            <span>{{ item.date }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <script> 
    const tabs = [
      {
        title: '新闻中心',
        img: './imgs/t1.png',
        list: [
          {
            date: '2018-05-23',
            desc: '团队拓展训练，云指团队合力展风采'
          },
          {
            date: '2018-05-21',
            desc: '烈祝贺云指实力当选“广东企业创新500强'
          },
          {
            date: '2018-04-22',
            desc: '专注身边人和事，云指商圈小程序隆重上线'
          },
          {
            date: '2018-04-12',
            desc: '击餐饮经营难题？云指餐饮小程序打造全新经'
          },
          {
            date: '2018-05-09',
            desc: '云指佛山50公里徒步公益活动'
          }
        ]
      },
      {
        title: '行业资讯',
        img: './imgs/t2.png',
        list: [
          {
            date: '2018-05-23',
            desc: 'DS全球数字峰会：.top域名荣获“20'
          },
          {
            date: '2018-05-21',
            desc: '面告诉您如何为您的创业公司选择一个出色的'
          },
          {
            date: '2018-04-22',
            desc: '使用新的域名尾缀创建有效的品牌微型网站'
          },
          {
            date: '2018-04-12',
            desc: 'adix 特别篇：有助于商业上取得成功的'
          },
          {
            date: '2018-05-09',
            desc: '爆！单字符域名c.top被区块链终端启用'
          }
        ]
      },
      {
        title: '电商干货',
        img: './imgs/t3.png',
        list: [
          {
            date: '2018-05-23',
            desc: '小程序关键词怎么选好？'
          },
          {
            date: '2018-05-21',
            desc: '为什么客户要选用云指微信小程序'
          },
          {
            date: '2018-04-22',
            desc: '做微信分销商城选择哪个分销系统好'
          },
          {
            date: '2018-04-12',
            desc: '为什么要用云指H5响应式网站呢？'
          },
          {
            date: '2018-05-09',
            desc: '微商必看！做好微信分销商城的8个基础'
          }
        ]
      }
    ]


    const vm = new Vue({
      el: '.app',
      data: {
        tabs,
        curIndex: 0 // 当前高亮下标
      },
      methods: {
        change(n) {
          if (this.curIndex + n < 0) {
            this.curIndex = this.tabs.length - 1
          } else if (this.curIndex + n > this.tabs.length - 1) {
            this.curIndex = 0
          } else {
            this.curIndex += n
          }
        }
      }
    })


  </script>
</body>
</html>