<template>
  <div class="app">
    <h1>app组件</h1>
    <button @click="show = true">菜单</button>
    <Menu :visible="show" @close="show = false" />
    <hr />
    <button @click="showBox = !showBox">显示/隐藏</button>
     <!-- transition: 内置组件，提供过渡效果，在元素显示隐藏时动态添加 css 类名 -->
    <transition name="move">
      <Test v-if="showBox" />
    </transition>
    <transition
      name="move"
      @before-enter="beforeEnter"
      @after-enter="afterEnter"
      @enter-cancelled="enterCancelled"
    >
      <div v-if="showBox" class="box"></div>
    </transition>
  </div>
</template>

<script>
import Menu from './components/Menu.vue'
import Test from './components/Test.vue'

export default {
  data () {
    return {
      show: false,
      showBox: true
    }
  },
  methods: {
    beforeEnter () {
      console.log('box 准备显示')
    },
    afterEnter () {
      console.log('box 显示完成')
    },
    enterCancelled () {
      console.log('box 取消显示')
    }
  },
  components: {
    Menu,
    Test
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
// box 过渡
// 显示之前
.move-enter {
  transform: translateX(-100%);
}
// 显示过程
.move-enter-active {
  transition: transform 1s linear;
}
// 显示结束
.move-enter-to {
  transform: translateX(0);
}
// 隐藏之前
.move-leave {
  transform: translateX(0);
}
// 隐藏过程
.move-leave-active {
  transition: transform 1s linear;
}
// 隐藏完成
.move-leave-to {
  transform: translateX(calc(100vw - 100px));
}

.app {
  width: 100vw;
  height: 100vh;
  background: #eeeeee;
}
.box {
  width: 100px;
  height: 100px;
  background: red;
}
</style>
