<template>
  <div id="app">
    <h1>app</h1>
    <Child :title="obj1.title" :price="obj1.price" @change="changePrice1" />
    <Child :title="obj2.title" :price="obj2.price" @change="changePrice2" />
  </div>
</template>

<script>
import Child from './components/Child.vue'

export default {
  data() {
    return {
      obj1: {
        title: '组件一',
        price: 10
      },
      obj2: {
        title: '组件二',
        price: 20
      }
    }
  },
  components: {
    // 注册组件
    Child
  },
  methods: {
    changePrice1(n) {
      // n: 子组件传过来的参数
      console.log(n)
      this.obj1.price += n
    },
    changePrice2(n) {
      this.obj2.price += n
    }
  }
}
</script>

<style lang="scss">

</style>
