<template>
  <div class="app">
    <h1>app组件app组件app组件app组件app组件</h1>
    <button @click="show = true">菜单</button>
    <Menu :visible="show" @close="show = false" />
  </div>
</template>

<script>
import Menu from './components/Menu.vue'

export default {
  data () {
    return {
      show: false
    }
  },
  components: {
    Menu
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.app {
  width: 100vw;
  height: 100vh;
  background: #eeeeee;
}
.box {
  width: 100px;
  height: 100px;
  background: red;
}
</style>
