<script>
import { ref } from 'vue'

// 选项式API
export default {
  data() {
    return {
      title: '我是标题',
      num: 0
    }
  },
  methods: {
    add() {
      this.num++
    }
  },
  setup() {
    // 可以使用 composition API, 不可以使用this
    const num1 = ref(0)

    return {
      num1
    }
  },
  created() {
    console.log(this)
  }
}
</script>

<template>
  <h1>vue3</h1>
  <p>{{ title }}</p>
  <button @click="num--">-</button>
  {{ num }}
  <button @click="add">+</button>
  <hr />
  {{ num1 }}
  <button @click="num1++">+</button>
</template>

<style lang="scss">
h1 {
  color: red;
}
</style>
