/**index.wxss**/
.home {
  height: 100px;
  background: red;
}
.swiper {
  background: #cccccc;
  height: 276rpx;
}
.item {
  image {
    width: 100%;
    height: 100%;
  }
}

.testImg {
  background: tomato;
}