* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
html, body {
  background: #5481b0;
}
.app {
  width: 330px;
  margin: 0 auto;
}
.list {
  display: flex;
  width: 330px;
  flex-wrap: wrap;
}
.list li {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.active {
  background: orange !important;
}
.centerBtn button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: tomato;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 0 3px 3px #777;
  border: 1px;
}