<template>
  <div class="box">
    <p>商品名称: <input type="text" :value="name" @input="changeName"></p>
    <p>
      价格: ¥ {{ price }}
      <button @click="$emit('update:price', price - 1)">-</button>
      <button @click="$emit('update:price', price + 1)">+</button>
    </p>
    <button @click="$emit('update:num', num - 1)">-</button>
    {{ num }}
    <button @click="$emit('update:num', num + 1)">+</button>
  </div>
</template>

<script>
export default {
  props: ['num', 'name', 'price'],
  methods: {
    changeName (e) {
      this.$emit('update:name', e.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  padding: 20px;
  border: 1px solid red;
  button {
    width: 20px;
    margin: 0 5px;
  }
}
</style>
