<template>
  <div class="dialog" v-show="visible" @click.self="$emit('update:visible', false)">
    <div class="content">
      <h2>
        {{ title }}
      </h2>
      <div class="center">
        <slot></slot>
      </div>
      <div class="btm">
        <button @click="$emit('cancel')">取消</button>
        <button @click="$emit('ok')">确定</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'visible']
}
</script>

<style lang="scss" scoped>
.dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  min-width: 300px;
  min-height: 200px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  h2 {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #dddddd;
    span {
      position: absolute;
      right: 20px;
      top: 0;
      cursor: pointer;
      &:hover {
        color: #2196F3;
      }
    }
  }
  .center {
    flex: 1;
    padding: 15px;
  }
  .btm {
    height: 50px;
    text-align: right;
    border-top: 1px solid #dddddd;
    padding: 10px 15px;
    button {
      height: 30px;
      padding: 3px 10px;
      margin-left: 5px;
    }
  }
}
</style>
