.fixNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}
.title {
  height: 50px;
  border-bottom: 1px solid #ededed;
  position: relative;
  h2 {
    text-align: center;
    font-size: 16px;
    line-height: 50px;
  }
  a {
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    padding: 0 10px;
    min-width: 50px;
    max-width: 100px;
    overflow: hidden;
    line-height: 50px;
    font-size: 14px;
  }
}