<template>
  <div class="page">
    <h2 class="title">创建试题</h2>
    <el-tabs v-model="activeName">
      <el-tab-pane label="手动添加" name="first">
        <CreateSingleQuestion />
      </el-tab-pane>
      <el-tab-pane label="批量导入" name="second">
        <CreateMultipleQuestion />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import CreateSingleQuestion from '../components/CreateSingleQuestion.vue'
import CreateMultipleQuestion from '../components/CreateMultipleQuestion.vue'

export default {
  data() {
    return {
      activeName: 'first'
    };
  },
  components: {
    CreateSingleQuestion,
    CreateMultipleQuestion
  }
}
</script>

<style lang="scss" scoped>
.title {
  margin-bottom: 20px;
}
</style>
