<template>
  <div class="box">
    <h2>编辑信息</h2>
    <el-form v-loading="loading" :model="form" :rules="rules" ref="form" label-width="100px" class="form">
      <el-form-item label="头像：" prop="avator">
        <el-upload
          class="avatar-uploader"
          action="https://zyxcl.xyz/exam_api/profile"
          name="avatar"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
        >
          <img v-if="form.avator" :src="form.avator" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </el-form-item>
      <el-form-item label="用户名：" prop="username">
        <el-input v-model="form.username" placeholder="请输入用户名"></el-input>
      </el-form-item>
      <el-form-item label="年龄：" prop="age">
        <el-input v-model.number="form.age" placeholder="请输入年龄"></el-input>
      </el-form-item>
      <el-form-item label="性别：" prop="sex">
        <el-select v-model="form.sex" placeholder="请选择性别">
          <el-option label="男" value="男"></el-option>
          <el-option label="女" value="女"></el-option>
          <el-option label="其他" value="其他"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="邮箱：" prop="email">
        <el-input v-model="form.email" placeholder="请输入邮箱"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button size="medium" @click="$router.back()">取消</el-button>
        <el-button type="primary" size="medium" @click="submit">确定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { updateUserApi } from '../api'
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      loading: false,
      form: {
        avator: '',
        username: '',
        age: '',
        sex: '',
        email: ''
      },
      rules: {
        username: [
          { required: true, message: '请输入用户名!' },
          { min: 2, max: 5, message: '用户名长度为 2 - 5！' }
        ],
        age: [
          { required: true, message: '请输入年龄!' },
          { type: 'number', message: '请输入数字！' }
        ],
        sex: [
          { required: true, message: '请选择性别!' }
        ],
        email: [
          { required: true, message: '请输入邮箱!' },
          { type: 'email', message: '邮箱格式错误！' }
        ]
      }
    }
  },
  methods: {
    // 引入 action 函数
    ...mapActions(['getUserInfo']),
    async submit() {
      try {
        await this.$refs.form.validate()
        this.loading = true
        const res = await updateUserApi(this.form)
        if (res.code === 200) {
          this.$message.success('修改成功!')
          this.getUserInfo()
          this.$router.replace('/home/userinfo')
        }
        this.loading = false
      } catch(e) {
        console.log(e)
        this.loading = false
      }
    },
    handleAvatarSuccess(res, file) {
      this.form.avator = res.data.url
    },
    beforeAvatarUpload(file) {
      const reg = /^image\/(jpe?g|png|svg|webp)$/;
      const isJPG = reg.test(file.type)
      const isLt500K = file.size / 1024 < 500;

      if (!isJPG) {
        this.$message.error('上传头像只能是图片格式！');
      }
      if (!isLt500K) {
        this.$message.error('上传头像图片大小不能超过 500KB!');
      }
      return isJPG && isLt500K;
    }
  },
  computed: {
    info() {
      return this.$store.state.info
    }
  },
  watch: {
    info: {
      handler() {
        this.form = {...this.info}
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  min-height: 500px;
  h2 {
    margin-left: 100px;
    margin-bottom: 20px;
  }
}
.form {
  width: 500px;
}
.avatar-uploader {
  // ::v-deep 样式穿透，修改子组件内的全局样式
  ::v-deep .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409EFF;
    }
  }
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.avatar {
  width: 150px;
  height: 150px;
  display: block;
}
</style>