<template>
  <el-container class="wrap">
    <el-header>
      <Header />
    </el-header>
    <el-container class="content">
      <el-aside width="200px">
        <Aside />
      </el-aside>
      <el-container>
        <el-main>
          <router-view />
        </el-main>
        <el-footer>Footer</el-footer>
      </el-container>
    </el-container>
  </el-container>
</template>

<script>
import Aside from '../components/Aside.vue'
import Header from '../components/Header.vue'

export default {
  components: {
    Aside,
    Header
  }
}
</script>

<style lang="scss" scoped>
.wrap {
  height: 100%;
  background: #f1f2f5;
  color: #333;
  .content {
    overflow: hidden;
  }
}
.el-header {
  background: #041528;
}
.el-footer {
  text-align: center;
  line-height: 60px;
}
</style>