<template>
  <div class="login">
    <el-form
      :model="form"
      :rules="rules"
      ref="ruleForm"
      class="form"
      v-loading="loading"
    >
      <h3>登录</h3>
      <el-form-item prop="username">
        <el-input v-model="form.username" placeholder="请输入用户名" prefix-icon="el-icon-user"></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="form.password" placeholder="请输入密码" prefix-icon="el-icon-lock" show-password></el-input>
      </el-form-item>
      <el-form-item prop="code">
        <el-row :gutter="20">
          <el-col :span="16">
            <el-input v-model="form.code" placeholder="请输入验证码"></el-input>
          </el-col>
          <el-col :span="8">
            <p class="code-img" :style="{backgroundImage: `url(${codeImg})`}" @click="refreshCode"></p>
          </el-col>
        </el-row>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" class="submit-btn" @click="login">登录</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { getCaptchaApi, loginApi } from '../api'
export default {
  data() {
    return {
      loading: false,
      codeImg: '',
      form: {
        username: '',
        password: '',
        code: ''
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "change" },
          { min: 3, max: 5, message: "长度在 3 到 5 个字符", trigger: "change" },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "change" }
        ],
        code: [
          { required: true, message: "请输入验证码", trigger: "change" },
          { len: 4, message: "验证码长度是4", trigger: "blur" },
        ]
      },
    };
  },
  methods: {
    login() {
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          this.loading = true
          try {
            const res = await loginApi(this.form)
            if (res.code === 200) {
              this.$message.success('恭喜你，登录成功');
              localStorage.setItem('token', res.data.token)
              this.$router.push('/')
            } else if (res.code === 1005) {
              // 验证码过期，刷新验证码
              this.refreshCode()
              this.$message.error(res.msg)
            } else {
              this.$message.error(res.msg)
            }
            this.loading = false
          } catch(e) {
            console.log(e)
            this.$message.error('网络错误，请稍后重试！')
            this.loading = false
          }
        }
      }) 
    },
    async refreshCode() {
      this.loading = true
      try {
        const res = await getCaptchaApi()
        this.codeImg = res.data.code
        this.loading = false
      } catch(e) {
        console.log(e)
        this.$message.error('网络错误，请稍后重试！')
        this.loading = false
      }
    }
  },
  created() {
    this.refreshCode()
  }
};
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
}
.form {
  width: 400px;
  min-height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #DCDFE6;
  border-radius: 5px;
  padding: 20px;
  h3 {
    text-align: center;
    padding: 20px;
  }
}
.submit-btn {
  width: 100%;
}
.code-img {
  height: 40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #DCDFE6;
}
</style>