<template>
  <div class="page" v-loading="loading">
    <el-table :data="rolelist" border style="width: 100%;" row-key="_id">
      <el-table-column prop="name" label="菜单名称" width="150"></el-table-column>
      <el-table-column prop="path" label="菜单路径" width="200"></el-table-column>
      <el-table-column prop="isBtn" label="权限类型" width="120">
        <template slot-scope="scope">
          <span v-if="scope.row.isBtn">按钮权限</span>
          <span v-else>页面权限</span>
        </template>
      </el-table-column>
      <el-table-column prop="createTime" label="创建时间">
        <template slot-scope="scope">
          <span>{{ formatDate(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="small">编辑</el-button>
          <el-button type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { permissionApi } from '../api'
import moment from 'moment'

export default {
  data() {
    return {
      rolelist: [],
      loading: false,
    }
  },
  methods: {
    async getDate() {
      this.loading = true
      try {
        const res = await permissionApi(this.params)
        this.rolelist = res.data.list
        this.loading = false
      } catch(e) {
        console.log(e)
        this.loading = false
      }
    },
    formatDate(time) {
      return moment(time).format('YYYY-MM-DD kk:mm:ss')
    }
  },
  created() {
    this.getDate()
  }
};
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
</style>