<template>
  <div class="page" v-loading="loading">
    <el-form inline :model="searchForm">
      <el-row>
        <el-col :span="6">
          <el-form-item label="题目">
            <el-input placeholder="输入搜索的题目" v-model="searchForm.question" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="题型">
            <el-select  v-model="searchForm.type">
              <el-option label="单选" :value="1"></el-option>
              <el-option label="多选" :value="2"></el-option>
              <el-option label="判断" :value="3"></el-option>
              <el-option label="填空" :value="4"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="科目">
            <el-select  v-model="searchForm.classify">
              <el-option
                v-for="item in classifyOptions"
                :key="item._id"
                :label="item.name"
                :value="item.name"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item >
            <el-button type="primary" @click="startSearch">搜索</el-button>
            <el-button>重置</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="usetlist" border style="width: 100%; min-height: 400px;">
      <el-table-column fixed prop="question" label="题目"></el-table-column>
      <el-table-column prop="type" label="题型">
        <template slot-scope="scope">
          <span>{{ typeEnum[scope.row.type] }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="classify" label="科目"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="small" @click="curRow = scope.row">查看详情</el-button>
          <el-button type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination">
       <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="params.page"
        :page-sizes="[5, 10, 15, 20]"
        :page-size="params.pagesize"
        layout="total, prev, pager, next, jumper, sizes"
        :total="total">
      </el-pagination>
    </div>
    <el-drawer
      title="试题详情"
      :visible.sync="curRow"
      :size="600"
    >
      <div class="drawer-wrap">
        <div class="question-content">
          <el-form v-if="isEdit" :model="curEditRow" label-width="100px">
            <el-form-item label="题目">
              <el-input placeholder="题目" v-model="curEditRow.question" />
            </el-form-item>
            <el-form-item label="题型">
              <el-select  v-model="curEditRow.type" disabled>
                <el-option label="单选" :value="1"></el-option>
                <el-option label="多选" :value="2"></el-option>
                <el-option label="判断" :value="3"></el-option>
                <el-option label="填空" :value="4"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="科目">
              <el-select  v-model="curEditRow.classify">
                <el-option
                  v-for="item in classifyOptions"
                  :key="item._id"
                  :label="item.name"
                  :value="item.name"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="选项">
              <el-radio-group v-if="curEditRow.type === '1'" v-model="curEditRow.answer">
                <el-radio v-for="item in curEditRow.options" :key="item" :label="item"></el-radio>
              </el-radio-group>
              <el-checkbox-group v-else-if="curEditRow.type === '2'" v-model="curEditRow.answer">
                <el-checkbox v-for="item in curEditRow.options" :key="item" :label="item"></el-checkbox>
              </el-checkbox-group>
              <el-radio-group v-else-if="curEditRow.type === '3'" v-model="curEditRow.answer">
                <el-radio label="对"></el-radio>
                <el-radio label="错"></el-radio>
              </el-radio-group>
              <el-input v-else-if="curEditRow.type === '4'" v-model="curEditRow.answer" placeholder="答案" />
            </el-form-item>
          </el-form>
          <div v-else class="detail">
            <div class="item">
              <div class="label">题目: </div>
              <h3>{{ curRow.question }}</h3>
            </div>
            <div class="item">
              <div class="label">题型: </div>
              <p>{{ typeEnum[curRow.type] }}</p>
            </div>
            <div class="item">
              <div class="label">科目: </div>
              <p>{{ curRow.classify }}</p>
            </div>
            <div class="item">
              <div class="label">答案: </div>
              <p>{{ curRow.answer }}</p>
            </div>
            <div class="item">
              <div class="label">选项: </div>
              <ul>
                <li v-for="item in curRow.options" :key="item">{{ item }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="drawer-rooter">
          <template v-if="isEdit">
            <el-button @click="isEdit = false">取消</el-button>
            <el-button type="primary" @click="save">保存</el-button>
          </template>
          <el-button v-else type="primary" @click="editBtn">编辑</el-button>
        </div>
      </div>
    </el-drawer>
  </div>
</template>

<script>
import { getQuestionApi, classifyListApi, updateQuestionApi } from '../api'
import moment from 'moment'

export default {
  data() {
    return {
      usetlist: [],
      loading: false,
      total: 0,
      searchForm: {
        question: '',
        type: '',
        classify: ''
      },
      params: {
        page: 1,
        pagesize: 5
      },
      typeEnum: {
        1: '单选题',
        2: '多选题',
        3: '判断题',
        4: '填空题'
      },
      classifyOptions: [],
      curRow: false,
      isEdit: false,
      curEditRow: {}
    }
  },
  watch: {
    params: {
      handler() {
        this.getDate()
      },
      deep: true,
      immediate: true
    },
    curRow() {
      if (!this.curRow) {
        console.log('关闭弹窗')
        this.isEdit = false
        this.curEditRow = {}
      }
    }
  },
  methods: {
    async getDate() {
      this.loading = true
      try {
        const res = await getQuestionApi(this.params)
        this.usetlist = res.data.list
        this.total = res.data.total
        this.loading = false
      } catch(e) {
        console.log(e)
        this.loading = false
        this.$message.error('网络错误，请稍后重试!');
      }
    },
    formatDate(time) {
      return moment(time).format('YYYY-MM-DD kk:mm:ss')
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.params.pagesize = val
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.params.page = val
    },
    async getClassify() {
      try {
        const res = await classifyListApi()
        this.classifyOptions = res.data.list
      } catch(e) {
        console.log(e)
        this.$message.error('网络错误，请稍后重试!');
      }
    },
    startSearch() {
      const form = {}
      Object.keys(this.searchForm).forEach(key => {
        if (this.searchForm[key]) {
          form[key] = this.searchForm[key]
        }
      })
      this.params = {
        ...form,
        pagesize: this.params.pagesize,
        page: 1
      }
    },
    editBtn() {
      this.isEdit = true
      this.curEditRow = {
        ...this.curRow,
        answer: this.curRow.type === '2' ? this.curRow.answer.split(',') : this.curRow.answer
      }
    },
    async save() {
      try {
        const res = await updateQuestionApi({
          ...this.curEditRow,
          id: this.curEditRow._id,
          answer: this.curEditRow.type === '2' ? this.curEditRow.answer.join(',') : this.curEditRow.answer
        })
        if (res.code === 200) {
          this.$message.success('修改成功')
          this.curRow = false
          this.isEdit = false
          this.curEditRow = {}
          this.getDate()
        } else {
          this.$message.error(res.msg)
        }
      } catch(e) {
        this.$message.error('网络错误，请稍后重试')
      }
    }
  },
  created() {
    this.getClassify()
  }
};
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.drawer-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.drawer-rooter {
  height: 60px;
  border-top: 1px solid #cccccc;
  padding: 10px;
}
.question-content {
  padding: 20px;
  flex: 1;
  overflow: auto;
  .item {
    margin-bottom: 20px;
    display: flex;
    .label {
      width: 80px;
    }
    p, h3 {
      flex: 1;
      overflow: hidden;
    }
  }
}
</style>