<template>
  <div class="page" v-loading="loading">
    <el-table :data="rolelist" border style="width: 100%;">
      <el-table-column prop="name" label="角色" width="150"></el-table-column>
      <el-table-column prop="value" label="关键字" width="120"> </el-table-column>
      <el-table-column prop="creator" label="创建人" width="120"> </el-table-column>
      <el-table-column prop="createTime" label="创建时间">
        <template slot-scope="scope">
          <span>{{ formatDate(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="small">编辑</el-button>
          <el-button type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination" v-if="total > params.pagesize">
       <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="params.page"
        :page-sizes="[5, 10, 15, 20]"
        :page-size="params.pagesize"
        layout="total, prev, pager, next, jumper, sizes"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { rolelistApi } from '../api'
import moment from 'moment'

export default {
  data() {
    return {
      rolelist: [],
      loading: false,
      total: 0,
      params: {
        page: 1,
        pagesize: 5
      }
    }
  },
  watch: {
    params: {
      handler() {
        this.getDate()
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    async getDate() {
      this.loading = true
      try {
        const res = await rolelistApi(this.params)
        this.rolelist = res.data.list
        this.total = res.data.total
        this.loading = false
      } catch(e) {
        console.log(e)
        this.loading = false
      }
    },
    formatDate(time) {
      return moment(time).format('YYYY-MM-DD kk:mm:ss')
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.params.pagesize = val
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.params.page = val
    }
  },
  created() {
  }
};
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
</style>