<template>
  <div class="page" v-loading="loading">
    <el-table :data="usetlist" border style="width: 100%; min-height: 400px;">
      <el-table-column fixed prop="username" label="用户名" width="150"></el-table-column>
      <el-table-column prop="password" label="密码" width="120"> </el-table-column>
      <el-table-column prop="avator" label="头像" width="120">
        <template slot-scope="scope">
          <img v-if="scope.row.avator" :src="scope.row.avator" width="100" height="100" alt="">
          <span v-else>-</span>
        </template>
      </el-table-column>
      <el-table-column prop="sex" label="性别" width="120"> </el-table-column>
      <el-table-column prop="age" label="年龄" width="120"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="200"> </el-table-column>
      <el-table-column prop="lastOnlineTime" label="最近登录" width="200">
        <template slot-scope="scope">
          <span>{{ formatDate(scope.row.lastOnlineTime) }}</span>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="250">
        <template slot-scope="scope">
          <el-button type="primary" size="small">分配角色</el-button>
          <el-button size="small">编辑</el-button>
          <el-button type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination">
       <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="params.page"
        :page-sizes="[5, 10, 15, 20]"
        :page-size="params.pagesize"
        layout="total, prev, pager, next, jumper, sizes"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { userlistApi } from '../api'
import moment from 'moment'

export default {
  data() {
    return {
      usetlist: [],
      loading: false,
      total: 0,
      params: {
        page: 1,
        pagesize: 5
      }
    }
  },
  watch: {
    params: {
      handler() {
        this.getDate()
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    async getDate() {
      this.loading = true
      try {
        const res = await userlistApi(this.params)
        this.usetlist = res.data.list
        this.total = res.data.total
        this.loading = false
      } catch(e) {
        console.log(e)
        this.loading = false
      }
    },
    formatDate(time) {
      return moment(time).format('YYYY-MM-DD kk:mm:ss')
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.params.pagesize = val
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.params.page = val
    }
  },
  created() {
  }
};
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
</style>