<template>
  <div class="app">
    <h1>路由</h1>
    <!-- router-link：跳转页面 -->
    <nav>
      <router-link to="/home">首页</router-link>
      <router-link to="/detail">详情</router-link>
      <router-link to="/city">城市</router-link>
    </nav>
<!--     
    <button @click="go('/home')">首页</button>
    <button @click="go('/detail')">详情</button>
    <button @click="go('/city')">城市</button> -->
    <main>
      <!-- router-view: 路由的内置组件，配置路由展示的位置 -->
      <router-view />
    </main>
  </div>
</template>

<script>
export default {
  methods: {
    go (path) {
      // 跳转页面
      this.$router.push(path)
    }
  },
  created () {
    console.log(this.$router)
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
main {
  border: 5px solid red;
  height: 500px;
}
nav {
  width: 300px;
  display: flex;
  a {
    color: #333333;
    flex: 1;
    text-align: center;
    text-decoration: none;
    &.router-link-active {
      background: tomato;
    }
  }
}
</style>
