<template>
  <div id="app">
    <button @click="add">添加</button>
    <button @click="clear">清空</button>
    <ul>
      <li v-for="v in arr" :key="v">{{ v }}</li>
    </ul>
    <hr />
    <button @click="changeName">修改name</button>
    <button @click="changeAge">修改age</button>
    {{ obj }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      arr: [],
      obj: { name: '小明' }
    }
  },
  methods: {
    add() {
      this.arr.push(Math.random())
      // 可以通过 $set 修改数组下标内容
      // this.$set(this.arr, 0, Math.random())

      // 通过下标修改数组，不会触发页面更新，需要通过方法修改数组
      // this.arr[0] = Math.random()
    },
    clear() {
      this.arr = []
      // 通过length修改数组页面不会更新
      // this.arr.length = 0
    },
    changeName() {
      this.obj.name = Math.random()
    },
    changeAge() {
      // 给对象添加新属性页面不会更新
      // this.obj.age = Math.random()

      // 给对象添加新的响应式属性
      this.$set(this.obj, 'age', Math.random())
      console.log(this.obj)
    }
  }
}


</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  width: 300px;
  border: 1px solid red;
}
</style>
