<script setup>
import { captchaSentApi, captchaVerifyApi, loginCellphoneApi } from '@/api/user'
import { ref, computed, onBeforeUnmount } from 'vue'
import Phone from './components/Phone.vue'
import Qr from './components/Qr.vue'

const showQr = ref(true)
</script>

<template>
  <div class="page">
    <nav>
      <i class="iconfont icon-xitongfanhui"></i>
      <h2>用户登录</h2>
    </nav>
    <Qr v-if="showQr" />
    <Phone v-else />
    <div class="toggle">
      <span @click="showQr = !showQr">{{showQr ? '手机号登录' : '二维码登录' }}</span>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.page {
  width: 100vw;
  height: 100vh;
}
nav {
  height: 50px;
  background: var(--primary-color);
  color: #ffffff;
  position: relative;
  line-height: 50px;
  i {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
    text-align: center;
  }
}

.toggle {
  text-align: center;
  margin-top: 20px;
}
</style>
