<script setup>
const props = defineProps(['modelValue'])
const emits = defineEmits(['update:modelValue'])
</script>

<template>
  <div class="box">
    <h2>child2</h2>
    <button @click="$emit('update:modelValue', modelValue - 1)">-</button>
    {{ modelValue }}
    <button @click="$emit('update:modelValue', modelValue + 1)">+</button>
  </div>
</template>

<style scoped>
.box {
  border: 1px solid;
  padding: 40px;
}
</style>
