<script setup>
// 接收父组件传过来的参数
const props = defineProps(['n'])
// 接受父组件传的自定义事件
const emits = defineEmits(['change'])

const handleClick = () => {
  console.log('使用父组件的数据', props.n)
}
const sub = () => {
  // 调用父组件传过来的自定义事件
  emits('change', -2)
}
</script>

<template>
  <div class="box">
    <h2>child1</h2>
    <button @click="handleClick">按钮</button>
    <p>父组件的num: 
      <button @click="sub">-2</button>
      {{ n }}
      <button @click="$emit('change', 2)">+2</button>
    </p>
  </div>
</template>

<style scoped>
.box {
  border: 1px solid;
  padding: 40px;
}
</style>
