.app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #2a2b2f;
  main {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 60px 0;
  }
}
