<template>
  <div>
    <h1>EventBus</h1>
    <Child1 />
    <Child2 />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'

export default {
  data () {
    return {
    }
  },
  components: {
    Child1,
    Child2
  }
}
</script>

<style lang="scss">

</style>
