.login {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #5aaff6, #3c77d9);
  position: relative;
}
.form {
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  right: 20%;
  padding: 20px;
  h2 {
    text-align: center;
  }
  input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 0 10px;
  }
  button {
    width: 100%;
    height: 40px;
    background: #379bff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
  }
  p {
    margin-top: 15px;
  }
}