<script setup>
const props = defineProps(['modelValue', 'num'])
const emits = defineEmits(['update:modelValue', 'update:num'])
</script>

<template>
  <div class="child">
    <h2>Child组件</h2>
    <button @click="$emit('update:modelValue', Math.random())">改变标题</button>
    <h3>{{ modelValue }}</h3>
    <button @click="$emit('update:num', num - 1)">-</button>
    {{ num }}
    <button @click="$emit('update:num', num + 1)">+</button>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid tomato;
  padding: 20px;
}
</style>
