<template>
  <div>
    <van-address-edit
      :area-list="areaList"
      show-delete
      :area-columns-placeholder="['请选择', '请选择', '请选择']"
      @save="onSave"
      @delete="onDelete"
    />
  </div>
</template>

<script>
import { areaList } from '@vant/area-data';
import { Toast } from 'vant';
import { mapMutations } from 'vuex'

export default {
  data() {
    return {
      areaList,
    };
  },
  methods: {
    ...mapMutations(['pushAddressList']),
    onSave(form) {
      this.pushAddressList(form)
      Toast('添加成功');
      this.$router.back()
    },
    onDelete() {
      Toast('delete');
    }
  },
};
</script>

<style lang="scss" scoped>

</style>
