<template>
  <div class="card">
    <div class="goods">
      <h3>{{ name }}</h3>
      <p>价格: ¥ {{ price }}</p>
      <button @click="sub">-</button>
      {{ count }}
      <button @click="$emit('changeCount', { name, n: 1 })">+</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['name', 'price', 'count'],
  methods: {
    sub() {
      this.$emit('changeCount', { name: this.name, n: -1 })
      if (this.count - 1 < 0) {
        this.$emit('testClick')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// scoped: 样式隔离，添加 scoped 属性的 style 标签内的样式只对当前组件生效
.card {
  padding: 10px;
}
.goods {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px #dddddd;
}
button {
  width: 20px;
  background: tomato;
  border: none;
}
</style>