<template>
  <div id="app">
    <ul>
      <li v-for="item in arr" :key="item.title">
        <input type="checkbox" v-model="item.checked">
        <h3>{{item.title}}</h3>
        <p>价格: ¥{{item.price}}</p>
        <p>
          <button @click="item.count--" :disabled="item.count === 0">-</button>
          {{item.count}}
          <button @click="item.count++">+</button>
        </p>
        {{item}}
      </li>
    </ul>
    <p>全选: <input type="checkbox" v-model="checkAll" @change="changeAll"> {{checkAll}}</p>
    <footer>总价：¥{{total}}</footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      arr: [
        {
          title: '苹果',
          count: 1,
          price: 5,
          checked: true
        },
        {
          title: '香蕉',
          count: 2,
          price: 3,
          checked: true
        },
        {
          title: '梨',
          count: 3,
          price: 2,
          checked: true
        }
      ],
      checkAll: false
    }
  },
  watch: {
    arr: {
      handler() {
        this.checkAll = this.arr.every(v => v.checked)
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    total() {
      return this.arr.reduce((prev, val) => {
        return prev + (val.checked ? val.count * val.price : 0)
      }, 0)
    }
  },
  methods: {
    changeAll(){
      this.arr.forEach(v => {
        v.checked = this.checkAll
      })
    }
  }
}
</script>

<style lang="scss">
li {
  border: 1px solid;
}
</style>
