<template>
  <van-empty description="页面不存在">
    <van-button @click="goHome" round type="danger" class="bottom-button">去首页</van-button>
  </van-empty>
</template>

<script>
export default {
  methods: {
    goHome () {
      this.$router.replace('/')
    }
  }
}
</script>

<style lang="scss">
.bottom-button {
  width: 150px;
}
</style>