.movie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    height: 50px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    a {
      flex: 1;
      line-height: 50px;
      text-align: center;
    }
    :global(.active) {
      background: skyblue;
      color: tomato;
    }
  }
  .content {
    flex: 1;
    overflow: hidden;
  }
}