<template>
  <div>
    <h1>{{ title }} {{ pos }}</h1>
    <p>
      <button @click="add(-1)">-</button>
      {{ testNum }}
      <button @click="add(1)">+</button>
    </p>
    <Child1 />
    <Child2 />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'
import pos from './mixins/pos'
import test from './mixins/test'

export default {
  // 给组件引入混入的功能，会把混入的对象和当前组件的配置进行合并
  mixins: [pos, test],
  data () {
    return {
      title: '混入',
      testNum: 100
    }
  },
  methods: {
  },
  created () {
    console.log('我是 App 组件')
  },
  components: {
    Child1,
    Child2
  }
}
</script>

<style lang="scss">

</style>
