<script setup>
import { ref, computed, onMounted } from 'vue'
const arr = ref([])
const inp = ref(null)
const searchText = ref('')

const add = () => {
  arr.value.push({
    id: Math.random(),
    text: inp.value.value
  })
  inp.value.value = ''
  inp.value.focus()
}

// 计算属性: 返回一个ref对象，js中使用时需要通过value属性
const filterList = computed(() => {
  return arr.value.filter(v => v.text.includes(searchText.value))
})

const nums = ref([1,2,5,3,12,68,34])
const type = ref(0)

const sortNums = computed(() => {
  const newNums = [...nums.value]
  if (type.value === 1) {
    newNums.sort((a, b) => a - b)
  } else if (type.value === 2) {
    newNums.sort((a, b) => b - a)
  }
  return newNums
})

</script>

<template>
  <input type="text" placeholder="搜索" v-model="searchText">
  <hr />
  <input type="text" ref="inp" @keydown.enter="add">
  <button @click="add">add</button>
  <ul>
    <li v-for="item in filterList" :key="item.id">{{ item.text }}</li>
  </ul>
  <hr />
  <p><input type="radio" v-model="type" :value="1">升序</p>
  <p><input type="radio" v-model="type" :value="2">降序</p>
  <p><input type="radio" v-model="type" :value="0">默认排序</p>
  <ul>
    <li v-for="item in sortNums" :key="item">{{ item }}</li>
  </ul>
</template>


<style lang='scss' scoped>

</style>
