<script setup>
import { RouterLink, RouterView } from 'vue-router'

</script>

<template>
  <h1>app</h1>
  <nav>
    <RouterLink to="/">home</RouterLink>
    <RouterLink to="/about">about</RouterLink>
  </nav>
  <RouterView />
</template>

<style scoped>
nav a {
  margin: 0 20px;
}
.router-link-exact-active {
  background: tomato;
}
</style>
