<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>11111 {{ title }}</h1>
    <!-- v-text === innerText -->
    <p v-text="content"></p>
    <!-- v-text === innerHTML -->
    <p v-html="content"></p>
  </div>

  <script>

    let vm = new Vue({
      // vue 挂载的元素，vue语法可以在此元素内使用
      el: '.app',
      // 定义页面中的数据
      data: {
        title: '开始学习vue',
        content: '<b>这是一个b标签</b>'
      }
    })

    console.log(vm)
  </script>
</body>
</html>