<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <h3>分数：{{ num }}</h3>
    <!-- <p v-if="num >= 90">真不错</p>
    <b v-else-if="num >= 60 && num < 90">也还行</b>
    <span v-else>该努力了</span> -->
    <p v-show="num >= 90">真不错</p>
    <b v-show="num >= 60 && num < 90">也还行</b>
    <span v-show="num < 60">该努力了</span>
  </div>

  <script>

    let vm = new Vue({
      // vue 挂载的元素，vue语法可以在此元素内使用
      el: '.app',
      // 定义页面中的数据
      data: {
        title: '开始学习 vue 语法',
        num: 0
      }
    })

    console.log(vm)
  </script>
</body>
</html>