<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <!-- 循环数组 -->
    <ul>
      <li v-for="(item, index) in arr">
        <p>下标：{{ index }} </p>
        <p>内容：{{ item }}</p>
      </li>
    </ul>
    <hr />
    <!-- 循环对象 -->
    {{ obj }}
    <ul>
      <li v-for="(val, key, index) in obj">
        <p>属性名：{{ key }} </p>
        <p>属性值：{{ val }}</p>
        <p>下标：{{ index }}</p>
      </li>
    </ul>
    <hr />
    <!-- 循环字符串 -->
    <ul>
      <li v-for="(item, index) in title">
        <p>item：{{ item }} </p>
        <p>下标：{{ index }}</p>
      </li>
    </ul>
    <hr />
    <!-- 循环数字 -->
    <ul>
      <li v-for="(item, index) in 5">
        <p>item：{{ item }} </p>
        <p>下标：{{ index }}</p>
      </li>
    </ul>

  </div>

  <script>

    let vm = new Vue({
      // vue 挂载的元素，vue语法可以在此元素内使用
      el: '.app',
      // 定义页面中的数据
      data: {
        title: '开始学习vue',
        arr: ['a', 'b', 'c', 'd'],
        obj: {
          name: '王小明',
          age: 22,
          sex: '男'
        }
      }
    })

    console.log(vm)




  </script>
</body>
</html>