<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  span {
    margin-right: 20px;
  }
</style>
<body>
  <div class="app">
    <ul>
      <li v-for="i in 9">
        <span v-for="j in 10 - i">{{ 10 - i }} * {{ j }} = {{ (10 - i) * j }}</span>
      </li>
    </ul>
  </div>

  <script>

    let vm = new Vue({
      // vue 挂载的元素，vue语法可以在此元素内使用
      el: '.app',
      // 定义页面中的数据
      data: {
      },
      // 定义 vue 中的方法
      methods: {
        
      }
    })

    console.log(vm)


  </script>
</body>
</html>