<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  span {
    margin-right: 20px;
  }
</style>
<body>
  <div class="app">
    <h1>v-on</h1>
    <button v-on:click="clickfn">按钮</button>
    <p>{{ num }}</p>
    <hr />
    <button v-on:click="add">add</button>
    <!-- v-on: 简写 @ -->
    <button @click="del">shift</button>
    <ul>
      <li v-for="item in arr">{{ item }}</li>
    </ul>
  </div>

  <script>

    let vm = new Vue({
      // vue 挂载的元素，vue语法可以在此元素内使用
      el: '.app',
      // 定义页面中的数据
      data: {
        num: 0,
        len: 0,
        arr: []
      },
      // 定义 vue 中的方法
      methods: {
        clickfn() {
          console.log('点击了按钮', this)
          this.num ++
        },
        add() {
          this.len++
          this.arr.push(this.len)
        },
        del() {
          this.arr.shift()
        }
      }
    })

    console.log(vm)



  </script>
</body>
</html>