<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  span {
    margin-right: 20px;
  }
  .box {
    width: 200px;
    height: 200px;
    background: red;
  }
</style>
<body>
  <div class="app">
    <h1>v-on</h1>
    <button @click="add(1, $event)">+</button>
    <p>{{ num }}</p>
    <button @click="add(-1, $event)">-</button>
  </div>

  <script>

    let vm = new Vue({
      // vue 挂载的元素，vue语法可以在此元素内使用
      el: '.app',
      // 定义页面中的数据
      data: {
        num: 0
      },
      // 定义 vue 中的方法
      methods: {
        add(n, e) {
          this.num += n
          console.log(e.target)
        }
      }
    })

    console.log(vm)


  </script>
</body>
</html>