<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  span {
    margin-right: 20px;
  }
  .box {
    width: 100px;
    height: 100px;
    border: 2px solid;
  }
  .red {
    background: red;
  }
  .green {
    background: green;
  }
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <a v-bind:href="url">跳转</a>
    <a :href="url">跳转</a>
    <button @click="changeImg">切换图片</button>
    {{ showImg1 }}
    <img width="100" :src="showImg1 ? img1 : img2" alt="">
    <hr />
    <button @click="num++">num + 1</button>
    <button @click="num--">num - 1</button>
    {{ num }}
    <!-- <div :class="['box', 'box1', 'box2', showImg1 ? 'red' : 'green']"></div> -->
    <!-- <div :class="{ box: true, red: num < 0, green: num > 10 }"></div> -->
    <div class="box" :style="[styleObj, { background: 'blue', top: num + 'px' }]">style</div>
  </div>

  <script>

    let vm = new Vue({
      // vue 挂载的元素，vue语法可以在此元素内使用
      el: '.app',
      // 定义页面中的数据
      data: {
        styleObj: {
          color: 'red',
          fontSize: '20px',
          position: 'fixed'
        },
        num: 1,
        title: 'v-bind',
        url: 'https://www.baidu.com',
        img1: './img1.jpeg',
        img2: './img2.jpeg',
        showImg1: true,
        num: 0
      },
      // 定义 vue 中的方法
      methods: {
        changeImg() {
          this.showImg1 = !this.showImg1
        }
      }
    })

    console.log(vm)


  </script>
</body>
</html>