<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  span {
    margin-right: 20px;
  }
  .box {
    width: 100px;
    height: 100px;
    border: 2px solid;
  }
  .red {
    background: red;
  }
  .green {
    background: green;
  }
</style>
<body>
  <div class="app">
    <h1>v-model 表单双向绑定</h1>
    <!-- <input type="text" :value="val" @input="change"> -->
    <input type="text" v-model="val">
    <p>{{ val }}</p>
    <hr />
    <p>姓名:<input type="text" v-model.trim="form.name"></p>
    <p>年龄: <input type="number" v-model.number="form.age"></p>
    <p>性别:
      <input type="radio" name="sex" value="男" id="men" v-model="form.sex"> <label for="men">男</label>
      <input type="radio" name="sex" :value="0" id="women" v-model="form.sex"> <label for="women">女</label>
    </p>
    <p>
      城市:
      <select v-model="form.city">
        <option value="">请选择</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="guangzhou">广州</option>
      </select>
    </p>
    <p>婚姻状况: <input type="checkbox" v-model="form.married"></p>
    <p>爱好:
      <input type="checkbox" value="唱歌" v-model="form.hobby"> 唱歌
      <input type="checkbox" value="跳舞" v-model="form.hobby"> 跳舞
      <input type="checkbox" value="rap" v-model="form.hobby"> rap
      <input type="checkbox" value="篮球" v-model="form.hobby"> 篮球
    </p>
    <p>备注：
      <textarea v-model="form.remark"></textarea>
    </p>
    {{ form }}
    <button @click="submit">提交</button>
  </div>

  <script>

    let vm = new Vue({
      // vue 挂载的元素，vue语法可以在此元素内使用
      el: '.app',
      // 定义页面中的数据
      data: {
        val: '初始值',
        form: {
          name: '',
          age: '',
          sex: '',
          city: '',
          married: true,
          hobby: [],
          remark: ''
        }
      },
      // 定义 vue 中的方法
      methods: {
        submit() {
          console.log(this.form)
        },
        change(e) {
          console.log(e.target.value)
          this.val = e.target.value
        }
      }
    })

    console.log(vm)


  </script>
</body>
</html>