<script setup>
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import axios from 'axios'

const info = ref({})

// 获取当前路由信息
const route = useRoute()
console.log(route)


const getDetail = async () => {
  const res = await axios.get('https://m.maizuo.com/gateway', {
    params: {
      filmId: route.params.id,
      k: 7715256
    },
    headers: {
      'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}',
      'X-Host':'mall.film-ticket.film.info'
    }
  })
  console.log(res.data.data.film)
  info.value = res.data.data.film
}

getDetail()


</script>

<template>
  <h1>详情页面</h1>
  {{ info }}
</template>

<style lang='scss' scoped>

</style>
