<script setup>
import axios from 'axios'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

// 路由实例对象
const router = useRouter()
const list = ref([])

const getlist = async () => {
  const res = await axios.get('https://m.maizuo.com/gateway?cityId=440300&pageNum=1&pageSize=10&type=1&k=8841688', {
    headers: {
      'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}',
      'X-Host':'mall.film-ticket.film.list'
    }
  })

  console.log(res.data.data.films)
  list.value = res.data.data.films
}

getlist()

const goDetail = (filmId) => {
  // 跳转页面
  // router.push('/detail')
  // router.push({
  //   path: '/detail',
  //   query: {
  //     filmId
  //   }
  // })
  // 动态路由
  router.push({
    name: 'detail',
    params: {
      id: filmId
    },
    query: {
      a: 100,
      b: 200
    }
  })
}

</script>

<template>
  <main>
    <h1>home页面</h1>
    <ul>
      <li v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
        <img width="120" :src="item.poster" alt="">
        <h3>{{ item.name }}</h3>
      </li>
    </ul>
  </main>
</template>


<style lang="scss" scoped>
li {
  border: 1px solid;
  padding: 20px;
}


</style>