@charset "UTF-8";
@import url(/Users/zhaoyaxiang/Desktop/2306/h5/rem/rem案例/fonts/iconfont.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  vertical-align: middle;
}

html {
  font-size: 10vw;
}

body {
  font-size: 14px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0 0.4rem;
  overflow: auto;
}

.search-wrap {
  padding: 0.26667rem 0;
}

.search-wrap .search {
  border: 1px solid #dddddd;
  border-radius: 6px;
  height: 1.33333rem;
  display: flex;
  padding: 0.26667rem 0;
}

.search-wrap .city {
  width: 1.6rem;
  line-height: 0.8rem;
  text-align: center;
  border-right: 1px solid #999999;
}

.search-wrap .inp {
  flex: 1;
  display: flex;
}

.search-wrap .inp i {
  width: 1.06667rem;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.53333rem !important;
}

.search-wrap .inp input {
  flex: 1;
  border: none;
  outline: none;
}

.pics {
  display: flex;
  justify-content: space-between;
}

.pics img {
  width: 2.93333rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.53333rem 0;
}

nav p {
  width: 1.44rem;
  font-size: 0.32rem;
  text-align: center;
}

nav img {
  width: 100%;
}

.subtitle {
  padding: 0.26667rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle b {
  font-size: 0.48rem;
}

.box1 {
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.box1 p {
  text-align: center;
  line-height: 0.96rem;
}

.card {
  display: flex;
  padding: 0.53333rem 0;
}

.card .left {
  flex: 1;
  margin-right: 0.26667rem;
}

.card .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card .right img:first-child {
  margin-bottom: 0.26667rem;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box2 img {
  width: 4.4rem;
  margin-bottom: 0.4rem;
}

footer {
  height: 1.6rem;
  border-top: 1px solid #eeeeee;
  display: flex;
}

footer p {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.37333rem;
}

footer p i {
  font-size: 0.64rem !important;
}
