@import './fonts/iconfont.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  // 设置行内块元素和行内元素的基线对齐方式
  vertical-align: middle;
}
$base: 37.5;
html {
  font-size: 100vw / 375 * $base;
}
@function rem($px) {
  @return $px / $base * 1rem;
}
body {
  font-size: 14px;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  padding: 0 rem(15);
  overflow: auto;
}
.search-wrap {
  padding: rem(10) 0;
  .search {
    border: 1px solid #dddddd;
    border-radius: 6px;
    height: rem(50);
    display: flex;
    padding: rem(10) 0;
  }
  .city {
    width: rem(60);
    line-height: rem(30);
    text-align: center;
    border-right: 1px solid #999999;
  }
  .inp {
    flex: 1;
    display: flex;
    i {
      width: rem(40);
      text-align: center;
      line-height: rem(30);
      font-size: rem(20) !important;
    }
    input {
      flex: 1;
      border: none;
      outline: none;
    }
  }
}
.pics {
  display: flex;
  justify-content: space-between;
  img {
    // width: calc((100% - 20px) / 3);
    width: rem(110);
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: rem(20) 0;
  p {
    width: rem(54);
    font-size: rem(12);
    text-align: center;
  }
  img {
    width: 100%;
  }
}
.subtitle {
  padding: rem(10) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  b {
    font-size: rem(18);
  }
}
.box1 {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  p {
    text-align: center;
    line-height: rem(36);
  }
}
.card {
  display: flex;
  padding: rem(20) 0;
  .left {
    flex: 1;
    margin-right: rem(10);
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    img:first-child {
      margin-bottom: rem(10);
    }
  }
}
.box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img {
    width: rem(165);
    margin-bottom: rem(15);
  }
}
footer {
  height: rem(60);
  border-top: 1px solid #eeeeee;
  display: flex;
  p {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: rem(14);
    i {
      font-size: rem(24) !important;
    }
  }
}
