<template>
  <div class="page">
    <nav>
      <div
        v-for="(item, index) in navlist"
        :key="item.title"
        :class="['nav-item', { active: curIndex === index }]"
        @click="curIndex = index"
      >
        <b>{{ item.children.length }}</b>
        <p>{{ item.title }}</p>
      </div>
    </nav>
    <main>
      <div class="tip" :style="{ color: navlist[curIndex].color }">{{ navlist[curIndex].tip }}</div>
      <div class="food-item" v-for="item in navlist[curIndex].children" :key="item.name">
        <img :src="item.imgUrl" alt="">
        <p>{{ item.name }}</p>
        <p>{{ item.content }}</p>
      </div>
    </main>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      tablist: [
        {
          title: '建议少吃',
          color: 'red',
          tip: '以下食物升糖指数适高，建议少吃',
          min: 70,
          max: 100
        },
        {
          title: '适量食用',
          color: 'orange',
          tip: '以下食物升糖指数适中，建议适量食用',
          min: 40,
          max: 70
        },
        {
          title: '放心食用',
          color: 'green',
          tip: '以下食物升糖指数较低，请放心食用',
          min: 0,
          max: 40
        }
      ],
      curIndex: 0
    }
  },
  computed: {
    ...mapState(['selected']),
    navlist () {
      return this.tablist.map(item => {
        return {
          ...item,
          children: this.selected.filter(v => v.glycemicIndex >= item.min && v.glycemicIndex < item.max)
        }
      }) 
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
}
nav {
  height: 80px;
  background: #ffffff;
  display: flex;
}
.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}
main {
  flex: 1;
  overflow: auto;
}
.tip {
  line-height: 40px;
  text-align: center;
}
.food-item {
  margin: 15px;
  background: #ffffff;
  padding: 15px;
  border-radius: 6px;
}
</style>