<template>
  <div class="home">
    <main>
      <div class="left">
        <p
          v-for="(item, index) in list"
          :key="item.name"
          :class="{ active: curIndex === index }"
          @click="curIndex = index"
        >{{ item.name }}</p>
      </div>
      <div class="right">
        <template v-if="list[curIndex]">
          <div
            :class="['food', { active: item.isSelected }]"
            v-for="item in list[curIndex].list"
            :key="item.name"
            @click="setFoodSelect(item)"
          >
            <div class="img-wrap">
              <img :src="item.imgUrl" alt="">
            </div>
            <p>{{ item.name }}</p>
          </div>
        </template>
      </div>
    </main>
    <div class="footer" v-if="selected.length > 0">
      <div class="footer-top">
        <p>已选食物（{{ selected.length }}）</p>
        <router-link to="/appraisal">测评</router-link>
      </div>
      <ul>
        <li v-for="item in selected" :key="item.name">
          {{ item.name }}
          <span @click="setFoodSelect(item)">x</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  data () {
    return {
      curIndex: 0
    }
  },
  computed: {
    ...mapState(['list', 'selected'])
  },
  methods: {
    ...mapMutations(['setFoodSelect']),
    ...mapActions(['getListApi'])
  },
  created () {
    if (this.list.length === 0) {
      this.getListApi()
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.left {
  width: 100px;
  height: 100%;
  background: #eeeeee;
  p {
    line-height: 50px;
    text-align: center;
    &.active {
      background: #ffffff;
    }
  }
}
.right {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
.food {
  width: 70px;
  padding: 15px 0 5px;
  margin-left: calc((100% - 210px) / 4);
  p {
    line-height: 30px;
    text-align: center;
  }
  &.active {
    p {
      color: tomato;
    }
    .img-wrap {
      border: 1px solid tomato;
    }
  }
}
.img-wrap {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
.footer {
  width: 100%;
  min-height: 150px;
  max-height: 350px;
  box-shadow: 0px -2px 14px 0px #cccccc;
  overflow: auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    li {
      border: 1px solid #999999;
      padding: 6px 10px;
      margin-right: 15px;
      margin-bottom: 15px;
      position: relative;
      span {
        position: absolute;
        right: -8px;
        top: -8px;
        width: 16px;
        height: 16px;
        background: #999999;
        color: #ffffff;
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        border-radius: 50%;
      }
    }
  }
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  a {
    width: 70px;
    height: 30px;
    background: tomato;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
  }
}
</style>
