@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1698978287642') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e75e";
}

.icon-faxian:before {
  content: "\e68e";
}

.icon-guangbo:before {
  content: "\ec36";
}

.icon-fangdajing:before {
  content: "\e647";
}

