* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
html {
  font-size: calc(100vw / 375 * 10);
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  color: #333333;
}
