@import './common.scss';
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    height: 12.4rem;
  }
  main {
    flex: 1;
    overflow: auto;
  }
}
.top {
  height: 8.4rem;
  background: #d43c33;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .topsvg {
    width: 14.2rem;
  }
  span {
    width: 12rem;
    height: 3.6rem;
    color: #d43c33;
    background: #ffffff;
    border-radius: 2rem;
    text-align: center;
    line-height: 3.6rem;
    font-size: 1.6rem;
  }
}
nav {
  height: 4rem;
  border-bottom: 1px solid #cccccc;
  display: flex;
  .item {
    flex: 1;
    text-align: center;
    line-height: 4rem;
    font-size: 16px;
    &.active {
      color: #dd001b;
      font-weight: bold;
      span {
        position: relative;
        display: inline-block;
      }
      span::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #dd001b;
      }
    }
  }
}
.content {
  display: none;
}
.show {
  display: block !important;
}
.hot-item {
  display: flex;
  padding: 0.6rem 0.6rem 0 0.6rem;
  position: relative;
  .num {
    width: 3rem;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    color: #666666;
  }
  .hot-song {
    flex: 1;
    border-bottom: 1px solid #cccccc;
  }
  .ar {
    color: #666666;
  }
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) .num {
      color: #dd001b;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
