<script setup>
import { inject } from 'vue'
// 获取父级组件传过来的数据
const appNum = inject('appNum')


</script>

<template>
  <div class="box">
    <h2>child2</h2>
    {{ appNum }}
    <button @click="appNum++">+</button>
  </div>
</template>

<style scoped>
.box {
  border: 1px solid;
  padding: 40px;
}
</style>
