<script setup>
import Child2 from './Child2.vue'
</script>

<template>
  <div class="box">
    <h2>child1</h2>
    <Child2 />
  </div>
</template>

<style scoped>
.box {
  border: 1px solid;
  padding: 40px;
}
</style>
