<template>
  <div class="child">
    <h2>child组件</h2>
    <button @click="num--">-</button>
    {{ num }}
    <button @click="num++">+</button>
    <slot :num="num" a="100" :b="true"></slot>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  }
}
</script>

<style lang="scss" scoped>
.child {
  border: 1px solid salmon;
  padding: 20px;
}
</style>