<template>
  <div class="dialog" v-show="visible" @click.self="$emit('close')">
    <div class="content">
      <div class="header">
        <div class="title">{{ title }}</div>
        <div class="close" @click="$emit('close')">
          <!-- 具名插槽 -->
          <slot name="close">x</slot>
        </div>
      </div>
      <div class="center">
        <!-- 插槽 -->
        <slot></slot>
      </div>
      <div class="footer" v-if="!hideFooter">
        <slot name="footer">
          <button @click="$emit('cancel')">{{ cancelText }}</button>
          <button @click="$emit('ok')">{{ okText }}</button>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // 使用数组接收参数
  // props: ['visible', 'title']
  // 使用对象接收参数，可以校验参数的类型
  props: {
    visible: Boolean,
    title: String,
    hideFooter: Boolean,
    okText: {
      type: String,
      default: '确定'
    },
    cancelText: {
      type: String,
      default: '取消'
    },
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  // 相对于有定位的父级元素
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 300px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.header {
  height: 60px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .close {
    cursor: pointer;
  }
}
.center {
  flex: 1;
  padding: 20px;
}
.footer {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 20px;
    padding: 5px 10px;
  }
}
</style>