<script setup>
import { reactive, ref } from 'vue'
const ruleFormRef = ref()
const ruleForm = reactive({
  name: 'Hello',
  age: '',
  sex: '',
})

const rules = reactive({
  name: [
    { required: true, message: '请输入姓名', trigger: 'blur' },
    { min: 3, max: 5, message: '姓名的长度为 3 到 5', trigger: 'blur' },
  ],
  age: [
    { required: true, message: '请输入年龄' },
    { type: 'number', message: '请输入数字' }
  ],
  sex: [
    { required: true, message: '请选择性别', trigger: 'change' }
  ]
})

const submit = async () => {
  await ruleFormRef.value.validate()
  console.log('校验通过', ruleForm)
}


</script>

<template>
  <h1>home</h1>
  <el-form
    ref="ruleFormRef"
    :model="ruleForm"
    :rules="rules"
    label-width="120px"
    status-icon
  >
    <el-form-item label="姓名" prop="name">
      <el-input v-model="ruleForm.name" />
    </el-form-item>
    <el-form-item label="年龄" prop="age">
      <el-input v-model.number="ruleForm.age" />
    </el-form-item>
    <el-form-item label="性别" prop="sex">
      <el-select v-model="ruleForm.sex" placeholder="请选择性别">
        <el-option label="男" :value="1" />
        <el-option label="女" :value="0" />
      </el-select>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submit">提交</el-button>
    </el-form-item>
  </el-form>
  {{ ruleForm }}
</template>
