* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: non;
}
li {
  list-style-type: none;
}
html, body {
  width: 100%;
  height: 100%;
}
button {
  border: 1px solid #d4d4d4;
  height: 36px;
  padding: 0 20px;
  min-width: 50px;
  background: #ffffff;
  &:hover {
    border: 1px solid #4190f7;
    color: #4190f7;
  }
}
.primary {
  background: #4190f7;
  color: #ffffff;
  border: none;
  &:hover {
    color: #ffffff;
    opacity: 0.7;
  }
}
.por {
  position: relative;
}
.loadingBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}