// 定义动画
@keyframes aaaa {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box {
  width: 100px;
  height: 100px;
  background: rgba($color: #000000, $alpha: .7);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    width: 100%;
    height: 100%;
    position: relative;
    // transition: transform 1s linear;
    animation: aaaa 2s linear 1s infinite;
  }
  i {
    position: absolute;
    top: 20px;
    left: calc(50% - 1px);
    width: 2px;
    height: 15px;
    background: #ffffff;
    transform-origin: center 30px;
  }
  @for $i from 1 through 12 {
    i:nth-child(#{$i}) {
      transform: rotate(30deg * $i);
    }
  }
  // &:hover {
  //   p {
  //     transform: rotate(360deg);
  //   }
  // }
}


@keyframes ani1 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    width: 200px;
    height: 200px;
    background: tomato;
    transform: translate(calc(100vw - 106px), 0);
  }
  66% {
    transform: translate(calc(100vw - 106px), 394px) rotate(180deg);
  }
  100% {
    transform: translate(0, 394px) skew(80deg);
  }
}

.box1 {
  width: calc(100% - 6px);
  height: 500px;
  border: 3px solid salmon;
  p {
    width: 100px;
    height: 100px;
    background: blue;
    animation: ani1 5s linear 5 alternate forwards;
    &:hover {
      animation-play-state: paused;
    }
  }
}