@keyframes aaaa {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box {
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box p {
  width: 100%;
  height: 100%;
  position: relative;
  animation: aaaa 2s linear 1s infinite;
}

.box i {
  position: absolute;
  top: 20px;
  left: calc(50% - 1px);
  width: 2px;
  height: 15px;
  background: #ffffff;
  transform-origin: center 30px;
}

.box i:nth-child(1) {
  transform: rotate(30deg);
}

.box i:nth-child(2) {
  transform: rotate(60deg);
}

.box i:nth-child(3) {
  transform: rotate(90deg);
}

.box i:nth-child(4) {
  transform: rotate(120deg);
}

.box i:nth-child(5) {
  transform: rotate(150deg);
}

.box i:nth-child(6) {
  transform: rotate(180deg);
}

.box i:nth-child(7) {
  transform: rotate(210deg);
}

.box i:nth-child(8) {
  transform: rotate(240deg);
}

.box i:nth-child(9) {
  transform: rotate(270deg);
}

.box i:nth-child(10) {
  transform: rotate(300deg);
}

.box i:nth-child(11) {
  transform: rotate(330deg);
}

.box i:nth-child(12) {
  transform: rotate(360deg);
}

@keyframes ani1 {
  0% {
    transform: translate(0, 0);
  }
  33% {
    width: 200px;
    height: 200px;
    background: tomato;
    transform: translate(calc(100vw - 106px), 0);
  }
  66% {
    transform: translate(calc(100vw - 106px), 394px) rotate(180deg);
  }
  100% {
    transform: translate(0, 394px) skew(80deg);
  }
}

.box1 {
  width: calc(100% - 6px);
  height: 500px;
  border: 3px solid salmon;
}

.box1 p {
  width: 100px;
  height: 100px;
  background: blue;
  animation: ani1 5s linear 5 alternate forwards;
}

.box1 p:hover {
  animation-play-state: paused;
}
