.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.header {
  padding: 10px;
  line-height: 30px;
  height: 30px;
}
.center {
  flex: 1;
}
.btm {
  height: 50px;
  border-top: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 100px;
    height: 30px;
    margin: 0 10px;
  }
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}