<template>
  <div class="app">
    <h1>app组件</h1>
    <button @click="show = !show">菜单</button>
    <transition
      enter-active-class="animate__animated animate__lightSpeedInRight"
      leave-active-class="animate__animated animate__rollOut"
    >
      <div v-if="show">
        <img src="./assets/t1.png" alt="">
      </div>
    </transition>
  </div>
</template>

<script>

export default {
  data () {
    return {
      show: false
    }
  },
  components: {
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
img {
  width: 200px;
}
.app {
  width: 100vw;
  height: 100vh;
  background: #eeeeee;
}
</style>
