<template>
  <div id="app">
    <h1>绑定class和style</h1>
    <button @click="num--">-</button>
    {{num}}
    <button @click="num++">+</button>
    <!-- <div :class="['box', 'a', 'b', num > 10 ? 'red' : '', num < 10 ? 'green' : '']">box</div> -->
    <!-- <div class="box" :class="{ red: num > 10, green: num < 10 }">box</div> -->
    <!-- <div :class="['box', { red: num > 10, green: num < 10 }, { a: true, b: false }]">box</div> -->
    <div :style="[{ color: 'red', background: 'orange' }, { fontSize: '30px' }]">box</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num: 9
    }
  }
}

</script>

<style lang="scss">
.box {
  width: 100px;
  height: 100px;
  background: #cccccc;
}
.red {
  border: 3px solid red;
}
.green {
  border: 3px solid green;
}
</style>
