<template>
  <div class="app">
    <h1>app组件</h1>
    <input type="text" v-model="text"> {{ text }}
    <p v-if="text.length < 10">
      <button v-copy="text">复制</button>
    </p>
    <ul>
      <li v-for="item in arr" :key="item">
        {{ item }}
        <button v-copy="item">复制</button>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  data () {
    return {
      text: '111',
      arr: ['AAAA', 'BBBB', 'CCCCCC', 'DDDDDD']
    }
  },
  methods: {
    // copy (text) {
    //   console.log('复制', text)
    //   // 创建 textarea
    //   const textarea = document.createElement('textarea')
    //   // 把要复制的文字存到 textarea
    //   textarea.value = text
    //   // 把 textarea 添加到页面
    //   document.body.appendChild(textarea)
    //   // 选中 textarea 中的文字
    //   textarea.select()
    //   // js 调用复制功能
    //   document.execCommand('copy')
    //   // 删除 textarea
    //   document.body.removeChild(textarea)
    // }
  },
  components: {
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
img {
  width: 200px;
}
.app {
  width: 100vw;
  background: #eeeeee;
}
</style>
