<template>
  <div class="box">
    <div class="form-item">
      <div class="label">试卷名称：</div>
      <input type="text" placeholder="请输入试卷名称" v-model.trim="form.name">
    </div>
    <div class="form-item">
      <div class="label">备注：</div>
      <textarea placeholder="备注" v-model.trim="form.remark"></textarea>
    </div>
    <button class="primary" @click="submit">下一步</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        remark: ''
      }
    }
  },
  methods: {
    submit() {
      this.$emit('done', this.form)
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  width: 500px;
  margin: 0 auto;
}
.form-item {
  margin-bottom: 16px;
  .label {
    margin-bottom: 10px;
  }
  input {
    border: 1px solid #d9d9d9;
    height: 34px;
    padding: 3px 10px;
    width: 100%;
    outline: none;
    &:hover {
      border-color: #4190f7;
    }
    &:focus {
      border-color: #4190f7;
      box-shadow: 0px 0px 2px 1px #4190f7;
    }
  }
  textarea {
    border: 1px solid #d9d9d9;
    height: 100px;
    padding: 3px 10px;
    width: 100%;
    outline: none;
    &:hover {
      border-color: #4190f7;
    }
    &:focus {
      border-color: #4190f7;
      box-shadow: 0px 0px 2px 1px #4190f7;
    }
  }
}
</style>