<template>
  <div class="box">
    <h2>试卷信息</h2>
    <div class="info">
      <p>试卷名称: {{ info.name }}</p>
      <p>考试科目: {{ info.classify }}</p>
      <p>组卷方式: {{ info.isRandom ? '随机组卷' : '选题组卷' }}</p>
      <p>备注: {{ info.remark }}</p>
    </div>
    <ul class="list">
      <li>
        <b class="checkbox">序号</b>
        <b>题目</b>
        <b>题形</b>
        <b>答案</b>
      </li>
      <li v-for="(item, index) in info.selectQuestion" :key="item._id">
        <b class="checkbox">{{ index + 1 }}</b>
        <b>{{ item.question }}</b>
        <span>{{ getQuestionType(item.type) }}</span>
        <span>{{ item.answer }}</span>
      </li>
    </ul>
    <div class="btns">
      <button @click="$emit('prev')">上一步</button>
      <button class="primary" @click="$emit('done')">提交</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['info'],
  methods: {
    getQuestionType(type) {
      const arr = ['单选', '多选', '判断', '填空']
      return arr[type - 1]
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  width: 800px;
  margin: 0 auto;
}

.list {
  border: 1px solid #d9d9d9;
  li {
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
    .checkbox {
      flex: none;
      width: 80px;
      padding-right: 20px;
    }
    b, span {
      flex: 1;
    }
  }
}
</style>