<template>
  <div class="list" ref="list">
    <p
      v-for="(item, index) in filterList"
      :key="item"
      :class="{ active: curIndex === index }"
      @mouseenter="curIndex = index"
      v-html="format(item)"
      @click="$emit('add', item)"
    ></p>
    <div class="empty" v-if="filterList.length === 0">没有找到对应的结果</div>
  </div>
</template>

<script>
const enumCode = {
  UP: 38,
  DOWN: 40,
  ENTER: 13
}
export default {
  props: ['filterText'],
  data () {
    return {
      list: ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'Dallas', 'San Jose', 'Jacksonville'],
      curIndex: -1
    }
  },
  computed: {
    filterList () {
      return this.list.filter(v => {
        return v.toUpperCase().includes(this.filterText.toUpperCase())
      })
    }
  },
  methods: {
    format (text) {
      const reg = new RegExp(this.filterText, 'ig')
      return text.replace(reg, ($0) => {
        return `<b>${$0}</b>`
      })
    },
    keydown (e) {
      if (e.keyCode === enumCode.ENTER) {
        this.$emit('add', this.filterList[this.curIndex])
        return
      }
      // 上下键
      if (e.keyCode === enumCode.UP) {
        this.curIndex--
      } else if (e.keyCode === enumCode.DOWN) {
        this.curIndex++
      }
      // 处理边界问题
      if (this.curIndex < 0) {
        this.curIndex = this.filterList.length - 1
      } else if (this.curIndex > this.filterList.length - 1) {
        this.curIndex = 0
      }
      // 改变滚动条位置
      if (this.curIndex * 36 < this.$refs.list.scrollTop) {
        console.log('高亮在上方')
        this.$refs.list.scrollTop = this.curIndex * 36
      } else if (this.curIndex * 36 + 36 > this.$refs.list.scrollTop + this.$refs.list.clientHeight) {
        console.log('高亮在下方')
        this.$refs.list.scrollTop += 36
      }
    }
  },
  mounted () {
    document.addEventListener('keydown', this.keydown)
  },
  beforeDestroy () {
    document.removeEventListener('keydown', this.keydown)
  }
}
</script>

<style lang="scss" scoped>
.list {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #ffffff;
  p {
    line-height: 36px;
    padding: 0 16px;
    cursor: pointer;
    ::v-deep b {
      background: orangered;
    }
    &.active {
      background: #eeeeee;
    }
  }
}
.empty {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
</style>
