<script setup>
import { ref } from 'vue'
import { RouterView, RouterLink } from 'vue-router'
import Mine from '../../components/Mine.vue'

const showMine = ref(false)
</script>

<template>
  <div class="home">
    <nav>
      <div class="icon" @click="showMine = true">
        <i class="iconfont icon-caidan_o"></i>
      </div>
      <div class="center">
        <RouterLink replace to="/first"><i class="iconfont icon-wangyiyunyinle"></i></RouterLink>
        <RouterLink replace to="/second"><i class="iconfont icon-yinle"></i></RouterLink>
        <RouterLink replace to="/third"><i class="iconfont icon-wode"></i></RouterLink>
      </div>
      <div class="icon">
        <RouterLink to="/search"><i class="iconfont icon-sousuo"></i></RouterLink>
      </div>
    </nav>
    <main>
      <RouterView />
    </main>
  </div>
  <Teleport to="body">
    <Mine v-if="showMine" @close="showMine = false" />
  </Teleport>
</template>

<style lang='scss' scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.iconfont {
  font-size: 20px;
  color: #ffffff;
}
nav {
  height: 50px;
  // 使用css变量
  background: var(--primary-color);
  display: flex;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  .center {
    flex: 1;
    display: flex;
    justify-content: center;
    a {
      width: 50px;
      height: 50px;
      color: #ffffff;
      opacity: 0.6;
      &.router-link-active {
        opacity: 1;
      }
    }
  }
  .icon {
    width: 50px;
    height: 50px;
  }
}
main {
  flex: 1;
  overflow: hidden;
}
</style>
