<template>
  <div id="app">
    <h1>{{ title }}</h1>
    <p>
      <button @click="num--">-</button>
      {{ num }}
      <button @click="num++">+</button>
    </p>
    <!-- <p v-show="num < 0" class="red">元素小于0</p>
    <p v-show="num >= 0 && num < 10" class="green">0 - 10中间</p>
    <div v-show="num >= 10">其他</div> -->
    <p v-if="num < 0" class="red">元素小于0</p>
    <p v-else-if="num >= 0 && num < 10" class="green">0 - 10中间</p>
    <div v-else>其他</div>
  </div>
</template>

<script>
export default {
  data() {
    // 定义数据
    return {
      title: '开始学习vue',
      num: 10
    }
  }
}

// react 数据驱动视图更新，需要调用 setstate 更新数据
// vue 数据驱动视图更新，响应式数据，双向绑定
</script>

<style lang="scss">
.red {
  border: 1px solid red;
}
.green {
  border: 1px solid green;
}
</style>
