<script setup>
import { usePos } from '../hooks/usePos'
import { useCountDown } from '../hooks/useCountDown'

const pos = usePos()
const str = useCountDown(Date.now() + 600000)

</script>

<template>
  <div class="box">
    <h2>child2</h2>
    <h3>{{ str }}</h3>
    <p>{{ pos }}</p>
  </div>
</template>

<style scoped>
.box {
  border: 1px solid;
  padding: 40px;
}
</style>
