<script setup>
import Child2 from './Child2.vue'
import { usePos } from '../hooks/usePos'

// 使用自定义 hook 抽离公共逻辑
const pos = usePos()

</script>

<template>
  <div class="box">
    <h2>child1</h2>
    {{ pos }}
    <Child2 />
  </div>
</template>

<style scoped>
.box {
  border: 1px solid;
  padding: 40px;
}
</style>
