<script setup>
import { ref, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue'

const title = ref('生命周期')

onMounted(() => {
  console.log('页面挂载完成', document.querySelector('h1'))
})
onUpdated(() => {
  console.log('页面更新完成', document.querySelector('h1').outerHTML)
})

</script>

<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
</template>

<style lang="scss">
h1 {
  color: red;
}
.box {
  width: 100px;
  height: 100px;
  background: tomato;
}
</style>
