<template>
  <div>
    <h1>.sync修饰符</h1>
    <!-- 完整写法 -->
    <!-- <Child
      :username="username"
      :age="age"
      @update:username="username = $event"
      @update:age="age = $event"
    /> -->
    <!-- .sync修饰符 -->
    <Child :username.sync="username" :age.sync="age" />
  </div>
</template>

<script>
import Child from './components/Child.vue'

export default {
  data() {
    return {
      username: '王小明',
      age: 22
    }
  },
  methods: {
  },
  components: {
    Child
  }
}
</script>

<style>

</style>