@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html, body, .app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  border-bottom: 1px solid #cccccc;
  display: flex;
}

.header .logo {
  width: 200px;
}

.header .nav {
  flex: 1;
}

.header .icon {
  width: 200px;
}

.header .show-icon {
  display: none;
}

.menu {
  display: none;
  height: 50px;
  background: tomato;
}

.content {
  flex: 1;
  display: flex;
}

.content .left {
  width: 200px;
  border-right: 1px solid #cccccc;
}

.content .right {
  flex: 1;
}

@media screen and (max-width: 1200px) {
  .header .icon {
    display: none;
  }
  .header .show-icon {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .content .left {
    display: none;
  }
  .menu {
    display: block;
  }
}

/*
ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  li {
    width: calc((100% - 60px) / 5);
    height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: tomato;
  }
}

// 媒体查询，根据不同的屏幕添加不同的样式
@media screen and (max-width: 1000px) and (min-width: 800px) {
  ul li {
    width: calc((100% - 50px) / 4);
  }
}
@media screen and (max-width: 800px) and (min-width: 500px) {
  ul li {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 500px) {
  ul li {
    width: calc(100% - 20px);
  }
}
*/
